<div class="page-content">
  <app-toolbar-table
    [title]="'Add a Team Lead'"
    [backExists]="true"
    [btnAdd]="false"
    [exports]="true"
    [backIcon]="'back-icon'"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Team'"
    [col2Name]="'Officer'"
    [col3Name]="'Start Date'"
    [col4Name]="'Name EN'"
    [col5Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewTeamLeadTable]="true"
  ></app-table>
</div>
