<app-toolbar-form
  [header]="'Client Guarantor'"
  [header]="editMode ? 'Edit Client Guarantor' : 'Add Client Guarantor'"
  [backExists]="true"
  [viewOnly]="false"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addClientGuarantorsLookupsForm"
        [title]="'Client Guarantor'"
        [description]="
          'Introduce your Client Guarantor core info quickly to users by fill up client details'
        "
        [formGroup]="addClientGuarantorsLookupsForm"
        [editMode]="editMode"
        (submitForm)="addOrEditClientGuarantors()"
        [viewOnly]="viewOnly"
        [clientsList]="clientsList$ | async"
        [addClientGuarantorsLookupsForm]="true"
      >
      </app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
