:host {
  --p-tabs-active-bar-background: #0a69bb;
  --custom-color-white: #fff;
  --custom-width-20: 20%;
  --custom-position-auto: auto;
  --custom-position-28: 28px;
  --custom-position-center: center;
  --custom-padding-20: 20px;
  --custom-width-100: 100%;
  --custom-position-0: 0px;
  --custom-font-size-18: 18px;
  --custom-weight-700: 700;
  --custom-font-epilogue: "epilogue";
  --custom-line-height-28: 28.8px;
  --custom-height-70: 70vh;
  --custom-cursor: pointer;
  --custom-width-30: 30%;
  --custom-width-94: 94%;
  --custom-background-transparent: transparent;

  &::ng-deep {
    .p-tabs {
      padding: var(--custom-padding-right-10);
      zoom: 80%;
    }
    .p-button {
      flex-direction: var(--custom-flex-direction-row-reverse);
      background: var(--custom-background-transparent);
      border-radius: var(--custom-size-8);
      padding-top: var(--custom-size-8);
      padding-right: var(--custom-size-16);
      padding-bottom: var(--custom-size-8);
      padding-left: var(--custom-size-16);
      border: var(--custom-border);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight);
      font-size: var(--custom-font-size-13);
      line-height: var(--custom-font-size-24);
    }
    .p-tablist-tab-list {
      background: var(--bg-transparent);
    }
    .p-button:not(:disabled):hover {
      background: var(--p-tabs-active-bar-background) !important;
      border: none;
    }
    .custom-next {
      background: var(--p-tabs-active-bar-background);
      text-align: var(--custom-position-center);
      padding: var(--custom-padding-20);
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
      color: var(--custom-color-white);
    }
    .two-buttons {
      margin-left: auto;
      width: 65.9%;
    }
    .custom-save {
      background: var(--p-tabs-active-bar-background);
      margin-left: var(--custom-position-auto);
      margin-right: var(--custom-position-28);
      text-align: var(--custom-position-center);
      padding: 14px 71px;
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
      color: var(--custom-color-white);
    }
    .custom-save2 {
      background: var(--p-tabs-active-bar-background);
      margin-left: var(--custom-position-auto);
      margin-right: var(--custom-position-28);
      text-align: var(--custom-position-center);
      padding: 14px 27px;
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
      color: var(--custom-color-white);
    }
    .p-button-label {
      font-weight: var(--custom-weight-700);
      font-size: var(--custom-font-size-18);
      font-family: var(--custom-font-epilogue);
      line-height: var(--custom-line-height-28);
    }
    .custom-back .p-button {
      background: var(--custom-background-transparent);
      border: 1px solid var(--p-tabs-active-bar-background);
      color: var(--p-tabs-active-bar-background) !important;
      text-align: var(--custom-position-center);
      padding: 21px 69px;
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
    }
    .custom-back .p-button:not(:disabled):hover {
      background: white !important;
      border: 1px solid var(--p-tabs-active-bar-background) !important;
    }
    .custom-next .p-button:not(:disabled):hover {
      background: #fff !important;
    }
    .p-multiselect,
    .p-select {
      color: var(--custom-grey-bold);
      margin-bottom: var(--custom-size-16);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
      height: 50px;
      padding: 3px 8px;
    }
    .p-multiselect-label:has(.p-chip) {
      padding: 0;
    }
    /*responsiveness*/
    @media only screen and (max-width: 981px) {
      .two-buttons {
        width: 100%;
        margin-left: 0;
        gap: 20px;
        div {
          width: 100%;
          padding: 0;
          .custom-save {
            margin-top: 0px !important;
            width: 100%;
          }
          .custom-back .p-button {
            width: 100%;
          }
          .custom-save2 {
            width: 100%;
          }
        }
      }
      .custom-save {
        width: 100%;
      }
    }
    @media only screen and (max-width: 600px) {
      .two-buttons {
        width: 100%;
        margin-left: 0;
        gap: 20px;
      }
      .nextBtn {
        width: var(--custom-size-100);
      }
      .custom-save {
        width: 100%;
        display: block;
        margin-top: 10px !important;
      }
      .p-toolbar-end {
        width: var(--custom-size-100);
      }
      p.client {
        width: var(--custom-size-100);
        justify-content: var(--custom-justify-content-between);
      }
      .p-toolbar-start {
        width: var(--custom-size-100);
      }

      .custom-back {
        margin-right: var(--custom-position-0);
        margin-left: var(--custom-position-auto);
        margin-bottom: 0;
      }
      .custom-back .p-button {
        width: var(--custom-width-100);
      }
    }
  }
}
:host {
  --p-tabs-active-bar-background: #0a69bb;
  --p-chip-remove-icon-color: #0a69bb;
  --custom-color: #ffb836;
  --custom-grey: #7c8493;
  --custom-red: #fc1e1e;
  --custom-color-white: #f8f8fd;
  --custom-color-grey-light: #d6ddeb;
  --p-checkbox-checked-background: #0a69bb;
  --p-checkbox-checked-border-color: #0a69bb;
  --p-checkbox-checked-hover-border-color: #0a69bb;
  --p-checkbox-checked-focus-border-color: #0a69bb;
  --p-checkbox-checked-hover-background: #0a69bb;
  --custom-font-family: "poppins-bold";
  --custom-font-family-regular: "poppins";
  --custom-font-family-epilogue: "epilogue";
  --custom-border: none;
  --custom-background-transparent: transparent;
  --custom-flex-direction: row-reverse;
  --custom-font-weight: 700;
  --custom-font-weight-600: 600;
  --custom-font-weight-400: 400;
  --custom-font-size-24: 24px;
  --custom-font-size-14: 14px;
  --custom-font-size-13: 13px;
  --custom-font-size-18: 18px;
  --custom-line-height: 28.8px;
  --custom-size-4: 4px;
  --custom-size-8: 8px;
  --custom-size-12: 12px;
  --custom-size-16: 16px;
  --custom-width: 30%;
  --custom-font-size-27: 27px;
  --custom-margin-bottom-5: 5px;
  --custom-line-height-25: 25.6px;
  --custom-border-width: 1px;
  --custom-padding-top: 6px;
  --custom-padding-right-10: 10px;
  --custom-border-radius-80: 80px;
  --custom-position-20: 20px;
  --custom-position-28: 28px;
  --custom-margin-0: 0px;
  --custom-position-center: center;
  --custom-display: flex;
  --custom-size-100: 100%;
  --custom-size-80: 80%;
  --custom-position-right: right;
  --custom-flex-direction: column;
  --custom-justify-content-between: space-between;
  --custom-flex-direction-row-reverse: row-reverse;
  &::ng-deep {
    .p-tabs {
      padding: var(--custom-padding-right-10);
    }
    .p-button {
      border-radius: var(--custom-size-8);
      padding-top: var(--custom-size-8);
      padding-right: var(--custom-size-16);
      padding-bottom: var(--custom-size-8);
      padding-left: var(--custom-size-16);
      border: var(--custom-border);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight);
      font-size: var(--custom-font-size-13);
      line-height: var(--custom-font-size-24);
    }
    .p-datepicker {
      width: 100%;
    }
    .p-datepicker-day-selected {
      background: var(--p-tabs-active-bar-background);
    }
    .p-datepicker-input-icon-container {
      top: 40%;
    }

    .p-button:not(:disabled):hover {
      background-color: var(--p-tabs-active-bar-background);
      border: var(--custom-border);
    }

    .p-tieredmenu {
      width: 100%;
      height: 100px;
      justify-content: start;
      align-items: center;
      display: flex;
      border-radius: 0;
      border: none;
    }
    .p-tieredmenu-item-label,
    .p-tieredmenu-item-icon {
      color: var(--p-tabs-active-bar-background);
    }

    .p-tieredmenu-item:not(.p-disabled) > .p-tieredmenu-item-content:hover {
      background: transparent;
    }
    .nextBtn {
      border-radius: var(--custom-margin-0);
      margin-top: var(--custom-position-20);
      padding-top: var(--custom-font-size-14);
      padding-right: var(--custom-font-size-27);
      padding-bottom: var(--custom-font-size-14);
      padding-left: var(--custom-font-size-27);
      font-size: var(--custom-font-size-18);
      float: var(--custom-position-right);
      font-family: var(--custom-font-family-epilogue);
      width: var(--custom-width);
    }
    .badge-warning {
      color: var(--custom-color);
      border: 1px solid var(--custom-color);
      font-family: var(--custom-font-family-epilogue);
      font-size: var(--custom-font-size-14);
      font-weight: var(--custom-font-weight-600);
      margin-bottom: var(--custom-margin-bottom-5);
      line-height: var(--custom-line-height-25);
      border-width: var(--custom-border-width);
      padding-top: var(--custom-padding-top);
      padding-right: var(--custom-padding-right-10);
      padding-bottom: var(--custom-padding-top);
      padding-left: var(--custom-padding-right-10);
      border-radius: var(--custom-border-radius-80);
      margin-left: var(--custom-position-20);
      margin-bottom: var(--custom-margin-0);
    }

    .p-tab {
      font-family: var(--custom-font-family);
      font-weight: var(--custom-font-weight-600);
      font-size: var(--custom-size-16);
      line-height: var(--custom-line-height-25);
      color: var(--custom-grey);
    }
    .p-tab-active {
      border-color: var(--p-tabs-active-bar-background);
      color: var(--p-tabs-active-bar-background);
    }
    .p-inputtext {
      color: var(--custom-grey-bold);
      margin-bottom: var(--custom-size-16);
      padding: var(--custom-size-12) var(--custom-size-16);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
    }
    .p-multiselect {
      width: var(--custom-size-100);
      margin-bottom: var(--custom-size-16);
      padding: var(--custom-size-8);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
    }
    .p-select {
      width: var(--custom-size-100);
      margin-bottom: var(--custom-size-16);
      padding: var(--custom-size-8);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
    }
    .p-chip {
      padding-top: var(--custom-size-4);
      padding-right: var(--custom-size-4);
      padding-bottom: var(--custom-size-4);
      background: var(--custom-color-white);
      padding-left: var(--custom-size-12);
      border-radius: var(--custom-margin-0);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight-400);
      font-size: var(--custom-size-16);
      line-height: var(--custom-line-height-25);
      color: var(--p-tabs-active-bar-background);
    }
    .p-toolbar {
      padding-right: var(--custom-position-28) !important;
    }
    .p-splitbutton {
      width: 100%;
      flex-direction: row-reverse;
    }
    .work-actions {
      width: 100%;
    }
    .p-steppanels {
      padding: 0;
    }
    .custom-next .p-button {
      padding-block: 0;
    }
    .p-button {
      border-radius: 0;
    }
    .p-tieredmenu {
      top: 45px !important;
      position: absolute;
    }

    /*responsiveness*/
    @media only screen and (max-width: 600px) {
      .nextBtn {
        width: var(--custom-size-100);
      }
      .p-toolbar-end,
      p-button {
        width: var(--custom-size-100);
      }
      p.client {
        width: var(--custom-size-100);
        justify-content: var(--custom-justify-content-between);
      }
      .p-toolbar-start {
        width: var(--custom-size-100);
      }
      .p-splitbutton {
        width: 100%;
        flex-direction: column;
      }
      .work-actions {
        width: 100%;
      }
      .p-splitbutton-button.p-button {
        border-radius: 0;
        border-bottom: none;
      }
      .p-button {
        border-radius: 0;
      }
      .p-tieredmenu {
        position: absolute;
        top: 75px !important;
      }
      .custom-next {
        width: 100%;
        display: block;
        margin-top: 10px !important;
      }
    }
  }
}
h2 {
  font-family: var(--custom-font-family-regular);
  font-weight: var(--custom-font-weight-600);
  font-size: var(--custom-size-16);
  line-height: var(--custom-line-height-25);
}
p.client {
  font-family: var(--custom-font-family);
  font-weight: var(--custom-font-weight);
  font-size: var(--custom-font-size-24);
  line-height: var(--custom-line-height);
  margin-bottom: var(--custom-margin-0);
  align-items: var(--custom-position-center);
  display: var(--custom-display);
}
.pi-angle-left {
  font-size: 30px;
}
.tab-panel-paragraph {
  font-family: var(--custom-font-family-regular);
  font-weight: var(--custom-font-weight-400);
  font-size: var(--custom-size-16);
  line-height: var(--custom-line-height-25);
  color: var(--custom-grey);
}
form {
  display: var(--custom-display);
  flex-direction: var(--custom-flex-direction);
  label {
    font-family: var(--custom-font-family-regular);
    font-weight: var(--custom-font-weight-600);
    font-size: var(--custom-size-16);
    line-height: var(--custom-line-height-25);
    color: var(--custom-grey-bold);
    sup {
      color: var(--custom-red);
    }
  }
}
.margin-top {
  margin-top: 32px;
  margin-bottom: 32px;
}
