<app-toolbar-form
  [header]="'Upload Documents'"
  [backExists]="true"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="uploadForm"
        [title]="'Main Information'"
        [formGroup]="uploadForm"
        [documents]="documentTypes"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [uploadDocumentsShowMain]="true"
        (submitForm)="addDocument()"
        (onFileSelect)="onFileSelected($event)"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
