<app-toolbar-form
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="false"
  [header]="
    viewOnly ? 'View Mandates' : editMode ? 'Edit Mandate' : 'Add Mandate'
  "
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
  <p-tabs styleClass="p-3">
    <p-tabpanel header="Basic">
      <app-form
        [title]="'Basic Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addMandateShowBasicForm]="true"
        [formGroup]="basicForm"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        [clientNames]="clientNames$ | async"
        [validityUnits]="validityUnits$ | async"
        [products]="products$ | async"
        [leasingTypes]="leasingTypes$ | async"
        [insuredBy]="insuredBy$ | async"
      ></app-form>
      <hr />
    </p-tabpanel>
    <p-tabpanel header="Officers">
      <app-form
        [title]="'Officers'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowOfficersForm]="true"
        [formGroup]="officersForm"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        [officers]="officers$ | async"
        (removeOfficer)="removeOfficer($event)"
        (addOfficer)="addOfficer()"
      ></app-form>
      <hr />
    </p-tabpanel>
    <p-tabpanel header="Contact Persons">
      <app-form
        [title]="'Contact Persons'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowContactPersonsForm]="true"
        [formGroup]="contactsForm"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        [contactPersonsList]="contactPersons$ | async"
        (removeContactPerson)="removeContactPerson($event)"
        [currentClientId]="basicForm.get('clientId')?.value"
        (addContactPerson)="addContactPerson()"
        (viewContactPersons)="viewContactPersons($event)"
      ></app-form>
      <hr />
    </p-tabpanel>
    <p-tabpanel header="Asset Types">
      <app-form
        [title]="'Asset Type'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowAssetTypeForm]="true"
        [formGroup]="assetsForm"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        [assetTypesList]="assetTypes$ | async"
        (removeAssetType)="removeAssetType($event)"
        (addAssetType)="addAssetType()"
      ></app-form>
      <hr />
    </p-tabpanel>
    <p-tabpanel header="More Information">
      <app-form
        [title]="'More Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addMandateShowMoreInformationForm]="true"
        [formGroup]="moreInfoForm"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        (removeFee)="removeFee($event)"
        (addFee)="addFee()"
        [gracePeriodUnitsList]="gracePeriodUnits$ | async"
        [feesList]="feeTypes$ | async"
      ></app-form>
    </p-tabpanel>
  </p-tabs>
  <button pButton type="submit" label="Save Mandate"></button>
</form>
