<div class="page-content">
  <app-toolbar-table
    [title]="'TML Officer'"
    [labelBtn]="'Add TML Officer'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="addTMLOfficer()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Officer Type'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [viewTMLOfficerTable]="true"
  ></app-table>
</div>
