.meeting-details {
  font-family: "poppins";
  font-weight: 600;
  margin-left: 10px;
}
.text-right .view {
  padding: 0px 20px;
}
.current-month {
  font-size: 20px;
  padding-left: 120px;
  font-weight: 600;
  color: cornflowerblue;
}
:host {
  &::ng-deep {
    .fc-day-number {
      color: #3873f1;
      text-decoration: none !important;
      font-family: "poppins";
      font-size: 14px;
      font-weight: 600;
    }
    a:hover {
      background-color: var(--fc-event-bg-color);
    }
    .fc-col-header-cell-cushion:hover {
      background-color: transparent;
    }
    .fc-col-header-cell-cushion {
      text-decoration: none !important;
    }
  }
}
