<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Sales Turnover'
      : editMode
      ? 'Edit Sales Turnover'
      : 'Add Sales Turnover'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="''"
        [description]="'Client Sales Turnover'"
        [addSalesTurnoverForm]="true"
        [formGroup]="addSalesTurnoverForm"
        (submitForm)="addOrEditClientSalesTurnover()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
