<!-- <div class="page-content">
  <app-toolbar-table
    [title]="'Payment Month Days'"
    [labelBtn]="'Add Payment Month Days'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name'"
    [col3Name]="'Arabic Name'"
    [col4Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewPaymentMethodsTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div> -->
