<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
    <p-button
      *ngIf="addClientAddressesLookupsForm"
      icon="pi pi-cog"
      label="View Address Details"
      icon="pi pi-cog"
      (click)="viewClientAddressDetails()"
      class="custom-view m-0 float-right"
    />
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      [formGroup]="formGroup"
      *ngIf="addClientAddressesLookupsForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="addressTypeId">Address Type<sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="addressTypesList"
        optionLabel="name"
        placeholder="Select Address Type"
        formControlName="addressTypeId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('addressTypeId')?.invalid &&
            (formGroup.get('addressTypeId')?.dirty ||
              formGroup.get('addressTypeId')?.touched)
        }"
      />
      <label for="countryId">Country<sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="countriesList"
        optionLabel="name"
        placeholder="Select Country"
        formControlName="countryId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('countryId')?.invalid &&
            (formGroup.get('countryId')?.dirty ||
              formGroup.get('countryId')?.touched)
        }"
      />
      <label for="governorateId">Governorate<sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="governoratesList"
        optionLabel="name"
        placeholder="Select governorate"
        formControlName="governorateId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('governorateId')?.invalid &&
            (formGroup.get('governorateId')?.dirty ||
              formGroup.get('governorateId')?.touched)
        }"
      />
      <label for="areaId">Area<sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="areasList"
        optionLabel="name"
        placeholder="Select Area"
        formControlName="areaId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('areaId')?.invalid &&
            (formGroup.get('areaId')?.dirty || formGroup.get('areaId')?.touched)
        }"
      />
      <label for="details">Details in English<sup>*</sup></label>
      <input
        pInputText
        id="details"
        formControlName="details"
        placeholder="Details in English"
      />
      <div
        *ngIf="
          formGroup.get('details')?.hasError('required') &&
          formGroup.get('details')?.touched
        "
        class="p-error"
      >
        Details in English is required.
      </div>
      <label for="detailsAR">Details in Arabic<sup>*</sup></label>
      <input
        pInputText
        id="detailsAR"
        formControlName="detailsAR"
        placeholder="Details in Arabic"
      />
      <div
        *ngIf="
          formGroup.get('detailsAR')?.hasError('required') &&
          formGroup.get('detailsAR')?.touched
        "
        class="p-error"
      >
        Details in Arabic is required.
      </div>

      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 companyTypesDiv"
          *ngIf="!editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Add Client Addresses"
            [disabled]="formGroup.invalid"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 companyTypesDiv"
          *ngIf="editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Edit Client Addresses"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          *ngIf="viewOnly && !editMode"
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 companyTypesDiv"
        >
          <p-button
            label="Close"
            class="custom-save m-0 float-right"
            (click)="router.navigate([`/crm/clients/view-client-addresses/${this.clientIdParam}`])"
          />
        </div>
      </div>
    </form>
  </div>
</div>
