<app-toolbar-form
  [header]="'Share Holder'"
  [backExists]="true"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'Main Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company
details'
        "
        [addShareHolderShowMain]="true"
      ></app-form>

      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
          (click)="addShareHolder()"
        >
          <p-button
            label="Add Share Holder"
            class="custom-save m-0 float-right"
          />
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
