<div class="page-content">
  <app-toolbar-table
    [title]="' Followup'"
    [labelBtn]="'Add  Followup'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddFollowup()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="followups$ | async as followups">
    <app-table
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredFollowups"
      [edit]="true"
      [delete]="true"
      [side]="true"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewFollowupTable]="true"
      (wizardBtn)="onAddSide($event)"
      (onDelete)="onDeleteFollowup($event)"
      (onEdit)="onEditFollowup($event)"
      (viewForm)="onViewFollowup($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
