<div class="page-content">
  <app-toolbar-table
    [title]="'Clients'"
    [labelBtn]="'Add Client'"
    [iconBtn]="'plus-icon'"
    [backIcon]="''"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddClient()"
    (searchChange)="filterClients($event)"
  ></app-toolbar-table>
  <!-- <app-table
    [cols]="colsInside"
    [tableData]="filteredTableData"
    [col1Name]="'Name EN'"
    [col2Name]="'Name AR'"
    [col3Name]="'Business Activity'"
    [col4Name]="'isIscore'"
    [col5Name]="'Tax Name'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewClientTable]="true"
    (wizardBtn)="onAddSide()"
  ></app-table> -->
  <app-table
  [cols]="colsInside"
  [tableData]="tableDataInside"
  [edit]="true"
  [delete]="true"
  [side]="true"
  [checkBox]="true"
  [uppercase]="'uppercase'"
  [viewClientTable]="true"
  (wizardBtn)="onAddSide()"
></app-table>

</div>
