<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Document Type'
      : editMode
      ? 'Edit Document Type'
      : 'Add Document Type'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addDocTypesLookupsForm"
        [description]="''"
        [formGroup]="addDocTypesLookupsForm"
        [addDocTypesForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditDocTypes()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
