<app-toolbar-form [header]="'Address'" [backExists]="true"></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'Main Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addAddressShowMain]="true"
      ></app-form>

      <div class="row justify-end">
        <div
          class="col-sm-12 col-md-6 d-flex justify-end margin-top"
          (click)="addAddress()"
        >
          <p-button label="Add Address" class="custom-save m-0 float-right" />
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
