<div class="page-content">
  <app-toolbar-table
    [title]="'Contact Person'"
    [backIcon]="'back-icon'"
    [btnAdd]="false"
    [backExists]="true"
    [exports]="true"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Must Attend'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewContactPersonCommunicationTable]="true"
  ></app-table>
</div>
