<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Clients/Post'"
    [title]="'Clients'"
    [labelBtn]="'Add Client'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddClient()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="clients$ | async as clients">
    <app-table
      [viewPermission]="[
        '/Clients/Get',
        '/Clients/GetAll',
        '/Clients/GetAllHistory'
      ]"
      [editPermission]="'/Clients/Put'"
      [deletePermission]="'/Clients/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredClients"
      [side]="true"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewClientTable]="true"
      (onDelete)="onDeleteClient($event)"
      (onEdit)="onEditClient($event)"
      (wizardBtn)="onAddSide($event)"
      (viewForm)="onViewClient($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
