<app-toolbar-form
  [header]="editMode ? 'Edit Client Status Action' : 'Add Client Status Action'"
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addClientStatusActionsLookupsForm"
        [title]="'Main Information'"
        [description]="
          'Introduce your area core info quickly to users by fill up area details'
        "
        [formGroup]="addClientStatusActionsLookupsForm"
        [addStatusActionsLookupsForm]="true"
        [editMode]="editMode"
        [statusList]="statusList$ | async"
        [workflowActionTypeList]="workflowActionTypeList$ | async"
        (submitForm)="addOrEditClientStatusActions()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
