<p-multi-select
  [options]="filteredSubSectors"
  optionLabel="name"
  placeholder="Select Sub Sector"
  [(ngModel)]="value"
  (ngModelChange)="updateValue($event)"
  display="chip"
  icon="pi pi-times"
  chipIcon="pi pi-times"
  [ngClass]="{
    'ng-invalid':
      formControl?.invalid && (formControl?.touched || formControl?.dirty)
  }"
>
</p-multi-select>

<small
  class="p-error"
  *ngIf="formControl?.invalid && (formControl?.touched || formControl?.dirty)"
>
  Sub Sector is required.
</small>
