<ng-container *ngIf="subSectorsSafe$ | async as subSectors">
  <p-multi-select
    [options]="subSectors ?? []"
    [formControl]="formControl"
    optionLabel="name"
    optionValue="id"
    placeholder="Select Sub Sector"
    display="chip"
    icon="pi pi-times"
    chipIcon="pi pi-times"
    (onChange)="updateValue($event)"
  >
  </p-multi-select>

  <div
    class="p-error"
    style="color: var(--custom-red)"
    *ngIf="formControl?.invalid && (formControl?.touched || formControl?.dirty)"
  >
    Sub Sector is required.
  </div>
</ng-container>
