<div class="page-content">
  <app-toolbar-table
    [title]="'Payment Periods'"
    [labelBtn]="'Add Payment Period'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddPaymentPeriod()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="PaymentPeriods$ | async as PaymentPeriods">
    <app-table
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredPaymentPeriod"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewPaymentPeriodsTable]="true"
      (onDelete)="onDeletePaymentPeriod($event)"
      (onEdit)="onEditPaymentPeriod($event)"
      (viewForm)="onViewPaymentPeriod($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
