<div class="page-content">
  <app-toolbar-table
    [title]="'Calls'"
    [backIcon]="'back-icon'"
    [btnAdd]="false"
    [backExists]="false"
    [exports]="true"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col4Name]="'Topic'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col5Name]="'Call Type'"
    [col6Name]="'Date'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [checkBox]="true"
    [viewCallsCommunicationTable]="true"
    (wizardBtn)="onAddSide()"
  ></app-table>
</div>
