<!-- <app-table
  [pageTitleKey]="pageTitleKey"
  [data]="transformedCompanies"
  [tableConfig]="companiesConfig"
  [showDeleteButton]="true"
  [showCheckboxes]="true"
  [showToggle]="true"
  [showToolbar]="true"
  [showAddButton]="true"
  [showEditButton]="true"
  [showdropdown]="true"
  (pdfCallback)="exportPDF($event)"
  (excelCallback)="exportExcel()"
  (addCallback)="addCompany($event)"
  (editCallback)="editCompany($event)"
  (deleteCallback)="deleteCompany($event)"
  (deleteSelectedCallback)="deleteSelected($event)"
  (checkboxChange)="handleCheckboxChange($event)"
  [currentPage]="currentPage"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [options]="clientOptions"
  (clientOptionChange)="onClientOptionChange(Company)"
  (onPageChange)="handlePageChange($event)"
  dataKey="id"
  (rowClick)="handleClientRowClick($event)"
></app-table> -->
<p>companies works</p>
