.caption {
  font-family: "poppins";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: rgba(37, 50, 75, 1);
}
::ng-deep .p-toolbar {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
::ng-deep .p-datatable-table {
  border: 1px solid black;
  width: 80%;
}
.addClientBtn {
  background-color: rgba(10, 105, 187, 1);
  color: #fff;
  border-radius: 0px;
  border: none;
  font-family: "poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
}
button {
  display: flex;
  margin: 0px 10px;
  margin: 0;
}

.pdfBtn,
.excelBtn,
.filterBtn {
  color: rgba(10, 105, 187, 1);
  font-family: "poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 25.6px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 0px;
  border: none;
  padding: 15px;
}
.filterBtn {
  border: 1px solid rgba(214, 221, 235, 1);
  background-color: transparent;
  color: rgba(37, 50, 75, 1);
}
.searchIcon {
  border: 1px solid #d6ddeb;
  display: flex;
  padding: 15px;
  img {
    padding-right: 10px;
  }
}
