<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/MandateAdditionalTerms/Post'"
    [title]="'Mandate Officers'"
    [labelBtn]="'Add Mandate Officer'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddMandateOfficer()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="mandateOfficers$ | async as mandateOfficers">
    <app-table
      [viewPermission]="[
        '/MandateAdditionalTerms/Get',
        '/MandateAdditionalTerms/GetAll',
        '/MandateAdditionalTerms/GetAllHistory'
      ]"
      [editPermission]="'/MandateAdditionalTerms/Put'"
      [deletePermission]="'/MandateAdditionalTerms/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredMandateOfficers"
      [side]="false"
      [download]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewMandateOfficersTable]="true"
      (onDelete)="onDeleteMandateOfficer($event)"
      (onEdit)="onEditMandateOfficer($event)"
      (viewForm)="onViewMandateOfficers($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
