<div class="page-content">
  <app-toolbar-table
    [title]="'Call Action Types'"
    [labelBtn]="'Add Call Action Type'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddCallActionType()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <!-- subscribe once to callActionTypes$ -->
  <ng-container *ngIf="callActionTypes$ | async as callActionTypes">
    <app-table
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredCallActionTypes"
      [edit]="true"
      [delete]="true"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewCallActionTypesTable]="true"
      (onDelete)="onDeleteCallActionTypeId($event)"
      (onEdit)="onEditCallActionType($event)"
      (viewForm)="onViewCallActionType($event)"
    ></app-table>

    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
