<div class="page-content">
  <app-toolbar-table
    [title]="'Calculations'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    [btnAdd]="false"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Payment Number'"
    [col2Name]="'Due Date'"
    [col3Name]="'Balance Before'"
    [col4Name]="'Balance After'"
    [col5Name]="'Insurance Outcome'"
    [col6Name]="'Principal'"
    [col7Name]="'Installment'"
    [col8Name]="'Interest'"
    [edit]="false"
    [delete]="false"
    [side]="false"
    [download]="false"
    [checkBox]="false"
    [filters]="false"
    [viewCalculationsTable]="true"
  ></app-table>
</div>
