<div class="page-content">
  <app-toolbar-table
    [title]="'Meeting Types'"
    [labelBtn]="'Add Meeting Types'"
    [backIcon]="'back-icon'"
    [btnAdd]="true"
    [backExists]="true"
    [exports]="true"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewMeetingTypesCommunicationTable]="true"
  ></app-table>
</div>
