<app-toolbar-form
  [backExists]="true"
  [backIcon]="'back-icon'"
  [header]="
    viewOnly
      ? 'View Agreement Contact Person'
      : editMode
      ? 'Edit Agreement Contact Person'
      : 'Add Agreement Contact Person'
  "
  [viewOnly]="viewOnly || editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'AGREEMENT.AGREEMENT_CONTACT_PERSONS'"
        [description]="'AGREEMENT.AGREEMENT_CONTACT_PERSONS_DESC'"
        [formGroup]="addAgreementContactPersonForm"
        [addMandateContactPersonForm]="true"
        [editMode]="editMode"
        (submitForm)="onSubmit()"
        [viewOnly]="viewOnly"
        [contactPersonsList]="contactPersons$ | async"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
