<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Authority Office'
      : editMode
      ? 'Edit Authority Office'
      : 'Add Authority Office'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addAuthorityOfficesLookupsForm"
        [title]="''"
        [description]="
          'Introduce your authority office core info quickly to users by fill up authority office details'
        "
        [formGroup]="addAuthorityOfficesLookupsForm"
        [addAuthorityOfficesLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditAuthorityOffice()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
