<div class="page-content">
  <app-toolbar-table
    [title]="'Central Bank Info'"
    [labelBtn]="'Add Central Bank Info'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="onAddCentralBankInfo()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Date'"
    [col2Name]="'Client Name'"
    [col3Name]="'Company Code '"
    [col4Name]="'Company Type'"
    [col5Name]="'CBE Code'"
    [col6Name]="'IsActive'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewCentralBankInfoTable]="true"
  ></app-table>
</div>
