<p-toolbar>
  <ng-template #start>
    <div class="name-container">
      <p-avatar
        image="/assets/images/shared/navbar/toggle.svg"
        (click)="toggleMenu()"
      />
      <div>
        <p class="welcome">Welcome</p>
        <p class="name">
          <span>Mohamed Yasser</span>
          <img
            src="/assets/images/shared/navbar/arrow-bottom.svg"
            alt="arrow-bottom"
            class="d-inline-block"
          />
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-4">
      <p-toggleswitch
        [(ngModel)]="darkMode"
        (onChange)="toggleTheme($event.checked)"
      >
        <ng-template #handle let-checked="checked">
          <i [ngClass]="['!text-xs', 'pi', checked ? 'moon' : 'sun']"></i>
          <span class="text-toggle">{{ checked ? "Dark" : "Light" }}</span>
        </ng-template>
      </p-toggleswitch>
    </div>
    <p class="language">العربيه</p>
    <p-avatar
      image="/assets/images/shared/navbar/notification-selected.svg"
      (click)="showDialog()"
    />
    <p-dialog
      [(visible)]="displayPopup"
      [modal]="true"
      [closable]="true"
      [draggable]="false"
      [resizable]="false"
      (onHide)="hideDialog()"
    >
    
    <app-notification></app-notification>
  </p-dialog>
  <span *ngIf="loginDisplay" class="btn btn-secondary" (click)="logout()"
    ><i class="pi pi-sign-out" pTooltip="Sign Out"></i
  ></span>
  </ng-template>
</p-toolbar>
