/*name*/

.welcome {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  margin-bottom: 0px;
}
.name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.name-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.toggle {
  display: flex;
  align-items: center;
}
/*language*/
.language {
  font-family: "almarai", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 17.86px;
  margin-bottom: 0;
}
.language {
  color: var(--filter-text);
  padding-right: 20px;
}

/*dark and light modes*/
.toggle-btn-container {
  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  span {
    padding: 2px 4px;
  }
}

.light {
  border: 2px solid black;
  background: white;
}
.dark {
  background: black;
  border: 2px solid black;
  color: white;
}
.dark-theme .language {
  color: #fff;
}

:host {
  &::ng-deep {
    .p-toolbar {
      border: none;
      border-bottom: 1px solid var(--p-content-background);
    }
    .p-dialog-content {
      z-index: 999;
    }
    .p-dialog-header {
      padding: 10px;
      background-color: transparent;
    }
    .p-avatar {
      cursor: pointer;
    }
    .p-overlay-mask {
      justify-content: end !important;
      align-items: start !important;
    }
    .p-toggleswitch {
      position: relative;
      width: 243px;
      margin-right: 30px;
    }
    .p-toggleswitch-handle {
      width: 116px;
      border-radius: 27px;
      height: 26px;
    }
    .p-toggleswitch:not(.p-disabled):has(
        .p-toggleswitch-input:hover
      ).p-toggleswitch-checked
      .p-toggleswitch-slider {
      // background: #f4f4f4 !important;
    }
    .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover)
      .p-toggleswitch-slider {
      background: var(--bg-light-grey) !important;
      border: 1px solid var(--p-toggleswitch-checked-border-color);
    }
    .p-toggleswitch-slider {
      height: 33px;
      background: var(--bg-light-grey) !important;
      border: 1px solid var(--p-toggleswitch-checked-border-color);
    }
    .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
      inset-inline-start: 124px;
    }
    .sun {
      content: url("/assets/images/shared/navbar/sun.svg");
    }
    .moon {
      content: url("/assets/images/shared/navbar/moon.svg");
    }
    .text-toggle {
      color: var(--black-color);
      font-family: "inter", sans-serif;
      font-size: 12.483px;
      font-style: normal;
      font-weight: 600;
      line-height: 19.973px; /* 160% */
      letter-spacing: -0.125px;
    }
    @media only screen and (max-width: 600px) {
      .p-toolbar-end {
        margin: 0 auto;
        flex-direction: column;
      }
      .p-toggleswitch {
        width: 200px;
        margin-right: 0;
      }
      .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
        inset-inline-start: 78px;
      }
    }
  }
}
