section.delete-module {
  font-family: "jakarta", sans-serif;
  background-color: rgb(68, 68, 68);
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  .container {
    background-color: #fff;
    width: 79%;
    height: 66%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 13.5px;
    justify-content: space-around;
    header {
      margin-left: auto;
      img {
        padding: 30px 50px 0px;
      }
    }
    article {
      img {
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: -50px;
      }
    }
    p {
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
    }
    footer {
      gap: 2rem;
      padding-bottom: 70px;
      padding-top: 30px;
      button {
        width: 19rem;
        font-weight: 700;
        padding: 8px 0px;
        border-radius: 13.54px;
        font-size: 27px;
      }
      .btn-danger {
        background-color: #e93936;
      }
      .btn-secondary {
        border: 1px solid #e93936;
        background-color: transparent;
        color: #e93936;
      }
    }
  }
}

/*responsiveness*/
@media only screen and (max-width: 874px) {
  section.delete-module {
    .container {
      width: 100%;
      height: 40%;
      footer {
        width: 100%;
        padding-top: 0;
        justify-content: center;
      }
      p,
      footer button {
        text-align: center;
        font-size: 20px;
      }
      header {
        img {
          padding: 0;
        }
      }
    }
  }
}
