<p-dialog [(visible)]="visible" [modal]="true" [closable]="false">
  <ng-template #header>
    <img
      src="/assets/images/shared/delete-module/close.svg"
      alt="close"
      (click)="onCancel()"
    /><br />
    <img src="/assets/images/shared/delete-module/delete.svg" alt="delete" />
  </ng-template>
  <p>Are you sure to delete?</p>
  <ng-template pTemplate="footer">
    <button
      pButton
      label="Yes"
      class="p-button-danger"
      (click)="onConfirm()"
    ></button>
    <button
      pButton
      label="No"
      class="p-button-success"
      (click)="onCancel()"
    ></button>
  </ng-template>
</p-dialog>
