:host {
  &::ng-deep {
    .p-dialog-header {
      flex-direction: column;
    }
    img[alt="close"] {
      margin-left: auto;
    }
    p {
      color: #000929;
      text-align: center;
      font-family: "jakarta";
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
    .p-dialog {
      width: 25%;
      zoom: 70%;
    }
    button {
      width: 50%;
    }
    .p-button-danger,
    .p-button-danger:hover {
      background: #e93936;
      border-radius: 13.538px;
      color: #fff;
      text-align: center;
      font-feature-settings: "ss04" on, "ss06" on, "liga" off;
      font-family: "jakarta";
      font-size: 27.077px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 40.615px */
    }
    .p-button-success,
    .p-button:not(:disabled):hover {
      background: transparent;
      color: #e93936;
      border: 1px solid #e93936;
      border-radius: 13.538px;
      text-align: center;
      font-feature-settings: "ss04" on, "ss06" on, "liga" off;
      font-family: "jakarta";
      font-size: 27.077px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 40.615px */
    }
  }
}
