<div class="page-content">
  <app-toolbar-table
    [title]="'Tax Authority Office'"
    [labelBtn]="'Add CR'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Tax Number'"
    [col2Name]="'Expiry Date'"
    [col3Name]="'Client ID'"
    [col4Name]="'Tax Authority Office ID'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [viewTaxAuthorityOfficeTable]="true"
  ></app-table>
</div>
