<div class="page-content">
  <app-toolbar-table
    [title]="'Contact Person'"
    [labelBtn]="'Add Contact'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="addContactPerson()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Name EN'"
    [col2Name]="'Name AR'"
    [col3Name]="'IsAuthorized Sign'"
    [col4Name]="'Gender'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewContactPersonTable]="true"
  ></app-table>
</div>
