<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Notification Group'
      : editMode
      ? 'Edit Notification Group'
      : 'Add Notification Group'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addNotificationGroupsLookupsForm"
        [title]="'FORM.NOTIFICATION_GROUPS.TITLE'"
        [description]="'FORM.NOTIFICATION_GROUPS.DESCRIPTION'"
        [formGroup]="addNotificationGroupsLookupsForm"
        [addNotificationGroupsLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditNotificationGroup()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
