:host {
  &::ng-deep {
    .p-toolbar {
      border: 0;
      padding: 0px 0px 17px 0px;
      zoom: 80%;
      .search-padding {
        padding: 12px 50px;
        border: 1px solid #d6ddeb;
        background: #fff;
        border-radius: 0;
      }
      .title {
        color: var(--filter-text);
        font-family: "poppins-bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        margin-bottom: 0;
      }
      .custom-spacing {
        margin-left: 135px;
      }

      .p-inputtext::placeholder,
      .p-inputtext {
        border-radius: 0px;
        color: #a8adb7;
        font-family: "poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .p-inputtext {
        padding: 12px 16px;
      }
      .excel-icon {
        content: url("/assets/images/shared/table/excel.svg");
      }
      .pdf-icon {
        content: url("/assets/images/shared/table/pdf.svg");
      }
      .back-icon {
        content: url("/assets/images/shared/table/back.svg");
      }
      .backIcon {
        border-radius: 0 !important;
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
        margin-bottom: 18px;
      }
      .plus-icon {
        content: url("/assets/images/shared/table/plus.svg");
      }
      .btn {
        color: #fff !important;
        padding: 12px 24px;
        background-color: #0a69bb !important;
      }
      .p-button-label {
        font-weight: 700;
      }
      .custom-icon {
        content: url("/assets/images/shared/table/filter.svg");
      }
      .p-button {
        padding: 12px 29px;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
      }
      .filter,
      .p-button:not(:disabled):hover {
        color: #25324b;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        background-color: transparent;
        border-radius: 0px;
        border: 1px solid #d6ddeb;
      }
      .btn:not(:disabled):hover {
        padding: 12px 29px;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
      .excel-icon-btn:not(:disabled):hover,
      .pdf-icon-btn:not(:disabled):hover {
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }

      @media only screen and (max-width: 700px) {
        form {
          margin-left: 0;
        }
        .toolbar-sm {
          flex-direction: column;
        }
      }
    }
  }
}
