<ng-container *ngIf="sectorsSafe$ | async as sectors">
  <p-select
    [options]="sectors"
    optionLabel="name"
    placeholder="Select Sector"
    [(ngModel)]="value"
    (onChange)="onSectorChange($event)"
    required
    [ngClass]="{
      'ng-invalid':
        formControl.invalid && (formControl.dirty || formControl.touched)
    }"
  >
  </p-select>

  <!-- Validation message -->
  <small
    class="p-error"
    style="color: var(--custom-red)"
    *ngIf="formControl?.invalid && (formControl?.dirty || formControl?.touched)"
  >
    Sector is required.
  </small>
</ng-container>
