<div class="page-content">
  <app-toolbar-table
    [title]="'Legal Forms'"
    [labelBtn]="'Add Legal Form'"
    [iconBtn]="'plus-icon'"
    [backExists]="false"
    [exports]="true"
    (addBtn)="addLegalForm()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Legal Form Code'"
    [col3Name]="'Name in English'"
    [col4Name]="'Name in Arabic'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewLegalFormTable]="true"
  ></app-table>
</div>
