<div class="page-content">
  <app-toolbar-table
    [title]="'Meetings'"
    [labelBtn]="'Add Meeting'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="onAddMeeting()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Topic'"
    [col3Name]="'Name EN'"
    [col4Name]="'Name AR'"
    [col5Name]="'Start Date'"
    [col6Name]="'End Date'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [checkBox]="true"
    [viewMeetingsTable]="true"
  ></app-table>
</div>
