<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr>
  </thead>
  <tbody>
    @for (country of countries; track country.name; let i = $index) {
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="
            'https://upload.wikimedia.org/wikipedia/commons/' + country.flag
          "
          [alt]="'The flag of ' + country.name"
          class="me-2"
          style="width: 20px"
        />
        {{ country.name }}
      </td>
      <td>{{ country.area | number }}</td>
      <td>{{ country.population | number }}</td>
    </tr>
    }
  </tbody>
</table> -->
<div class="page-content" style="height: calc(100vh - 149px)">
  <h2 style="color: green">GeeksforGeeks</h2>
  <h4>Angular PrimeNG Table Responsive</h4>

  <p-table responsiveLayout="stack" [value]="tableData" scrollHeight="flex">
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowData="rowData"
      let-people
      sortMode="multiple"
    >
      <tr>
        <td>
          <span class="p-column-title"> First Name </span>
          {{ people.firstname }}
        </td>
        <td>
          <span class="p-column-title"> last Name </span>
          {{ people.lastname }}
        </td>
        <td>
          <span class="p-column-title"> Age </span>
          {{ people.age }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
