<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/crm/clients/add-client-onboarding/post'"
    [title]="'Rent Structure Types'"
    [labelBtn]="'Add Rent Structure Type'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddRentStructureType()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="RentStructureTypes$ | async as RentStructureTypes">
    <app-table
      [viewPermission]="[
        '/communication/view-calls/get',
        '/communication/view-calls/getall',
        '/communication/view-calls/getallhistory'
      ]"
      [editPermission]="'/crm/clients/add-client-onboarding/put'"
      [deletePermission]="'/crm/clients/add-client-onboarding/delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredRentStructureType"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewRentStructureTypesTable]="true"
      (onDelete)="onDeleteRentStructureType($event)"
      (onEdit)="onEditRentStructureType($event)"
      (viewForm)="onViewRentStructureType($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
