<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/communication/view-calls/Post'"
    [title]="'Calls'"
    [labelBtn]="'Add Call'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddCall()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
    [addPermission]="'/communication/add-calls/add'"
  ></app-toolbar-table>

  <ng-container *ngIf="calls$ | async as calls">
    <app-table
      [viewPermission]="[
        '/communication/view-calls/Get',
        '/communication/view-calls/GetAll',
        '/communication/view-calls/GetAllHistory'
      ]"
      [editPermission]="'/communication/view-calls/Put'"
      [deletePermission]="'/communication/view-calls/Delete'"
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredCalls"
      [side]="true"
      [first]="first2"
      [checkBox]="true"
      (onBulkDelete)="onBulkDelete($event)"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [editPermission]="'/communication/add-calls/edit'"
      [deletePermission]="'/communication/add-calls/delete'"
      [viewCallsTable]="true"
      (wizardBtn)="onAddSide($event)"
      (onDelete)="onDeleteCall($event)"
      (onEdit)="onEditCall($event)"
      (viewForm)="onViewCall($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
