<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Mandate Fee'
      : editMode
      ? 'Edit Mandate Fee'
      : 'Add Mandate Fee'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="''"
        [description]="'Mandate Fee'"
        [addMandateFeeForm]="true"
        [feeTypes]="feeTypes$ | async"
        [formGroup]="addMandateFeeForm"
        (submitForm)="onSubmit()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
      <!-- display the formula once loaded -->
      <div class="mt-4">
        <label class="font-semibold">Calculation Formula:&nbsp;</label>
        <!-- 1) No fee type chosen yet -->
        <ng-template #chooseType>
          <em>Choose a fee type to see its formula.</em>
        </ng-template>

        <!-- 2) Fee type chosen but no formula/config -->
        <ng-template #noFormula>
          <em>There is no calculation formula here.</em>
        </ng-template>

        <!-- 3) Once a fee type is chosen, show formula + base amount (or fall back to #noFormula) -->
        <ng-container
          *ngIf="addMandateFeeForm.get('feeTypeId')!.value; else chooseType"
        >
          <ng-container
            *ngIf="
              (calcConfig$ | async)?.feeCalculationConfiguration as cfg;
              else noFormula
            "
          >
            <div>
              <label class="font-semibold">Actual Amount:</label>
              <div>{{ cfg.calculationFormula }}</div>
            </div>

            <div class="mt-2">
              <label class="font-semibold">Base Amount:</label>
              <div>{{ cfg.parameterMappings["BaseAmount"] }}</div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
