<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Mandate Fee'
      : editMode
      ? 'Edit Mandate Fee'
      : 'Add Mandate Fee'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [description]="'Mandate Fee'"
        [addMandateFeeForm]="true"
        [feeTypes]="feeTypes$ | async"
        [formGroup]="addMandateFeeForm"
        (submitForm)="onSubmit()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
      <!-- display the formula once loaded -->
      <div class="mt-4">
        <label class="font-semibold">Calculation Formula:&nbsp;</label>
        <ng-container
          *ngIf="addMandateFeeForm.get('feeTypeId')!.value; else chooseType"
        >
          <!-- only bind when there *is* a feeCalculationConfiguration -->
          <ng-container
            *ngIf="
              (calcConfig$ | async)?.feeCalculationConfiguration as fcc;
              else noFormula
            "
          >
            <!-- now `fcc` is guaranteed non-null -->
            <div>
              <label class="font-semibold">Formula:</label>
              <div>{{ fcc.calculationFormula }}</div>
            </div>

            <div class="mt-2">
              <label class="font-semibold">Base Amount:</label>
              <div>{{ displayConfig?.baseAmount | number : "1.0-2" }}</div>
            </div>

            <div class="mt-2">
              <label class="font-semibold">Actual Amount:</label>
              <div>
                {{
                  addMandateFeeForm.get("actualAmount")?.value
                    | number : "1.4-4"
                }}
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #chooseType>
          <em>Choose a fee type to see its formula.</em>
        </ng-template>
        <ng-template #noFormula>
          <em>There is no calculation formula here.</em>
        </ng-template>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
