<app-toolbar-form
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="true"
  [header]="'Leasing Financial Form'"
></app-toolbar-form>
<app-toolbar-compound></app-toolbar-compound>
<div class="parent" style="zoom: 80%">
  <div class="div1">
    <div class="first-form">
      <app-form
        [title]="'Basic Finance Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [leasingFinancialBasicForm]="true"
        [formGroup]="leasingFinancialBasicForm"
        [paymentPeriods]="paymentPeriods$ | async"
      ></app-form>
    </div>
    <div class="second-form">
      <app-form
        [title]="'Rates and Periods'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [leasingFinancialRateForm]="true"
        [formGroup]="leasingFinancialRateForm"
      ></app-form>
    </div>
    <div class="third-form">
      <app-toolbar-table [exports]="true" [btnAdd]="false"></app-toolbar-table>
      <app-table
        [cols]="colsInside"
        [tableData]="tableDataInside"
        [col1Name]="'Payment Number'"
        [col2Name]="'Due Date'"
        [col3Name]="'Balance Before'"
        [col4Name]="'Balance After'"
        [col5Name]="'Insurance Outcome'"
        [col6Name]="'Principal'"
        [col7Name]="'Installment'"
        [col8Name]="'Interest'"
        [edit]="false"
        [delete]="false"
        [side]="false"
        [download]="false"
        [checkBox]="false"
        [filters]="false"
        [viewCalculationsTable]="true"
        [paginator]="false"
      ></app-table>
    </div>
  </div>
  <div class="div2">
    <h2>Currency Information</h2>
    <p>
      Introduce your company core info quickly to users by fill up company
      details
    </p>
    <app-form
      [leasingFinancialCurrencyForm]="true"
      [formGroup]="leasingFinancialCurrencyForm"
      [formGroup]="leasingFinancialCurrencyForm"
    ></app-form>
    <div
      class="row justify-content-between w-100 gap-4"
      style="
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
      "
    >
      <p-button label="Submit" class="custom-submit custom-save m-0" />
      <p-button label="Calculate" class="custom-calculate custom-save m-0" />
    </div>
  </div>
</div>
