<!-- <div class="page-content">
  <app-toolbar-table
    [title]="'CR Authority Office'"
    [labelBtn]="'Add CR'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="addCR()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'CR Number'"
    [col2Name]="'Expiry Date'"
    [col3Name]="'Client Code'"
    [col4Name]="'CR Authority Office Name'"
    [col5Name]="'Name EN'"
    [col6Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [viewCRAuthorityOfficeTable]="true"
  ></app-table>
</div> -->
