<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p class="purple">
        <strong>{{ totalInstallments | number : "1.0-0" }}</strong>
        <span>Total Installments</span>
      </p>
    </div>
    <div class="col-sm">
      <p class="green">
        <strong>{{ totalInterest | number : "1.0-0" }}</strong>
        <span>Total Interest </span>
      </p>
    </div>
    <!-- <div class="col-sm">
      <p class="blue">
        <strong>{{ totalRent | number : "1.0-0" }}</strong>
        <span>Total Rent</span>
      </p>
    </div> -->
    <div class="col-sm-5 d-flex justify-content-end">
      <!-- <p-floatlabel variant="in">
        <p-datepicker
          [(ngModel)]="dateRange"
          inputId="dateRange"
          selectionMode="range"
          showIcon
          iconDisplay="input"
          dateFormat="M dd"
          (onSelect)="updateLabel()"
        ></p-datepicker>
        <label for="dateRange">{{ dateRangeLabel }}</label>
      </p-floatlabel> -->
    </div>
  </div>
</div>
