<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Role Claim'
      : editMode
      ? 'Edit Role Claim'
      : 'Add Role Claim'
  "
  [backExists]="true"
  [viewOnly]="false"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addRoleClaimORGForm"
        [title]="'Role Claim'"
        [description]="
          'Introduce your Role Claim core info quickly to users by fill up branch details'
        "
        [operationsList]="(operationsList$ | async) ?? []"
        [formGroup]="addRoleClaimORGForm"
        [addRoleClaimORGForm]="true"
        [pageIds]="selectedPageIds"
        [pageOperationGroups]="pageOperationGroups$ | async"
        (submitForm)="addOrEditRoleClaim()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
