<div class="page-content">
  <app-toolbar-table
    [title]="'Teams'"
    [labelBtn]="'Add Team'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddTeam()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <app-table
    #tableRef
    [cols]="colsInside"
    [tableData]="filteredTeams"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [first]="first2"
    [checkBox]="true"
    [view]="true"
    [filters]="showFilters"
    [uppercase]="'uppercase'"
    [viewTeamsTable]="true"
    (onDelete)="onDeleteTeam($event)"
    (onEdit)="onEditTeam($event)"
    (viewForm)="onViewTeam($event)"
    (wizardBtn)="onAddSide($event)"
  ></app-table>

  <app-delete-module
    [visible]="showDeleteModal"
    (confirm)="confirmDelete()"
    (cancel)="cancelDelete()"
  />
</div>
