:host {
  --p-tabs-active-bar-background: #0a69bb;
  --custom-width-20: 20%;
  --custom-position-auto: auto;
  --custom-position-30: 30px;
  --custom-position-center: center;
  --custom-padding-20: 20px;
  --custom-width-100: 100%;
  --custom-position-0: 0px;
  --custom-font-size-18: 18px;
  --custom-cursor: pointer;
  &::ng-deep {
    .no-border {
      border: var(--custom-border);
      background-color: var(--custom-background-transparent);
    }
    .p-tabs {
      padding: var(--custom-padding-right-10);
    }

    .p-button {
      flex-direction: var(--custom-flex-direction-row-reverse);
      background: var(--p-tabs-active-bar-background);
      border-radius: var(--custom-size-8);
      padding-top: var(--custom-size-8);
      padding-right: var(--custom-size-16);
      padding-bottom: var(--custom-size-8);
      padding-left: var(--custom-size-16);
      border: var(--custom-border);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight);
      font-size: var(--custom-font-size-13);
      line-height: var(--custom-font-size-24);
    }

    .p-button:not(:disabled):hover {
      background-color: var(--p-tabs-active-bar-background);
      border: var(--custom-border);
    }
    .custom-next {
      background: var(--p-tabs-active-bar-background);
      width: var(--custom-width-20);
      margin-left: var(--custom-position-auto);
      margin-right: var(--custom-position-30);
      text-align: var(--custom-position-center);
      padding: var(--custom-padding-20);
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
    }

    /*responsiveness*/
    @media only screen and (max-width: 600px) {
      .nextBtn {
        width: var(--custom-size-100);
      }
      .p-toolbar-end,
      p-button,
      .p-button {
        width: var(--custom-size-100);
      }
      p.client {
        width: var(--custom-size-100);
        justify-content: var(--custom-justify-content-between);
      }
      .p-toolbar-start {
        width: var(--custom-size-100);
      }
      .custom-next {
        width: var(--custom-width-100);
        margin-left: var(--custom-position-0);
        margin-right: var(--custom-position-0);
      }
    }
  }
}
