<p-stepper [value]="1" class="basis-[50rem] mb-2">
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col">
          <app-forms
            [title]="'Main Information'"
            [description]="
              'Introduce your company core info quickly to users by fill up company
      details'
            "
            [showMain]="true"
            [header]="'Add a Client'"
            [addClient]="true"
          ></app-forms>
          <div class="row w-100 justify-end">
            <div
              class="col-sm-6 d-flex justify-end m-0"
              (click)="activateCallback(2)"
            >
              <p-button class="custom-next m-0" label="Next" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col">
          <app-forms
            [title]="'Legal Information'"
            [description]="'This information will be displayed publicly'"
            [showLegal]="true"
            [header]="'Add a Client'"
            [addClient]="true"
          ></app-forms>
          <div class="row w-100 align-items-center">
            <div class="col-sm-6" (click)="activateCallback(1)">
              <p-button
                label="Previous"
                class="custom-back d-flex justify-start"
              />
            </div>
            <div
              class="col-sm-6 d-flex justify-end m-0"
              (click)="activateCallback(3)"
            >
              <p-button label="Next" class="custom-next m-0" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="3">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col">
          <app-forms
            [title]="'Business Information'"
            [description]="'This information will be displayed publicly'"
            [showBusiness]="true"
            [header]="'Add a Client'"
            [addClient]="true"
          ></app-forms>
          <div class="row w-100 align-items-center">
            <div class="col-sm-6" (click)="activateCallback(2)">
              <p-button
                label="Previous"
                class="custom-back d-flex justify-start"
              />
            </div>
            <div class="col-sm-6 d-flex justify-end m-0" (click)="saveInfo()">
              <p-button label="Save Information" class="custom-save m-0" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
