:host {
  &::ng-deep {
    .no-border {
      border: var(--custom-border);
      background-color: var(--custom-background-transparent);
    }
    .p-tabs {
      padding: var(--custom-padding-right-10);
    }
    .p-button {
      flex-direction: var(--custom-flex-direction-row-reverse);
      background: var(--p-tabs-active-bar-background);
      border-radius: var(--custom-size-8);
      padding-top: var(--custom-size-8);
      padding-right: var(--custom-size-16);
      padding-bottom: var(--custom-size-8);
      padding-left: var(--custom-size-16);
      border: var(--custom-border);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight);
      font-size: var(--custom-font-size-13);
      line-height: var(--custom-font-size-24);
    }

    .p-button:not(:disabled):hover {
      background-color: var(--p-tabs-active-bar-background);
      border: var(--custom-border);
    }
    .nextBtn {
      border-radius: var(--custom-margin-0);
      margin-top: var(--custom-margin-left-20);
      padding-top: var(--custom-font-size-14);
      padding-right: var(--custom-font-size-27);
      padding-bottom: var(--custom-font-size-14);
      padding-left: var(--custom-font-size-27);
      font-size: var(--custom-font-size-18);
      float: var(--custom-position-right);
      font-family: var(--custom-font-family-epilogue);
      width: var(--custom-width);
    }
    .badge-warning {
      color: var(--custom-color);
      border: 1px solid var(--custom-color);
      font-family: var(--custom-font-family-epilogue);
      font-size: var(--custom-font-size-14);
      font-weight: var(--custom-font-weight-600);
      margin-bottom: var(--custom-margin-bottom-5);
      line-height: var(--custom-line-height-25);
      border-width: var(--custom-border-width);
      padding-top: var(--custom-padding-top);
      padding-right: var(--custom-padding-right-10);
      padding-bottom: var(--custom-padding-top);
      padding-left: var(--custom-padding-right-10);
      border-radius: var(--custom-border-radius-80);
      margin-left: var(--custom-margin-left-20);
      margin-bottom: var(--custom-margin-0);
    }

    .p-tab {
      font-family: var(--custom-font-family);
      font-weight: var(--custom-font-weight-600);
      font-size: var(--custom-size-16);
      line-height: var(--custom-line-height-25);
      color: var(--custom-grey);
    }
    .p-tab-active {
      border-color: var(--p-tabs-active-bar-background);
      color: var(--p-tabs-active-bar-background);
    }
    .p-inputtext {
      color: var(--custom-grey-bold);
      margin-bottom: var(--custom-size-16);
      padding: var(--custom-size-12) var(--custom-size-16);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
    }
    .p-multiselect {
      width: var(--custom-size-100);
      margin-bottom: var(--custom-size-16);
      padding: var(--custom-size-8);
      border-radius: var(--custom-margin-0);
      border: 1px solid var(--custom-color-grey-light);
    }
    .p-chip {
      padding-top: var(--custom-size-4);
      padding-right: var(--custom-size-4);
      padding-bottom: var(--custom-size-4);
      background: var(--custom-color-white);
      padding-left: var(--custom-size-12);
      border-radius: var(--custom-margin-0);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight-400);
      font-size: var(--custom-size-16);
      line-height: var(--custom-line-height-25);
      color: var(--p-tabs-active-bar-background);
    }
    /*responsiveness*/
    @media only screen and (max-width: 600px) {
      .nextBtn {
        width: var(--custom-size-100);
      }
      .p-toolbar-end,
      p-button,
      .p-button {
        width: var(--custom-size-100);
      }
      p.client {
        width: var(--custom-size-100);
        justify-content: var(--custom-justify-content-between);
      }
      .p-toolbar-start {
        width: var(--custom-size-100);
      }
    }
  }
}
h2 {
  font-family: var(--custom-font-family-regular);
  font-weight: var(--custom-font-weight-600);
  font-size: var(--custom-size-16);
  line-height: var(--custom-line-height-25);
}
p.client {
  font-family: var(--custom-font-family);
  font-weight: var(--custom-font-weight);
  font-size: var(--custom-font-size-24);
  line-height: var(--custom-line-height);
  margin-bottom: var(--custom-margin-0);
  align-items: var(--custom-position-center);
  display: var(--custom-display);
}
.tab-panel-paragraph {
  font-family: var(--custom-font-family-regular);
  font-weight: var(--custom-font-weight-400);
  font-size: var(--custom-size-16);
  line-height: var(--custom-line-height-25);
  color: var(--custom-grey);
}
form {
  display: var(--custom-display);
  flex-direction: var(--custom-flex-direction);
  label {
    font-family: var(--custom-font-family-regular);
    font-weight: var(--custom-font-weight-600);
    font-size: var(--custom-size-16);
    line-height: var(--custom-line-height-25);
    color: var(--custom-grey-bold);
    sup {
      color: var(--custom-red);
    }
  }
}
