<div class="page-content">
  <app-toolbar-table
    [title]="'Currencies'"
    [labelBtn]="'Add Currencies'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="onAddCurrency()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'ISO'"
    [col5Name]="'Currency'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [download]="false"
    [checkBox]="true"
    [viewCurrenciesTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
