<app-toolbar-form
  [header]="editMode ? 'Edit Payment Method' : 'Add Payment Method'"
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addPaymentMethodsLookupsForm"
        [title]="'Main Information'"
        [description]="
          'Introduce your payment Method core info quickly to users by fill up payment Method details'
        "
        [formGroup]="addPaymentMethodsLookupsForm"
        [addPaymentMethodsLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditPaymentMethods()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
