<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      class="div2"
      [ngClass]="{ span: applyReusable }"
      [formGroup]="formGroup"
    >
      <!-- Main Info -->
      <ng-container *ngIf="addClientShowMain">
        <!-- Name in English -->
        <label for="name">Name in English <sup class="danger">*</sup></label>
        <input
          pInputText
          name="name"
          formControlName="name"
          placeholder="Name in English"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('name')?.invalid && formGroup.get('name')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('name')?.hasError('required') &&
            formGroup.get('name')?.touched
          "
        >
          Name in English is required.
        </small>
        <br />

        <!-- Name in Arabic -->
        <label for="nameAR">Name in Arabic <sup class="danger">*</sup></label>
        <input
          pInputText
          name="nameAR"
          formControlName="nameAR"
          placeholder="Name in Arabic"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('nameAR')?.invalid &&
              formGroup.get('nameAR')?.touched
          }"
          appOnlyArabic
        />
        <small
          class="p-error"
          *ngIf="
            formGroup.get('nameAR')?.hasError('required') &&
            formGroup.get('nameAR')?.touched
          "
        >
          Name in Arabic is required.
        </small>
        <small
          class="p-error"
          *ngIf="
            formGroup.get('nameAR')?.hasError('nonArabic') &&
            formGroup.get('nameAR')?.touched
          "
        >
          Only Arabic characters are allowed.
        </small>
        <br />

        <!-- Business Activity -->
        <label for="businessActivity"
          >Business Activity
          <!-- <sup class="danger">*</sup> -->
        </label>
        <input
          pInputText
          name="businessActivity"
          formControlName="businessActivity"
          placeholder="Business Activity"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('businessActivity')?.invalid &&
              formGroup.get('businessActivity')?.touched
          }"
        />
        <!-- <small
          class="p-error"
          *ngIf="
            formGroup.get('businessActivity')?.hasError('required') &&
            formGroup.get('businessActivity')?.touched
          "
        >
          Business Activity is required.
        </small> -->
        <br />

        <!-- Tax ID -->
        <label for="taxId">Tax ID <sup class="danger">*</sup></label>
        <input
          pInputText
          name="taxId"
          formControlName="taxId"
          placeholder="Tax ID"
          type="number"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('taxId')?.invalid && formGroup.get('taxId')?.touched
          }"
        />
        <div
          *ngIf="
            formGroup.get('taxId')?.invalid && formGroup.get('taxId')?.touched
          "
        >
          <small
            class="p-error"
            *ngIf="
              formGroup.get('taxId')?.hasError('required') &&
              formGroup.get('taxId')?.touched
            "
          >
            Tax ID is required.
          </small>
          <br />
          <small
            class="p-error"
            *ngIf="
              formGroup.get('taxId')?.hasError('nonPositiveNumeric') &&
              formGroup.get('taxId')?.touched
            "
          >
            Only positive numeric characters are allowed.
          </small>
          <br />
        </div>

        <!-- Short Name -->
        <label for="shortName">Short Name </label>
        <input
          pInputText
          name="shortName"
          formControlName="shortName"
          placeholder="Short Name"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('shortName')?.invalid &&
              formGroup.get('shortName')?.touched
          }"
        />
        <!-- <small
          class="p-error"
          *ngIf="
            formGroup.get('shortName')?.hasError('required') &&
            formGroup.get('shortName')?.touched
          "
        >
          Short Name is required.
        </small> -->
        <br />
        <ng-container *ngIf="sectorsSafe$ | async as sectors">
          <!-- Sector Dropdown -->
          <label for="sectorDropdown"
            >Select Sector<sup class="danger">*</sup></label
          >

          <p-select
            [options]="sectors"
            optionLabel="name"
            placeholder="Select Sector"
            formControlName="sectorId"
            optionValue="id"
            (onChange)="onSectorChange($event)"
            required
            [ngClass]="{
              'ng-invalid':
                formGroup.get('sectorId')?.invalid &&
                (formGroup.get('sectorId')?.dirty ||
                  formGroup.get('sectorId')?.touched)
            }"
          >
          </p-select>

          <!-- Validation message -->
          <small
            class="p-error"
            style="color: var(--custom-red)"
            *ngIf="
              formGroup.get('sectorId')?.invalid &&
              (formGroup.get('sectorId')?.dirty ||
                formGroup.get('sectorId')?.touched)
            "
          >
            Sector is required.
          </small>
        </ng-container>
        <br />
        <!-- Sub Sector Dropdown -->
        <label for="subSectorDropdown">
          Select Sub Sector<sup class="danger">*</sup>
        </label>
        <p-multiSelect
          [options]="subSectorsList"
          formControlName="subSectorIdList"
          optionLabel="name"
          optionValue="id"
          placeholder="Select Sub Sector"
          display="chip"
          (onChange)="onSubSectorChange($event)"
        ></p-multiSelect>

        <div
          class="p-error"
          *ngIf="
            formGroup.get('subSectorIdList')?.invalid &&
            (formGroup.get('subSectorIdList')?.touched ||
              formGroup.get('subSectorIdList')?.dirty)
          "
        >
          Sub Sector is required.
        </div>

        <br />
        <p-toggleswitch formControlName="isIscore" name="isIscore" />&nbsp;
        <label for="isIscore">Is Iscore?</label><br />
      </ng-container>
      <!-- Legal Info -->
      <ng-container *ngIf="addClientShowLegal">
        <label for="legalFormLawId">Legal Form Law</label>
        <ng-container *ngIf="legalFormLaws$ | async as laws">
          <p-select
            [options]="laws"
            optionLabel="name"
            optionValue="id"
            formControlName="legalFormLawId"
            placeholder="Select Legal Form Law"
            (onChange)="onLegalFormLawSelectionChange($event)"
            [ngClass]="{
              'ng-invalid':
                formGroup.get('legalFormLawId')?.invalid &&
                (formGroup.get('legalFormLawId')?.dirty ||
                  formGroup.get('legalFormLawId')?.touched)
            }"
          ></p-select>
        </ng-container>
        <small
          class="p-error"
          *ngIf="
            formGroup.get('legalFormLawId')?.invalid &&
            (formGroup.get('legalFormLawId')?.dirty ||
              formGroup.get('legalFormLawId')?.touched)
          "
        >
          Legal Form Law is required.
        </small>
        <label for="legalFormId">Legal Form</label>
        <ng-container *ngIf="legalForms$ | async as forms">
          <p-select
            [options]="forms"
            optionLabel="name"
            optionValue="id"
            formControlName="legalFormId"
            placeholder="Select Legal Form"
            [ngClass]="{
              'ng-invalid':
                formGroup.get('legalFormId')?.invalid &&
                (formGroup.get('legalFormId')?.dirty ||
                  formGroup.get('legalFormId')?.touched)
            }"
          ></p-select>
        </ng-container>
        <small
          class="p-error"
          *ngIf="
            formGroup.get('legalFormId')?.invalid &&
            (formGroup.get('legalFormId')?.dirty ||
              formGroup.get('legalFormId')?.touched)
          "
        >
          Legal Form is required.
        </small>

        <p-toggleswitch
          formControlName="isStampDuty"
          name="isStampDuty"
        />&nbsp;
        <label for="isStampDuty">Is Stamp Duty</label>
      </ng-container>
      <!-- Business Info -->
      <ng-container *ngIf="addClientShowBusiness">
        <!-- Main Share -->
        <label for="mainShare">Main Share </label>
        <input
          pInputText
          id="mainShare"
          formControlName="mainShare"
          placeholder="Main Share"
          appNoNegative
          type="number"
        />
        <div
          *ngIf="
            formGroup.get('mainShare')?.touched &&
            formGroup.get('mainShare')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('mainShare')?.errors?.['min']"
            >Value cannot be negative.</small
          >
        </div>

        <!-- Established Year -->
        <label for="establishedYear">Established Year </label>
        <input
          pInputText
          id="establishedYear"
          formControlName="establishedYear"
          placeholder="Established Year"
          appNoNegative
          type="number"
        />
        <div
          *ngIf="
            formGroup.get('establishedYear')?.touched &&
            formGroup.get('establishedYear')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('establishedYear')?.errors?.['min']"
            >Value cannot be negative.</small
          ><br />
          <small
            class="p-error"
            *ngIf="formGroup.get('establishedYear')?.errors?.['pattern']"
          >
            Enter a valid year (e.g. 2005).
          </small>
        </div>

        <!-- Website -->
        <label for="website">Website </label>
        <input
          pInputText
          type="url"
          id="website"
          formControlName="website"
          placeholder="Website"
        />

        <div
          *ngIf="
            formGroup.get('website')?.touched &&
            formGroup.get('website')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('website')?.errors?.['pattern']"
            >Enter a valid website URL.</small
          >
        </div>

        <!-- Market Share -->
        <label for="marketShare">Market Share %</label>
        <input
          pInputText
          min="0"
          type="number"
          id="marketShare"
          formControlName="marketShare"
          placeholder="Market Share"
          appNoNegative
        />
        <div
          *ngIf="
            formGroup.get('marketShare')?.touched &&
            formGroup.get('marketShare')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('marketShare')?.errors?.['min']"
            >Cannot be negative.</small
          ><br />

          <small
            class="p-error"
            *ngIf="formGroup.get('marketShare')?.errors?.['max']"
            >Cannot exceed 100%.</small
          >
        </div>

        <!-- Market Size -->
        <label for="marketSize">Market Size</label>
        <input
          pInputText
          min="0"
          type="number"
          id="marketSize"
          formControlName="marketSize"
          placeholder="Market Size"
          appNoNegative
        />
        <div
          *ngIf="
            formGroup.get('marketSize')?.touched &&
            formGroup.get('marketSize')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('marketSize')?.errors?.['min']"
            >Market size cannot be negative.</small
          >
        </div>

        <!-- Number of Employees -->
        <label for="employeesNo">Number of Employees </label>
        <input
          pInputText
          min="0"
          type="number"
          id="employeesNo"
          formControlName="employeesNo"
          placeholder="Number of Employees"
          appNoNegative
        />
        <div
          *ngIf="
            formGroup.get('employeesNo')?.touched &&
            formGroup.get('employeesNo')?.invalid
          "
          class="error-msg"
        >
          <small
            class="p-error"
            *ngIf="formGroup.get('employeesNo')?.errors?.['min']"
            >Number of employees cannot be negative.</small
          >
        </div>
      </ng-container>
    </form>
    <form class="div2" [formGroup]="formGroup" *ngIf="addClientShowIndividual">
      <!-- Name in English -->
      <label for="nameEnglishIndividual"
        >Name in English<sup class="danger">*</sup></label
      >
      <input
        pInputText
        name="nameEnglishIndividual"
        required
        formControlName="nameEnglishIndividual"
        placeholder="Name in English"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formGroup.get('nameEnglishIndividual')?.invalid &&
            formGroup.get('nameEnglishIndividual')?.touched
        }"
      />
      <small
        class="p-error"
        *ngIf="
          formGroup.get('nameEnglishIndividual')?.invalid &&
          formGroup.get('nameEnglishIndividual')?.touched
        "
      >
        Name in English is required.
      </small>
      <br />
      <!-- Name in Arabic -->
      <label for="nameArabicIndividual"
        >Name in Arabic<sup class="danger">*</sup></label
      >
      <input
        pInputText
        name="nameArabicIndividual"
        required
        formControlName="nameArabicIndividual"
        placeholder="Name in Arabic"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formGroup.get('nameArabicIndividual')?.invalid &&
            formGroup.get('nameArabicIndividual')?.touched
        }"
      />
      <small
        class="p-error"
        *ngIf="
          formGroup.get('nameArabicIndividual')?.invalid &&
          formGroup.get('nameArabicIndividual')?.touched
        "
      >
        Name in Arabic is required.
      </small>
      <br />
      <!-- Business Activity -->
      <label for="businessActivityIndividual"
        >Business Activity
        <!-- <sup class="danger">*</sup> -->
      </label>
      <input
        pInputText
        name="businessActivityIndividual"
        required
        formControlName="businessActivityIndividual"
        placeholder="Business Activity"
      />
      <!-- <small
        class="p-error"
        *ngIf="
          formGroup.get('businessActivityIndividual')?.invalid &&
          formGroup.get('businessActivityIndividual')?.touched
        "
      >
        Business Activity is required.
      </small> -->
      <br />
      <!--Short Name-->
      <label for="shortNameIndividual"
        >Short Name
        <!-- <sup class="danger">*</sup> -->
      </label>
      <input
        pInputText
        name="shortNameIndividual"
        formControlName="shortNameIndividual"
        placeholder="Short Name"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formGroup.get('shortNameIndividual')?.invalid &&
            formGroup.get('shortNameIndividual')?.touched
        }"
      />
      <!-- <small
        class="p-error"
        *ngIf="
          formGroup.get('shortNameIndividual')?.hasError('required') &&
          formGroup.get('shortNameIndividual')?.touched
        "
      >
        Short Name is required.
      </small> -->
      <br />
      <!-- Sector  -->
      <ng-container *ngIf="sectorsSafe$ | async as sectors">
        <!-- Sector Dropdown -->
        <label for="sectorDropdown"
          >Select Sector
          <!-- <sup class="danger">*</sup> -->
        </label>

        <p-select
          [options]="sectors"
          optionLabel="name"
          placeholder="Select Sector"
          formControlName="sectorId"
          optionValue="id"
          (onChange)="onSectorChange($event)"
          required
          [ngClass]="{
            'ng-invalid':
              formGroup.get('sectorId')?.invalid &&
              (formGroup.get('sectorId')?.dirty ||
                formGroup.get('sectorId')?.touched)
          }"
        >
        </p-select>

        <!-- Validation message -->
        <!-- <small
          class="p-error"
          style="color: var(--custom-red)"
          *ngIf="
            formGroup.get('sectorId')?.invalid &&
            (formGroup.get('sectorId')?.dirty ||
              formGroup.get('sectorId')?.touched)
          "
        >
          Sector is required.
        </small> -->
      </ng-container>

      <br />
      <!-- Sub Sector -->
      <ng-container *ngIf="filteredSubSectors$ | async as subSectors">
        <label for="subSectorDropdown"
          >Select Sub Sector
          <!-- <sup class="danger">*</sup> -->
        </label>

        <p-multiSelect
          [options]="subSectorsList"
          formControlName="subSectorIdList"
          optionLabel="name"
          optionValue="id"
          placeholder="Select Sub Sector"
          display="chip"
          (onChange)="onSubSectorChange($event)"
        ></p-multiSelect>

        <!-- <div
          class="p-error"
          style="color: var(--custom-red)"
          *ngIf="
            subSectorList?.invalid &&
            (subSectorList?.touched || subSectorList?.dirty)
          "
        >
          Sub Sector is required.
        </div> -->
      </ng-container>

      <br />
      <!-- Email -->
      <label for="emailIndividual"
        >Email
        <!-- <sup class="danger">*</sup> -->
      </label>
      <input
        pInputText
        name="emailIndividual"
        required
        formControlName="emailIndividual"
        placeholder="Email"
      />
      <!-- <small
        class="p-error"
        *ngIf="
          formGroup.get('emailIndividual')?.invalid &&
          formGroup.get('emailIndividual')?.touched
        "
      >
        Email is required.
      </small> -->
      <br />
      <!--Job Title-->
      <label for="jobTitleIndividual"
        >Job Title
        <!-- <sup class="danger">*</sup> -->
      </label>
      <input
        pInputText
        name="jobTitleIndividual"
        required
        formControlName="jobTitleIndividual"
        placeholder="Job Title"
      />
      <!-- <small
        class="p-error"
        *ngIf="
          formGroup.get('jobTitleIndividual')?.invalid &&
          formGroup.get('jobTitleIndividual')?.touched
        "
      >
        Job Title is required.
      </small> -->
      <br />
      <!-- Date of Birth -->
      <label for="dateOfBirthIndividual"
        >Date of Birth
        <!-- <sup class="danger">*</sup> -->
      </label>
      <shared-date-picker
        formControlName="dateOfBirthIndividual"
        inputId="dateOfBirthIndividual"
        [minDate]="minDateOfBirth"
        [maxDate]="maxDateOfBirth"
      >
      </shared-date-picker>

      <!-- <small
        class="p-error"
        *ngIf="
          formGroup.get('dateOfBirthIndividual')?.invalid &&
          formGroup.get('dateOfBirthIndividual')?.touched
        "
      >
        Date of Birth is required.
      </small> -->
      <br />
      <!-- Gender -->
      <label for="genderIndividual">Gender</label>
      <p-select
        [options]="genders"
        name="genderIndividual"
        formControlName="genderIndividual"
        required
        optionLabel="value"
        optionValue="id"
        placeholder="Select a Gender"
        class="w-full md:w-56"
      ></p-select>
      <small
        class="p-error"
        *ngIf="
          formGroup.get('genderIndividual')?.invalid &&
          formGroup.get('genderIndividual')?.touched
        "
      >
        Gender is required.
      </small>
      <br />
      <!-- Identification Number -->
      <!-- Dynamic Identification Entries -->
      <div formArrayName="identities">
        <div
          *ngFor="let group of identities?.controls; let i = index"
          [formGroupName]="i"
          class="parent2-individual2 mt-2 flex items-start gap-4 align-items-center flex-wrap"
        >
          <!-- 1) Identification Number -->
          <div class="div-number flex-1 min-w-0">
            <label for="identificationNumber" class="p-0">
              Identification Number<sup class="danger">*</sup>
            </label>
            <input
              pInputText
              formControlName="identificationNumber"
              required
              placeholder="Identification Number"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  group.get('identificationNumber')?.invalid &&
                  group.get('identificationNumber')?.touched
              }"
            />
            <small
              class="p-error d-block"
              *ngIf="
                group.get('identificationNumber')?.invalid &&
                group.get('identificationNumber')?.touched
              "
            >
              Identification Number is required.
            </small>
          </div>

          <!-- 2) Select Identity -->
          <div class="div-select flex-1 min-w-0">
            <label for="identityType" class="p-0">
              Select Identity<sup class="danger">*</sup>
            </label>
            <p-select
              [options]="identityIndividual"
              formControlName="selectedIdentities"
              name="identityType"
              placeholder="Select Identity"
              optionLabel="name"
              optionValue="id"
              required
              class="m-0"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  group.get('selectedIdentities')?.invalid &&
                  group.get('selectedIdentities')?.touched
              }"
            ></p-select>
            <small
              class="p-error d-block"
              *ngIf="
                group.get('selectedIdentities')?.invalid &&
                group.get('selectedIdentities')?.touched
              "
            >
              Identity is required.
            </small>
          </div>

          <!-- 3) Is Main toggle -->
          <!-- 3) Is Main toggle -->
          <div class="div-main flex items-center flex-column">
            <label for="isMain" class="p-0"> Is Main </label>
            <p-toggleswitch
              formControlName="isMain"
              name="isMain"
              required
              [ngClass]="{
                'ng-invalid ng-dirty':
                  group.get('isMain')?.invalid && group.get('isMain')?.touched
              }"
            ></p-toggleswitch
            ><br />
            <small
              class="p-error"
              *ngIf="
                group.get('isMain')?.invalid && group.get('isMain')?.touched
              "
            >
              You must choose if this is main.
            </small>
          </div>

          <!-- 4) Add another identity -->
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-outlined p-button-sm"
            (click)="addIdentity.emit()"
          ></button>

          <!-- 5) Remove this identity -->
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="removeIdentity.emit(i)"
            *ngIf="identities.length > 1"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
