// section.delete-module {
//   font-family: "jakarta", sans-serif;
//   background-color: rgb(68, 68, 68);
//   font-family: "poppins";
//   font-weight: 600;
//   font-size: 15px;
//   line-height: 24px;
//   letter-spacing: -1%;
//   color: #1a1d1f;
// }

// /*responsiveness*/
// @media only screen and (max-width: 874px) {
// }
