<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Meetings/Post'"
    [title]="'Evaluators'"
    [labelBtn]="'Add Evaluator'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddEvaluator()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="evaluators$ | async as evaluators">
    <app-table
      [viewPermission]="[
        '/Meetings/Get',
        '/Meetings/GetAll',
        '/Meetings/GetAllHistory'
      ]"
      [editPermission]="'/Meetings/Put'"
      [deletePermission]="'/Meetings/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredEvaluators"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewEvaluatorsTable]="true"
      (onDelete)="onDeleteEvaluator($event)"
      (onEdit)="onEditEvaluator($event)"
      (viewForm)="onViewEvaluator($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
