<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'Main Information'"
        [description]="
         'Introduce your Teams info quickly to users by fill up company details'
        "
        [addTeamORGForm]="true"
        [departments]="departments$ | async"    
        [formGroup]="addTeamORGForm"
        (submitForm)="addOrEditTeam()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
