<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Meetings/Post'"
    [title]="'Agreement Files'"
    [labelBtn]="'Add Agreement File'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddAgreementFile()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="agreementFiles$ | async as agreementFiles">
    <app-table
      [viewPermission]="[
        '/Meetings/Get',
        '/Meetings/GetAll',
        '/Meetings/GetAllHistory'
      ]"
      [editPermission]="'/Meetings/Put'"
      [deletePermission]="'/Meetings/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredAgreementFiles"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewAgreementFilesTable]="true"
      (onDelete)="onDeleteAgreementFile($event)"
      (onEdit)="onEditAgreementFile($event)"
      (viewForm)="onViewAgreementFile($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
