<div class="page-content">
  <app-toolbar-table
    [title]="'Officers'"
    [labelBtn]="'Add Officers'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
    (addBtn)="onAddOfficer()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Login Name'"
    [col3Name]="'Phone Number'"
    [col4Name]="'Email Address'"
    [col5Name]="'Active'"
    [col6Name]="'Name EN'"
    [col7Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewOfficersLookupsTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
