<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/crm/clients/add-client-onboarding/post'"
    [title]="'Client Statuses'"
    [labelBtn]="'Add Client Status'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddClientStatus()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container *ngIf="clientStatuses$ | async as clientStatuses">
    <app-table
      [viewPermission]="[
        '/communication/view-calls/get',
        '/communication/view-calls/getall',
        '/communication/view-calls/getallhistory'
      ]"
      [editPermission]="'/crm/clients/add-client-onboarding/put'"
      [deletePermission]="'/crm/clients/add-client-onboarding/delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredClientStatuses"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewClientStatusesTable]="true"
      (onDelete)="onDeleteClientStatus($event)"
      (onEdit)="onEditClientStatus($event)"
      (viewForm)="onViewClientStatus($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
