.row-toolbar {
  padding: 30px 5px 0px 20px;
  .back-col {
    gap: 16px;
    .meeting-details {
      color: var(--filter-text);
      font-family: "poppins-bold", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
    }
  }
  .current-month {
    color: var(--secondary-color);
    font-family: "epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
  }
  .btn-primary {
    background: transparent;
    border: none;
  }
  .view {
    color: var(--Neutrals-60, #7c8493);
    font-family: "epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding: 0 20px;
  }
  .selected {
    color: var(--secondary-color);
    font-family: "epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    border-bottom: 4px solid #4640de;
    padding-bottom: 24px;
  }
}

.meeting-type {
  margin-top: 24px;
  h5 {
    color: #000;
    font-family: "epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    margin-bottom: 28px;
  }
  label {
    color: var(--filter-text);
    font-family: "epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 22px;
    margin-left: 16px;
  }
}
.button {
  margin-bottom: 1rem;
}

.calendar {
  display: flex;
  justify-content: center;
}
.left-col {
  border-top: none;
}
.btn-row {
  color: #0a69bb;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  border: 1px solid var(--Brands-Secondary, #ccccf5);
  padding: 12px 16px;
  cursor: pointer;
}
:host {
  &::ng-deep {
    zoom: 80%;
    a:hover {
      background: #3788d8 !important ;
      background-color: #3788d8 !important;
    }

    .fc .fc-scrollgrid-section,
    .fc .fc-scrollgrid-section table,
    .fc .fc-scrollgrid-section > td {
      width: 100% !important;
    }
    .fc-theme-standard .fc-scrollgrid {
      border-top: none !important;
    }
    .fc .fc-daygrid-body {
      width: 100% !important;
    }
    .fc .fc-timegrid-body {
      width: 100% !important;
    }
    .fc-scroller {
      overflow-y: hidden !important;
    }
    .fc .fc-daygrid-day-number {
      text-decoration: none;
    }
    .fc-scroller-liquid-absolute {
      overflow-y: hidden !important;
      padding-right: 0 !important;
    }

    .fc-scroller {
      overflow-y: hidden !important;
    }
    .fc-timegrid-slot {
      height: 80px !important;
    }

    .fc-scroller {
      overflow-y: auto !important;
    }
    .fc .fc-timegrid-axis-cushion {
      color: var(--Neutrals-100, #25324b);
      text-align: right;
      font-family: "epilogue-bold", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
    }
    .fc .fc-timegrid-slot-label-cushion {
      color: var(--Neutrals-80, #515b6f);
      text-align: right;
      font-family: "epilogue-bold", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
      text-transform: uppercase;
    }
    .fc-timegrid-axis {
      border-bottom: 1px solid #ddd !important; /* Ensure only one border */
    }

    .fc-timegrid-axis-frame {
      border-bottom: none !important; /* Remove extra border */
    }
    .fc-day-name {
      color: var(--Neutrals-100, #25324b);
      text-align: center;
      font-family: "epilogue", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      border-radius: 50%;
      width: 44px;
      line-height: 160%;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fc .fc-col-header-cell-cushion {
      text-decoration: none;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .fc-day-number {
      color: var(--Neutrals-60, #7c8493);
      text-transform: uppercase;
    }
    .fc .fc-col-header-cell-cushion:hover {
      background: transparent !important;
    }
    .fc-day-today .fc-day-name {
      background-color: #0a69bb;
      color: #fff;
    }
    .fc .fc-timegrid-divider {
      display: none;
    }
    .fc .fc-daygrid-day.fc-day-today {
      background: transparent;
    }
    .fc-col-today,
    .fc-timegrid-col.fc-day-today {
      background-color: transparent !important;
    }
    .fc-timegrid-axis-cushion {
      width: 100px !important;
      min-width: 100px !important;
      max-width: 100px !important;
      flex: 0 0 100px !important;
    }
    .fc-timegrid-axis .fc-timegrid-slot {
      border-bottom: none !important;
    }

    /* Sometimes FullCalendar uses these classes; include as needed: */
    .fc-timegrid-axis .fc-timegrid-slot-lane {
      border-bottom: none !important;
    }
    .fc-timegrid-axis .fc-timegrid-slot-frame {
      border-bottom: none !important;
    }
    .fc-event-today {
      background-color: #0a69bb !important;
    }
    .fc-event-future {
      background-color: #56cdad;
      color: var(--Neutrals-0, #fff);
      font-family: "epilogue", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 18.2px */
      border: none;
    }
    .fc-theme-standard th {
      border: none;
      border-bottom: 1px solid #d6ddeb;
      background: var(--bg-tab);
    }
    .p-datepicker-panel {
      background: var(--bg-tab);
    }
    .p-datepicker-header {
      background: var(--bg-tab);
    }
    thead .fc-scroller-harness {
      margin-top: 27px;
    }
    .fc-scrollgrid-sync-table tr {
      height: 160px;
    }
    .p-datepicker {
      position: relative;
      left: 0;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;
      height: 35vh;
      margin: 0;
      overflow-x: auto;
    }
    .fc .fc-scrollgrid {
      border-left: none;
    }
    .holiday-day {
      background-color: #ffe6e6 !important; /* light red */
    }
    .fc-holiday-label {
      color: var(--Neutrals-0, #fff);
      text-align: center;
      font-family: "epilogue", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      background: var(--Accents-Red, #ff6550);
      width: 95%;
      text-transform: capitalize;
    }
    .custom-event-time {
      padding-bottom: 10px;
    }
  }
}
