<div class="row">
  <!-- <div class="basis-2/12">
    <app-side-menu
      [isExpanded]="sidebarExpanded"
      (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
    ></app-side-menu> 
  </div> -->
  <div class="col-sm-2">
    <div style="width: 2rem" class="side">side menu</div>
  </div>
  <div class="col-sm-10">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Download Popup -->
<div *ngIf="popupVisible" class="popup-overlay">
  <div class="popup-content">
    <div class="row align-items-center">
      <div class="col-sm"><h1>Download</h1></div>
      <div class="col-sm d-flex justify-end">
        <img
          src="/assets/images/shared/download-popup/close.svg"
          alt="close"
          (click)="closePopup()"
        />
      </div>
    </div>
    <hr id="breaker" />
    <label>Select Office</label>
    <p-select
      [options]="offices"
      [(ngModel)]="selectedOffices"
      optionLabel="name"
      placeholder="Select an Office"
      class="w-full md:w-56 select-app"
    />
    <br />
    <label>Select TML Officer</label>

    <p-select
      [options]="tmlOfficers"
      [(ngModel)]="selectedTmlOfficers"
      optionLabel="name"
      placeholder="Select a tml officer"
      class="w-full md:w-56 select-app"
    /><br />
    <label>Select Language</label>

    <p-select
      [options]="languages"
      [(ngModel)]="selectedLanguages"
      optionLabel="name"
      placeholder="Select a language"
      class="w-full md:w-56 select-app"
    /><br />
    <p-button label="Download" class="download-btn" />
  </div>
</div>
