<p-toast></p-toast>
<app-global-spinner></app-global-spinner>
<div class="mainContainer">
  <div class="side">
    <app-side-menu></app-side-menu>
  </div>
  <div class="main">
    <app-nav-bar></app-nav-bar>
    <p-toast></p-toast>
    <p-confirmDialog
      header="Please Confirm"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Download Popup -->
<div *ngIf="popupVisible" class="popup-overlay">
  <div class="popup-content">
    <div class="row align-items-center">
      <div class="col-sm"><h1>Download</h1></div>
      <div class="col-sm d-flex justify-end">
        <img
          src="/assets/images/shared/download-popup/close.svg"
          alt="close"
          (click)="closePopup()"
        />
      </div>
    </div>
    <hr id="breaker" />
    <label>Select Office</label>
    <p-select
      [options]="offices"
      [(ngModel)]="selectedOffices"
      optionLabel="name"
      placeholder="Select an Office"
      class="w-full md:w-56 select-app"
    />
    <br />
    <label>Select TML Officer</label>

    <p-select
      [options]="tmlOfficers"
      [(ngModel)]="selectedTmlOfficers"
      optionLabel="name"
      placeholder="Select a tml officer"
      class="w-full md:w-56 select-app"
    /><br />
    <label>Select Language</label>

    <p-select
      [options]="languages"
      [(ngModel)]="selectedLanguages"
      optionLabel="name"
      placeholder="Select a language"
      class="w-full md:w-56 select-app"
    /><br />
    <p-button label="Download" class="download-btn" />
  </div>
</div>
