* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:host {
  &::ng-deep {
    .p-tabpanels {
      padding: 0 33px !important;
    }
  }
}
hr {
  padding: 32px 0px 27px 0px !important;
}
