* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:host {
  &::ng-deep {
    .p-tabpanels {
      padding: 0 33px !important;
    }
  }
}
hr {
  padding: 32px 0px 27px 0px !important;
}
.margin-top {
  margin-top: 32px;
  margin-bottom: 32px;
}
.popup-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  background: rgba(244, 244, 244, 0.5);
  .popup-content {
    border-radius: 16px;
    background: #fcfcfc;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.05),
      0px 32px 48px -8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 20%;
    h1 {
      color: #1a1d1f;
      font-family: "inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 160% */
      letter-spacing: -0.4px;
    }
    #breaker {
      padding: 0px !important;
      border-top: 1px solid;
      margin: 24px 0;
    }

    label {
      color: #6f767e;
      font-family: "inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 171.429% */
      letter-spacing: -0.14px;
      margin-bottom: 12px;
    }
  }
}
:host {
  &::ng-deep {
    .select-app,
    .select-app::placeholder {
      width: 100%;
      margin-bottom: 32px;
      color: #1a1d1f;
      font-family: "inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 171.429% */
      letter-spacing: -0.14px;
    }
    .download-btn {
      background: #0a69bb;
      border-radius: 0;
      float: right;
      padding: 12px 20px;
    }
    .download-btn:not(:disabled):hover {
      background: #0a69bb;
      border: none;
    }
  }
}
@media only screen and (max-width: 600px) {
  .popup-content {
    width: 100% !important;
  }
  #breaker {
    padding: 0px !important;
    border-top: 1px solid;
    margin: 24px 0;
  }
}
::ng-deep .mainContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
}
::ng-deep .side-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85px;
  padding: 150px 0px 10px 10px;
  background: #f8f8fd;
}
::ng-deep .content {
  overflow: auto;
  width: 100%;
}
.main {
  width: 100%;
}
