.gap-60 {
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.container-fluid {
  padding: 22px 32px;
}
.width-auto {
  width: 33.33333333%;
}
.section {
  border-radius: 24px;
  border: 1px solid #000;
  background: #fff;
  margin-bottom: 19px;
  h2 {
    color: #25324b;
    font-family: "poppins-bold", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    text-align: center;
    border-radius: 24px;
    border: 1px solid #000;
    padding: 32px;
  }
  h4 {
    color: #000;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
  }
  p {
    color: var(--Neutrals-80, #515b6f);
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
}

@media only screen and (max-width: 800px) {
  .width-auto {
    width: auto;
  }
}

:host {
  &::ng-deep {
    .p-button-text.p-button-secondary:focus-visible,
    .p-button-text.p-button-secondary:hover {
      border: none;
      outline-color: transparent;
      background: transparent;
    }
    .p-button:not(:disabled):hover {
      background: transparent !important;
    }
  }
}
