<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'Main Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company
details'
        "
        [addCurrenciesLookupsForm]="true"
        [formGroup]="addCurrenciesLookupsForm" 
        (submitForm)="addOrEditCurrency()"  
        [editMode]="editMode"
        [viewOnly]="viewOnly"

      ></app-form>

      
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
