<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/crm/clients/add-client-onboarding/Post'"
    [title]="'FeeRanges'"
    [labelBtn]="'Add FeeRange'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddFeeRange()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="feeRanges$ | async as feeRanges">
    <app-table
      [viewPermission]="[
        '/communication/view-calls/Get',
        '/communication/view-calls/GetAll',
        '/communication/view-calls/GetAllHistory'
      ]"
      [editPermission]="'/crm/clients/add-client-onboarding/Put'"
      [deletePermission]="'/crm/clients/add-client-onboarding/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredFeeRanges"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewFeeRangesTable]="true"
      (onDelete)="onDeleteFeeRange($event)"
      (onEdit)="onEditFeeRange($event)"
      (viewForm)="onViewFeeRange($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
