<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Departments/Post'"
    [title]="'Departments'"
    [labelBtn]="'Add Department'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddDepartment()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="departments$ | async as departments">
    <app-table
      [viewPermission]="[
        '/Departments/Get',
        '/Departments/GetAll',
        '/Departments/GetAllHistory'
      ]"
      [editPermission]="'/Departments/Put'"
      [deletePermission]="'/Departments/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredDepartments"
      [first]="first2"
      [checkBox]="true"
      [side]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewDepartmentsTable]="true"
      (onDelete)="onDeleteDepartment($event)"
      (onEdit)="onEditDepartment($event)"
      (viewForm)="onViewDepartment($event)"
      (wizardBtn)="onAddSide($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
