<app-toolbar-form
  [header]="
    viewOnly ? 'View Officers' : editMode ? 'Edit Officer' : 'Add Officer'
  "
  [backExists]="true"
  [viewOnly]="false"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'FORM.OFFICER.TITLE'"
        [description]="'FORM.OFFICER.DESCRIPTION'"
        [addOfficerORGForm]="true"
        [formGroup]="addOfficersForm"
        (submitForm)="addOrEditOfficer()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
