<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
    <p-button
      *ngIf="addCentralBankInfoShowMain"
      label="View Central Bank Info"
      icon="pi pi-cog"
      (click)="viewCentralBankInfo()"
      class="custom-view m-0 float-right"
    />
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      [formGroup]="formGroup"
      *ngIf="addCentralBankInfoShowMain"
      (ngSubmit)="onSubmit()"
    >
      <label for="balanceSheetdate">Balance Sheet Date</label>
      <shared-date-picker
        formControlName="balanceSheetdate"
        inputId="balanceSheetdate"
      >
      </shared-date-picker>

      <label for="companyTypeId">Company Type<sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="companyTypesList"
        optionLabel="name"
        placeholder="Select Company Type"
        formControlName="companyTypeId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('companyTypeId')?.invalid &&
            (formGroup.get('companyTypeId')?.dirty ||
              formGroup.get('companyTypeId')?.touched)
        }"
      />

      <label for="capital">Capital<sup>*</sup></label>
      <input
        pInputText
        id="capital"
        formControlName="capital"
        placeholder="Capital"
      />
      <div
        *ngIf="
          formGroup.get('capital')?.hasError('required') &&
          formGroup.get('capital')?.touched
        "
        class="p-error"
      >
        Capital is required.
      </div>
      <div
        *ngIf="
          formGroup.get('capital')?.hasError('pattern') &&
          formGroup.get('capital')?.touched
        "
        class="p-error"
      >
        Please enter only Numbers.
      </div>

      <label for="iScoreSectore">Iscore Sector</label>
      <input
        pInputText
        id="iScoreSectore"
        formControlName="iScoreSectore"
        placeholder="Iscore Sector"
      />

      <label for="cbeCustomerCode">CBE Customer Code<sup>*</sup></label>
      <input
        pInputText
        id="cbeCustomerCode"
        formControlName="cbeCustomerCode"
        placeholder="CBE Customer Code"
      />
      <div
        *ngIf="
          formGroup.get('cbeCustomerCode')?.hasError('required') &&
          formGroup.get('cbeCustomerCode')?.touched
        "
        class="p-error"
      >
        CBE Customer Code is required.
      </div>

      <label for="smeClientCodeId">SME Client Code <sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        [options]="smeClientCodesList"
        optionLabel="name"
        placeholder="Select SME Client Code"
        formControlName="smeClientCodeId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('smeClientCodeId')?.invalid &&
            (formGroup.get('smeClientCodeId')?.dirty ||
              formGroup.get('smeClientCodeId')?.touched)
        }"
      />
      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
          *ngIf="!editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Add Central Bank Info"
            [disabled]="formGroup.invalid"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
          *ngIf="editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Edit Central Bank Info"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          *ngIf="viewOnly"
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
        >
          <p-button
            label="Close"
            class="custom-save m-0 float-right"
            (click)="router.navigate([`/crm/clients/view-client-central-bank-info/${this.clientIdParam}`])"
          />
        </div>
      </div>
    </form>
  </div>
</div>
