<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Areas/Post'"
    [title]="'Areas'"
    [labelBtn]="'Add Area'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddArea()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container *ngIf="areas$ | async as areas">
    <app-table
      [viewPermission]="['/Areas/Get', '/Areas/GetAll', '/Areas/GetAllHistory']"
      [editPermission]="'/Areas/Put'"
      [deletePermission]="'/Areas/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredArea"
      [side]="false"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewAreasTable]="true"
      (onDelete)="onDeleteArea($event)"
      (onEdit)="onEditArea($event)"
      (viewForm)="onViewArea($event)"
    ></app-table>

    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
