<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/crm/clients/add-client-onboarding/add'"
    [title]="'Areas'"
    [labelBtn]="'Add Area'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddArea()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container *ngIf="areas$ | async as areas">
    <app-table
      [viewPermission]="[
        '/communication/view-calls/Get',
        '/communication/view-calls/GetAll',
        '/communication/view-calls/GetAllHistory'
      ]"
      [editPermission]="'/crm/clients/add-client-onboarding/edit'"
      [deletePermission]="'/crm/clients/add-client-onboarding/delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredArea"
      [side]="false"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewAreasTable]="true"
      (onDelete)="onDeleteArea($event)"
      (onEdit)="onEditArea($event)"
      (viewForm)="onViewArea($event)"
    ></app-table>

    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
