<div class="page-content">
  <app-toolbar-table
    [title]="'Sales Turnover'"
    [labelBtn]="'Add Sales'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="addSales()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Name EN'"
    [col2Name]="'Name AR'"
    [col3Name]="'Amount'"
    [col4Name]="'Date'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [viewTurnOverTable]="true"
  ></app-table>
</div>
