<app-toolbar-form
  [header]="
    viewOnly ? 'View Operation' : editMode ? 'Edit Operation' : 'Add Operation'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addOperationsORGForm"
        [title]="''"
        [description]="
          'Introduce your operation core info quickly to users by fill up operation details'
        "
        [formGroup]="addOperationsORGForm"
        [addOperationsORGForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditOperation()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
