<div class="page-content">
  <app-toolbar-table
    [title]="'Signatory Officers'"
    [labelBtn]="'Add Signatory Officers'"
    [backExists]="true"
    [exports]="true"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    (addBtn)="onAdd()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'Start Date'"
    [col5Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewSignatoryOfficersTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
