<div class="page-content">
  <app-toolbar-table
    [title]="'Client Statuses'"
    [labelBtn]="'Add Client Statuses'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
    (addBtn)="addClient()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'ID'"
    [col2Name]="'Code'"
    [col3Name]="'Name EN'"
    [col4Name]="'Name AR'"
    [col5Name]="'Initial'"
    [col6Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="true"
    [download]="false"
    [checkBox]="true"
    [viewClientStatusesTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
