<div class="page-content">
  <app-toolbar-table
    [title]="'Fees Ranges'"
    [labelBtn]="'Add Fees Ranges'"
    [btnAdd]="true"
    [iconBtn]="'plus-icon'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
    (addBtn)="onAddRange()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Fee Type Name'"
    [col2Name]="'Lower Bound'"
    [col3Name]="'Upper Bound'"
    [col4Name]="'Default Amount'"
    [col5Name]="'Default Percentage'"
    [col6Name]="'Criteria Field'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewFeesRangeTable]="true"
  ></app-table>
</div>
