<div class="page-content">
  <app-toolbar-table
    [title]="'Assest Type Categories'"
    [labelBtn]="'Add Assest Type Categories'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'Limit'"
    [col5Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewAssestTypeCategoriesTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
