<div class="container-fluid">
  <app-toolbar-card
    [title]="'Client Activity'"
    [backExists]="true"
    [backIcon]="'back-icon'"
    [btnExists]="false"
    (viewBtn)="navigateToInfo()"
  ></app-toolbar-card>
  <div class="row w-100 gap-60" *ngFor="let row of cards">
    <div class="col-sm p-0" *ngFor="let card of row">
      <app-card
        [imgUrl]="card.imgUrl"
        [imgAlt]="card.imgAlt"
        [title]="card.title"
        [content]="card.content"
        (navigation)="navigateTo(card.link)"
      ></app-card>
    </div>
  </div>
</div>
