<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/AddressTypes/Post'"
    [title]="'Assets'"
    [labelBtn]="'Add Asset'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddAsset()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="assets$ | async as assets">
    <app-table
      [viewPermission]="[
        '/AddressTypes/Get',
        '/AddressTypes/GetAll',
        '/AddressTypes/GetAllHistory'
      ]"
      [editPermission]="'/AddressTypes/Put'"
      [deletePermission]="'/AddressTypes/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredAssets"
      [side]="true"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewAddressTypesTable]="true"
      (onDelete)="onDeleteAsset($event)"
      (wizardBtn)="onAddSide($event)"
      (onEdit)="onEditAsset($event)"
      (viewForm)="onViewAsset($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
