<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/crm/clients/add-client-onboarding/add'"
    [title]="'Action Notification Group'"
    [labelBtn]="'Add Action Notification Group'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddActionNotificationGroup()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container
    *ngIf="actionNotificationGroups$ | async as actionNotificationGroups"
  >
    <app-table
      [editPermission]="'/crm/clients/add-client-onboarding/edit'"
      [deletePermission]="'/crm/clients/add-client-onboarding/delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredActionNotificationGroups"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewMandateActionNotificationGroupTable]="true"
      (onDelete)="onDeleteActionNotificationGroup($event)"
      (onEdit)="onEditActionNotificationGroup($event)"
      (viewForm)="onViewActionNotificationGroup($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
