<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/NotificationGroups/Post'"
    [title]="'Notification Groups'"
    [labelBtn]="'Add Notification Group'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddNotificationGroup()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="notificationGroups$ | async as notificationGroups">
    <app-table
      [viewPermission]="[
        '/NotificationGroups/Get',
        '/NotificationGroups/GetAll',
        '/NotificationGroups/GetAllHistory'
      ]"
      [editPermission]="'/NotificationGroups/Put'"
      [deletePermission]="'/NotificationGroups/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredNotificationGroups"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewNotificationGroupsTable]="true"
      (onDelete)="onDeleteNotificationGroup($event)"
      (onEdit)="onEditNotificationGroup($event)"
      (viewForm)="onViewNotificationGroup($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
