<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Contact Persons'
      : editMode
      ? 'Edit Contact Person'
      : 'Add Contact Person'
  "
  [backExists]="true"
  [viewOnly]="false"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-add-client-contact-persons-form
        [title]="''"
        [description]="'Client Contact Person'"
        [addClientContactPersonForm]="true"
        [addressTypes]="addressTypes$ | async"
        [countries]="countries$ | async"
        [governorates]="governorates$ | async"
        [identityTypes]="identityTypes$ | async"
        [areas]="areas$ | async"
        [formGroup]="addClientContactPersonForm"
        (submitForm)="addOrEditClientContactPerson()"
        [editMode]="editMode"
        [phoneTypeOptions]="phoneTypes$ | async"
        [viewOnly]="viewOnly"
        (removeIdentity)="removeIdentity($event)"
        (addIdentity)="addIdentity()"
        (removePhoneType)="removePhoneType($event)"
        (addPhoneType)="addPhoneType()"
      ></app-add-client-contact-persons-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
