<!--toolbar-->

<p-toolbar styleClass="mb-6  p-3">
  <ng-template #start>
    <p class="client">
      <p-button
        icon="{{ backIcon }}"
        styleClass="backIcon"
        *ngIf="backExists"
        (click)="goBack()"
      ></p-button
      >{{ header }}
      <span class="badge badge-warning" *ngIf="!viewOnly">Pending</span>
    </p>
  </ng-template>

  <ng-template #end>
    <p-splitButton
      label="Workflow Actions"
      [model]="items"
      class="work-actions"
      *ngIf="!viewOnly"
    />
  </ng-template>
</p-toolbar>
