<!--toolbar-->

<p-toolbar styleClass="mb-6  p-3">
  <ng-template #start>
    <p class="client">
      <p-button
        icon="{{ backIcon }}"
        styleClass="backIcon"
        *ngIf="backExists"
        (click)="goBack()"
      ></p-button>
      <p-button
        icon="{{ closeIcon }}"
        styleClass="closeIcon"
        *ngIf="closeExists"
        (click)="onCloseClick()"
      ></p-button>
      <p-button
        icon="{{ closeIcon }}"
        styleClass="closeIcon"
        *ngIf="close2Exists"
        (click)="onClose2Click()"
      ></p-button>
      {{ header }}
      <span class="badge badge-warning" *ngIf="!viewOnly && !editMode"
        >Pending</span
      >
    </p>
  </ng-template>

  <ng-template #end>
    <!-- ✅ Correct -->
    <p-splitButton
      [label]="selectedActionLabel || 'Workflow Actions'"
      icon="pi pi-cog"
      [model]="workFlowItems"
      appendTo="body"
      class="work-actions"
    >
      <!-- *ngIf="!viewOnly" -->
    </p-splitButton>

    <!-- <p-splitButton
      label="Workflow Actions"
      [model]="items2"
      class="work-actions"
      *ngIf="!viewOnly"
    /> -->
  </ng-template>
</p-toolbar>
<app-workflow-dialog
  [selectedActionLabel]="selectedActionLabel"
  [selectedActionId]="selectedActionId"
  [comment]="comment"
  [(visible)]="showCommentDialog"
  (onSaveAction)="submitWorkflowAction($event)"
>
</app-workflow-dialog>
