<div class="page-content">
  <app-toolbar-table
    [title]="'SME Client Code'"
    [labelBtn]="'Add SME Client Code'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
    (addBtn)="onAdd()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'Upper Limit'"
    [col5Name]="'Lower Limit'"
    [col6Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewSMEClientCodeTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
viewSMEClientCodeTable
