<app-toolbar-form
  [header]="editMode ? 'Edit Governorates' : 'Add Governorates'"
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addGovernoratesLookupsForm"
        [title]="'Main Information'"
        [description]="
          'Introduce Governorate info quickly to users by fill up Governorate details'
        "
        [formGroup]="addGovernoratesLookupsForm"
        [addGovernoratesLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditGovernorates()"
        [viewOnly]="viewOnly"
        [countriesList]="countriesList"
 
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
