<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
    <p-button
      *ngIf="addClientPhoneNumberForm"
      icon="pi pi-cog"
      label="View Phone Numbers"
      icon="pi pi-cog"
      (click)="viewPhoneNumber()"
      class="custom-view m-0 float-right"
    />
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      *ngIf="addClientPhoneNumberForm"
      (ngSubmit)="onSubmit()"
      [formGroup]="formGroup"
    >
      <label for="phoneTypeId"
        >Select Phone Type<sup class="danger">*</sup></label
      >
      <!--Select Box-->
      <p-select
        [options]="phoneTypes"
        optionLabel="name"
        placeholder="Select Phone type"
        formControlName="phoneTypeId"
        optionValue="id"
        required
        [ngClass]="{
          'ng-invalid':
            formGroup.get('phoneTypeId')?.invalid &&
            (formGroup.get('phoneTypeId')?.dirty ||
              formGroup.get('phoneTypeId')?.touched)
        }"
      >
      </p-select>

      <div
        *ngIf="
          formGroup.get('phoneTypeId')?.hasError('required') &&
          formGroup.get('phoneTypeId')?.touched
        "
        class="p-error"
      >
        Phone Type is required.
      </div>

      <label for="phoneNumber">Number <sup class="danger">*</sup></label>
      <input
        pInputText
        name="phoneNumber"
        formControlName="phoneNumber"
        placeholder="phoneNumber"
        type="string"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formGroup.get('phoneNumber')?.invalid &&
            formGroup.get('phoneNumber')?.touched
        }"
      />

      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 currenciesDiv"
          *ngIf="!editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Add Phone Number"
            [disabled]="formGroup.invalid"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
          *ngIf="editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Edit Phone Number "
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          *ngIf="viewOnly"
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
        >
          <p-button
            label="Close"
            class="custom-save m-0 float-right"
            (click)="router.navigate([`/crm/clients/view-phone-numbers/${clientId}`])"
          />
        </div>
      </div>
    </form>
  </div>
</div>
