:host {
  --p-tabs-active-bar-background: #0a69bb;
  --custom-color-white: #fff;
  --custom-width-20: 20%;
  --custom-position-auto: auto;
  --custom-position-28: 28px;
  --custom-position-center: center;
  --custom-padding-20: 20px;
  --custom-width-100: 100%;
  --custom-position-0: 0px;
  --custom-font-size-18: 18px;
  --custom-font-size-16: 16px;
  --custom-weight-700: 700;
  --custom-font-epilogue: "epilogue";
  --custom-line-height-25: 25.6px;
  --custom-line-height-28: 28.8px;
  --custom-height-70: 70vh;
  --custom-cursor: pointer;
  --custom-width-30: 30%;
  --custom-width-94: 94%;
  --custom-background-transparent: transparent;
  --custom-font-epilogue-regular: "epilogue";
  --custom-font-weight-600: 600;
  &::ng-deep {
    .p-button {
      flex-direction: var(--custom-flex-direction-row-reverse);
      background: var(--custom-background-transparent);
      border-radius: var(--custom-size-8);
      padding-top: var(--custom-size-8);
      padding-right: var(--custom-size-16);
      padding-bottom: var(--custom-size-8);
      padding-left: var(--custom-size-16);
      border: var(--custom-border);
      font-family: var(--custom-font-family-regular);
      font-weight: var(--custom-font-weight);
      font-size: var(--custom-font-size-13);
      line-height: var(--custom-font-size-24);
    }

    .p-button:not(:disabled):hover {
      background: var(--p-tabs-active-bar-background);
      border: none;
    }
    .custom-next {
      background: var(--p-tabs-active-bar-background);
      width: var(--custom-width-30);
      margin-left: var(--custom-position-auto);
      margin-right: var(--custom-position-28);
      text-align: var(--custom-position-center);
      padding: var(--custom-padding-20);
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
      color: var(--custom-color-white);
    }
    .custom-save {
      background: var(--p-tabs-active-bar-background);
      width: var(--custom-position-auto);

      text-align: var(--custom-position-center);
      padding: 14px 27px 14px 27px;
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
      color: var(--custom-color-white);
    }
    .padding-right {
      padding-right: 15px;
    }
    .p-tabpanels {
      padding-bottom: 116px;
    }
    .p-button-label {
      font-weight: var(--custom-weight-700);
      font-size: var(--custom-font-size-18);
      font-family: var(--custom-font-epilogue);
      line-height: var(--custom-line-height-28);
    }
    .custom-back .p-button {
      background: var(--custom-background-transparent);
      border: 1px solid var(--p-tabs-active-bar-background);
      color: var(--p-tabs-active-bar-background) !important;
      width: var(--custom-width-30);
      text-align: var(--custom-position-center);
      padding: var(--custom-padding-20);
      font-size: var(--custom-font-size-18);
      cursor: var(--custom-cursor);
    }
    .custom-back .p-button:not(:disabled):hover {
      background: var(--custom-color-white) !important;
      border: 1px solid var(--p-tabs-active-bar-background);
    }

    .fileUploadDiv {
      background: url(/assets/images/shared/forms/Logo.svg);
      height: 30lvh;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 60%;
      p-button {
        width: 70%;
      }
      .p-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30lvh;
        color: transparent;
      }
      .p-button:hover {
        background: transparent;
        color: transparent;
      }
    }
    .file-upload-basic {
      width: 100%;
      display: block;
      height: 100%;
    }
    /*responsiveness*/
    @media only screen and (max-width: 600px) {
      .nextBtn {
        width: var(--custom-size-100);
      }
      .p-toolbar-end,
      p-button,
      .p-button {
        width: var(--custom-size-100);
      }
      p.client {
        width: var(--custom-size-100);
        justify-content: var(--custom-justify-content-between);
      }
      .p-toolbar-start {
        width: var(--custom-size-100);
      }
      .padding-right {
        padding-right: 0;
        padding-left: 0;
      }
      .custom-next,
      .custom-back {
        width: var(--custom-width-94);
        margin-right: var(--custom-position-0);
        margin-left: var(--custom-position-auto);
        margin-bottom: var(--custom-padding-20);
      }
      .custom-back .p-button {
        width: var(--custom-width-100);
      }
      .custom-save {
        width: var(--custom-width-100);
      }
    }
  }
}
h2 {
  font-family: var(--custom-font-epilogue-regular);
  font-weight: var(--custom-font-weight-600);
  font-size: var(--custom-size-16);
  line-height: var(--custom-line-height-25);
}
p {
  font-family: "epilogue";
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #7c8493;
}
hr {
  margin: 0;
  margin-bottom: 24px;
  margin-top: 8px;
}
