<div class="page-content">
  <app-toolbar-table
    [title]="'Role Claims'"
    [labelBtn]="'Add Role Claim'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddRoleClaim()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container *ngIf="roleClaims$ | async as roleClaims">
    <app-table
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredRoleClaims"
      [edit]="false"
      [delete]="false"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="false"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewRoleClaimsTable]="true"
      (onDelete)="onDeleteRoleClaim($event)"
      (viewForm)="onViewRoleClaim($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
