<app-toolbar-form
  [header]="'Add Officer'"
  [backExists]="true"
  [viewOnly]="false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-forms
        [title]="'Main Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addOfficerORGForm]="true"
      ></app-forms>

      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 padding-right"
          (click)="addOfficer()"
        >
          <p-button label="Add Officer" class="custom-save m-0 float-right" />
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
