<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
    <p-button
      *ngIf="addCallForm"
      icon="pi pi-cog"
      label="View Calls"
      icon="pi pi-cog"
      (click)="viewCalls()"
      class="custom-view m-0 float-right"
    />
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form *ngIf="addCallForm" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <!-- Call Type -->
      <label for="callTypeId">Call Type <sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        id="callTypeId"
        [options]="callTypes"
        optionLabel="name"
        placeholder="Select Type"
        formControlName="callTypeId"
        optionValue="id"
        [ngClass]="{
          'ng-invalid':
            formGroup.get('callTypeId')?.invalid &&
            (formGroup.get('callTypeId')?.dirty ||
              formGroup.get('callTypeId')?.touched)
        }"
      ></p-select>

      <!-- Call Action -->
      <label for="callActionTypeId">Call Action <sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        id="callActionTypeId"
        [options]="callActionTypes"
        optionLabel="name"
        placeholder="Select Call Action"
        formControlName="callActionTypeId"
        optionValue="id"
        [ngClass]="{
          'ng-invalid':
            formGroup.get('callActionTypeId')?.invalid &&
            (formGroup.get('callActionTypeId')?.dirty ||
              formGroup.get('callActionTypeId')?.touched)
        }"
      ></p-select>

      <!-- Communication Flow -->
      <label for="communicationFlowId">Communication Flow <sup>*</sup></label>
      <p-select
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        id="communicationFlowId"
        [options]="communicationFlowTypes"
        optionLabel="name"
        placeholder="Select Communication Flow"
        formControlName="communicationFlowId"
        optionValue="id"
        [ngClass]="{
          'ng-invalid':
            formGroup.get('communicationFlowId')?.invalid &&
            (formGroup.get('communicationFlowId')?.dirty ||
              formGroup.get('communicationFlowId')?.touched)
        }"
      ></p-select>

      <!-- Topic -->
      <label for="topic">Topic <sup class="danger">*</sup></label>
      <input
        pInputText
        id="topic"
        placeholder="Topic"
        formControlName="topic"
      />

      <!-- Details -->
      <label for="details">Details <sup class="danger">*</sup></label>
      <input
        pInputText
        id="details"
        placeholder="Details"
        formControlName="details"
        [ngClass]="{
          'ng-invalid':
            formGroup.get('details')?.invalid &&
            (formGroup.get('details')?.dirty ||
              formGroup.get('details')?.touched)
        }"
      />

      <label for="date">Date<sup>*</sup></label>
      <shared-date-picker formControlName="date" inputId="date">
      </shared-date-picker>

      <!-- Comments -->
      <label for="comments">Comments</label>
      <input
        pInputText
        id="comments"
        placeholder="Comments"
        formControlName="comments"
      />

      <!-- Communication Officers -->
      <div formArrayName="communicationOfficers" class="my-4">
        <div
          *ngFor="
            let group of communicationOfficersArray.controls;
            let i = index
          "
          [formGroupName]="i"
          class="parent2-individual2 mt-2 flex items-start gap-4 align-items-center flex-wrap"
        >
          <div class="div-select flex-1 min-w-0">
            <label for="officerId" class="p-0">
              Select Officer <sup class="danger">*</sup>
            </label>
            <p-select
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              [options]="officersList"
              formControlName="officerId"
              placeholder="Select Officer"
              optionLabel="name"
              optionValue="id"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  group.get('officerId')?.invalid &&
                  group.get('officerId')?.touched,
                disabled: viewOnly,
                enabled: !viewOnly
              }"
            ></p-select>
            <small
              class="p-error d-block"
              *ngIf="
                group.get('officerId')?.invalid &&
                group.get('officerId')?.touched
              "
            >
              Officer is required.
            </small>
          </div>

          <!-- Is Attend -->
          <label for="isAttend" class="p-0">Is Attend</label>
          <p-toggleswitch
            formControlName="isAttend"
            [ngClass]="{
              'ng-invalid ng-dirty':
                group.get('isAttend')?.invalid &&
                group.get('isAttend')?.touched,
              disabled: viewOnly,
              enabled: !viewOnly
            }"
          ></p-toggleswitch>

          <!-- Is Responsible -->
          <label for="isResponsible" class="p-0">Is Responsible</label>
          <p-toggleswitch
            formControlName="isResponsible"
            [ngClass]="{
              'ng-invalid ng-dirty':
                group.get('isResponsible')?.invalid &&
                group.get('isResponsible')?.touched,
              disabled: viewOnly,
              enabled: !viewOnly
            }"
          ></p-toggleswitch>
          <small
            class="p-error"
            *ngIf="
              group.get('isResponsible')?.invalid &&
              group.get('isResponsible')?.touched
            "
          >
            You must choose if this is Responsible.
          </small>

          <!-- Add/Remove Buttons -->
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-outlined p-button-sm"
            (click)="addCommunicationOfficer.emit()"
            *ngIf="!viewOnly"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="removeCommunicationOfficer.emit(i)"
            *ngIf="communicationOfficersArray.length > 1 && !viewOnly"
          ></button>
        </div>
      </div>

      <!-- Communication Contact Persons -->
      <div formArrayName="communicationContactPersons" class="my-4">
        <div
          *ngFor="
            let group of communicationContactPersonsArray.controls;
            let i = index
          "
          [formGroupName]="i"
          class="parent2-individual2 mt-2 flex items-start gap-4 align-items-center flex-wrap"
        >
          <div class="div-select flex-1 min-w-0">
            <label for="contactPersonId" class="p-0">
              Select Contact Person <sup class="danger">*</sup>
            </label>
            <p-select
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              [options]="contactPersons"
              formControlName="contactPersonId"
              placeholder="Select Contact Person"
              optionLabel="name"
              optionValue="id"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  group.get('contactPersonId')?.invalid &&
                  group.get('contactPersonId')?.touched,
                disabled: viewOnly,
                enabled: !viewOnly
              }"
            ></p-select>
            <small
              class="p-error d-block"
              *ngIf="
                group.get('contactPersonId')?.invalid &&
                group.get('contactPersonId')?.touched
              "
            >
              Contact Person is required.
            </small>
          </div>

          <!-- Is Attend -->
          <label for="isAttend" class="p-0">Is Attend</label>
          <p-toggleswitch
            formControlName="isAttend"
            [ngClass]="{
              'ng-invalid ng-dirty':
                group.get('isAttend')?.invalid &&
                group.get('isAttend')?.touched,
              disabled: viewOnly,
              enabled: !viewOnly
            }"
          ></p-toggleswitch>
          <small
            class="p-error"
            *ngIf="
              group.get('isAttend')?.invalid && group.get('isAttend')?.touched
            "
          >
            You must choose if this is Attend.
          </small>

          <!-- Add/Remove Buttons -->
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-outlined p-button-sm"
            (click)="addCommunicationContactPerson.emit()"
            *ngIf="!viewOnly"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="removeCommunicationContactPerson.emit(i)"
            *ngIf="communicationContactPersonsArray.length > 1 && !viewOnly"
          ></button>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 currenciesDiv"
          *ngIf="!editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Add Call"
            [disabled]="formGroup.invalid"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
          *ngIf="editMode && !viewOnly"
        >
          <p-button
            type="submit"
            label="Edit Call"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
        <div
          *ngIf="viewOnly"
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0"
        >
          <p-button
            label="Close"
            class="custom-save m-0 float-right"
            (click)="viewCalls()"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
