<div class="page-content">
  <app-toolbar-table
    [title]="'Sectors'"
    [labelBtn]="'Add Sectors'"
    [backExists]="true"
    [exports]="true"
    [backIcon]="'back-icon'"
    (addBtn)="addSectors()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Name EN'"
    [col3Name]="'Name AR'"
    [col4Name]="'Sub Sectors'"
    [col5Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewSectorsTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
