<div class="page-content">
  <app-toolbar-table
    [title]="'Sectors'"
    [labelBtn]="'Add Sector'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddSector()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="Sectors$ | async as Sectors">
    <app-table
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredSector"
      [edit]="true"
      [delete]="true"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewSectorsTable]="true"
      (onDelete)="onDeleteSector($event)"
      (onEdit)="onEditSector($event)"
      (viewForm)="onViewSector($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
