<div class="page-content">
  <app-toolbar-table
    [title]="'Legal Form Laws'"
    [labelBtn]="'Add Legal Form Law'"
    [iconBtn]="'plus-icon'"
    [backExists]="false"
    [exports]="true"
    (addBtn)="addLegalFormLaw()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Code'"
    [col2Name]="'Legal Form Code'"
    [col3Name]="'Name EN'"
    [col4Name]="'Name AR'"
    [col5Name]="'Active'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [download]="false"
    [checkBox]="true"
    [viewLegalFormLawTable]="true"
    [uppercase]="'uppercase'"
  ></app-table>
</div>
