<div class="page-content">
  <app-toolbar-table
    [title]="'Address'"
    [labelBtn]="'Add Address'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [customSpacing]="'custom-spacing'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="onAddAddress()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Client Name EN'"
    [col2Name]="'Client Name AR'"
    [col3Name]="'Details English'"
    [col4Name]="'Details AR'"
    [col5Name]="'Address Type '"
    [col6Name]="'Area '"
    [col7Name]="'IsMain'"
    [col8Name]="'IsActive'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewAddressTable]="true"
  ></app-table>
</div>
