<div class="page-content">
  <app-toolbar-table
    [title]="'Addresses'"
    [labelBtn]="'Add Address'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddAddress()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="addresses$ | async as addresses">
    <app-table
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredAddresses"
      [edit]="true"
      [delete]="true"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewAddressTable]="true"
      (deleteAddress)="onDeleteAddress($event)"
      (editAddress)="onEditAddress($event)"
      (wizardBtn)="onAddSide($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
