<app-toolbar-form
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="false"
  [header]="
    viewOnly
      ? 'View Legal Form'
      : editMode
      ? 'Edit Legal Form '
      : 'Add Legal Form '
  "
  [viewOnly]="editMode ? true : false"
></app-toolbar-form
><p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-add-legal-form
        [title]="'Main Information'"
        [description]="'Legal Forms'"
        [addLegalFormsForm]="true"
        [formGroup]="addLegalFormsForm"
        (submitForm)="addOrEditLegalForm()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-add-legal-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
