<div class="row row-toolbar w-100">
  <div class="col-sm align-items-center d-flex back-col">
    <img src="/assets/images/shared/table/back.svg" alt="back" />
    <span class="meeting-details">Meeting Details</span>
  </div>
  <div class="col-sm">
    <h3 class="current-month">
      <button class="btn" (click)="goPrev()">
        <img src="/assets/images/calendar/prev.svg" alt="prev" />
      </button>
      {{ currentMonth }}
      <button class="btn" (click)="goNext()">
        <img src="/assets/images/calendar/next.svg" alt="next" />
      </button>
    </h3>
  </div>
  <div class="col-sm text-right">
    <button
      class="view"
      (click)="changeView('day')"
      [ngClass]="selectedView === 'day' ? 'selected' : 'view'"
    >
      Day
    </button>
    <button
      class="view default"
      (click)="changeView('week')"
      [ngClass]="selectedView === 'week' ? 'selected' : 'view'"
    >
      Week
    </button>
    <button
      class="view"
      (click)="changeView('month')"
      [ngClass]="selectedView === 'month' ? 'selected' : 'view'"
    >
      Month
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- LEFT COLUMN: date picker + add button -->
    <div class="col-12 col-xl-3 mb-3 left-col">
      <div
        class="mb-3 d-flex justify-content-center align-items-center btn-row w-100"
      >
        <img src="/assets/images/calendar/add.svg" alt="add" />
        <button (click)="onAddMeeting()">Add Meeting</button>
      </div>

      <!-- Make sure to have a wrapping element that can resize -->
      <p-datepicker [(ngModel)]="selectedDateForCalendar"></p-datepicker>
      <hr />
      <div class="meeting-type">
        <h5>Meeting Type</h5>
        <!-- We iterate over an array of checkbox options in the component -->
        <div
          class="form-check mb-2"
          *ngFor="let type of meetingTypeOptions; let i = index"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [id]="type.value"
            [(ngModel)]="type.checked"
            name="meetingTypes"
          />
          <label class="form-check-label" [for]="type.value">
            {{ type.label }}
          </label>
        </div>
      </div>
    </div>

    <!-- RIGHT COLUMN: FullCalendar -->
    <div class="col-12 col-xl-9">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
