<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="'Main Information'"
        [description]="'Client Contact Person'"
        [addClientContactPersonForm]="true"
        [addressTypes]="addressTypes$ | async"
        [countries]="countries$ | async"
        [governorates]="governorates$ | async"
        [phoneTypes]="phoneTypes$ | async"
        [identityTypes]="identityTypes$ | async"
        [areas]="areas$ | async"
        [formGroup]="addClientContactPersonForm"
        (submitForm)="addOrEditClientContactPerson()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
        (removeIdentity)="removeIdentity($event)"
        (addIdentity)="addIdentity()"
        (removePhoneType)="removePhoneType($event)"
        (addPhoneType)="addPhoneType()"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
  
</p-tabs>