<app-toolbar-form
  [header]="'Central Bank Info'"
  [header]="editMode ? 'Edit Central Bank Info' : 'Add Central Bank Info'"
  [backExists]="true"
  [viewOnly]="false"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addClientCentralBankInfoForm"
        [title]="'Central Bank Info'"
        [description]="
          'Introduce your Central Bank Info core info quickly to users by fill up client details'
        "
        [formGroup]="addClientCentralBankInfoForm"
        [addClientCentralBankInfoForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditClientCentralBankInfo()"
        [viewOnly]="viewOnly"
        [companyTypesList]="companyTypesList$ | async"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
