<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/ClientIdentities/Post'"
    [title]="'Client Identities'"
    [labelBtn]="'Add Client Identity'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddClientIdentity()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="clientIdentities$ | async as clientIdentities">
    <app-table
      [viewPermission]="[
        '/ClientIdentities/Get',
        '/ClientIdentities/GetAll',
        '/ClientIdentities/GetAllHistory'
      ]"
      [editPermission]="'/ClientIdentities/Put'"
      [deletePermission]="'/ClientIdentities/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredClientIdentities"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewSalesTurnoverTable]="true"
      (onDelete)="onDeleteClientIdentity($event)"
      (onEdit)="onEditClientIdentity($event)"
      (viewForm)="onViewClientIdentity($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
