.loginComp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 53%;
  background: var(--white);
  border-radius: 20px;
  min-width: 30%;
  justify-content: space-evenly;
}
h2 {
  font-family: "J-Medium";
  margin: 0;
  color: var(--light-blue);
}
h2 span {
  font-family: "J-Bold";
  color: var(--light-green);
}
h2:nth-child(1) {
  font-size: 55px;
}
h2:nth-child(2) {
  font-family: "J-Bold";
  font-size: 40px;
}
.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 32%;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
::ng-deep .p-inputtext {
  width: 100%;
}
::ng-deep .p-float-label {
  width: 75%;
}
.loginFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background: #00294d;
  color: var(--white);
}
.loginFooter p {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "J-Regular";
  font-size: 12px;
}
.loginFooter p span {
  color: var(--light-green);
  margin: 0 5px 0 0;
  font-family: "J-Bold";
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  svg {
    width: 96%;
  }
}
