<div class="page-content">
  <app-toolbar-table
    [title]="'Department Manager'"
    [labelBtn]="'Add Manager'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddDepartmentManager()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

    <app-table
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredDepartmentManagers"
      [edit]="true"
      [delete]="true"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewDepartmentManagersTable]="true"
      (onDelete)="onDeleteDepartmentManager($event)"
      (onEdit)="onEditDepartmentManager($event)"
      (viewForm)="onViewDepartmentManager($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
</div>
