<section class="notification">
  <div class="container-fluid">
    <header class="row">
      <p class="col-sm title">Notifications</p>
      <p class="col-sm action">Mark all as read</p>
    </header>
    <hr />
    <section class="container">
      <section>
        <p class="client"><b>New Client</b> has been added to the system</p>
        <span class="badge badge-warning">Pending</span>
        <p class="time">12 mins ago</p>
      </section>
      <hr />
      <section>
        <p class="client"><b>New Client</b> has been added to the system</p>
        <span class="badge badge-success">Shortlisted</span>
        <p class="time">3 days ago</p>
      </section>
      <hr />
      <section>
        <p class="client">
          <b>Ibrahim</b> from Corplease sent you an meeting invitation
        </p>
        <section class="card">
          <section class="card-container">
            <p class="header">UI/UX Design Meeting</p>
            <p class="title">Social Media Manager Role</p>
            <section class="row">
              <article class="col">
                <img
                  src="/assets/images/shared/notification/date.svg
                      "
                  alt="date"
                />
                <section>
                  <p class="title-date">Date</p>
                  <p class="content-date">Mon, 20 July 2021</p>
                </section>
              </article>
              <article class="col">
                <img
                  src="/assets/images/shared/notification/time.svg
                      "
                  alt="time"
                />
                <section>
                  <p class="title-time">Time</p>
                  <p class="content-time">12 PM - 12:30 PM</p>
                </section>
              </article>
            </section>
            <p class="name">Ibrahim</p>
            <p class="mail">Ibrahim&#64;corplease.com</p>
          </section>
        </section>
      </section>
      <span class="caption-date">14 July 2025 . 3:26 PM</span>
    </section>
  </div>
</section>
