<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        [title]="''"
        [description]="'Notification Group Officers'"
        [addNotificationGroupOfficersLookupsForm]="true"
        [notificationGroups]="notificationGroups$ | async"
        [officers]="officers$ | async"
        [formGroup]="addNotificationGroupOfficersLookupsForm"
        (submitForm)="addOrEditNotificationGroupOfficer()"
        [editMode]="editMode"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
