@use "./assets/layout/layout.scss";
@use "tailwindcss";

@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "almarai";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "epilogue";
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter-regular.ttf);
}
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/audiowide/v20/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/audiowide/v20/l7gdbjpo0cum0ckerWCdlg_O.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: "poppins", sans-serif;
  zoom: 75%;
}
.page-content {
  padding: 20px 20px;
}
html,
body {
  background-color: var(--p-content-background) !important;
  color: var(--text-color) !important;
}

:root {
  --p-content-background: #ffffff;
  --p-toolbar-background: #ffffff;
  --secondary-color: #515b6f;
  --p-select-background: #fff;
  --p-inputtext-background: #fff;
  --filter-text: #25324b;
  --bg-transparent: transparent;
  --bg-grey: #f6f6f6;
  --bg-light-grey: #f4f4f4;
  --bg-blue: #0a69bb;
  --bg-tab: #fff;
  --custom-grey-bold: #515b6f;
  --border-white: #fff;
  --p-toggleswitch-checked-border-color: #fff;
  --p-tabs-tablist-background: transparent;
  --text-color: #7c8493;
  --black-color: #1a1d1f;
  --side-background: #f0f0f2;
  --hover-side: #e9ebfd;
  --white-color: #7c8493;
  --side-internal: #e9ebfd;
  --nav-background: #fff;
  --search-background: #e6e6e6;
  --search-text: #9a9fa5;
  --toggle-background: #f4f4f4;
  --export-text: #0a69bb;
  --btn-text: #25324b;
  --search-table: #fff;
  --search-border: hsl(220, 34%, 88%);
  --toggle-active: #fcfcfc;
  --toggle-active-text: #1a1d1f;
  --border-table: #d6ddeb;
  --bg-odd: #f8f8fd;
  --table-text: #25324b;
  --side-menu: #f8f8fd;
}

.dark-theme {
  --p-content-background: #000;
  --p-toolbar-background: #000;
  --secondary-color: #fff;
  --p-select-background: #000;
  --p-inputtext-background: #000;
  --filter-text: #fff;
  --bg-transparent: transparent;
  --bg-grey: #272b30;
  --bg-light-grey: transparent;
  --bg-blue: #0a69bb;
  --bg-tab: #000;
  --custom-grey-bold: #fff;
  --border-white: #fff;
  --p-toggleswitch-checked-border-color: #fff;
  --p-tabs-tablist-background: transparent;
  --text-color: #7c8493;
  --black-color: #1a1d1f;
  --side-background: #1a1d1f;
  --hover-side: #272b30;
  --white-color: #fff;
  --side-internal: #272b30;
  --nav-background: #1a1d1f;
  --search-background: #272b30;
  --search-text: #9a9fa5;
  --toggle-background: #111315;
  --export-text: #6f767e;
  --btn-text: #6f767e;
  --search-table: #272b30;
  --search-border: #272b30;
  --toggle-active: #272b30;
  --toggle-active-text: #fcfcfc;
  --border-table: transparent;
  --bg-odd: #272b30;
  --table-text: #fff;
  --side-menu: #272b30;
}
@media (prefers-color-scheme: dark) {
  :root {
    --p-content-background: #ffffff;
    --p-toolbar-background: #ffffff;
    --secondary-color: #515b6f;
    --p-select-background: #fff;
    --p-inputtext-background: #fff;
    --filter-text: #25324b;
    --bg-transparent: transparent;
    --bg-grey: #f6f6f6;
    --bg-light-grey: #f4f4f4;
    --bg-blue: #0a69bb;
    --bg-tab: #fff;
    --custom-grey-bold: #515b6f;
    --border-white: #fff;
    --p-toggleswitch-checked-border-color: #fff;
    --p-tabs-tablist-background: transparent;
    --text-color: #7c8493;
    --black-color: #1a1d1f;
    --side-background: #f0f0f2;
    --hover-side: #e9ebfd;
    --white-color: #7c8493;
    --side-internal: #e9ebfd;
    --nav-background: #fff;
    --search-background: #e6e6e6;
    --search-text: #9a9fa5;
    --toggle-background: #f4f4f4;
    --export-text: #0a69bb;
    --btn-text: #25324b;
    --search-table: #fff;
    --search-border: hsl(220, 34%, 88%);
    --toggle-active: #fcfcfc;
    --toggle-active-text: #1a1d1f;
    --border-table: #d6ddeb;
    --bg-odd: #f8f8fd;
    --table-text: #25324b;
    --side-menu: #f8f8fd;
  }
}
