@use "./assets/layout/layout.scss";
@use "tailwindcss";

@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "almarai";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "epilogue";
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:root {
  --p-content-background: #ffffff;
  --p-toolbar-background: #ffffff;
}
body {
  font-family: "poppins", sans-serif;
}
.page-content {
  padding: 20px;
}
html,
body {
  background-color: #ffffff !important;
  color: #000000 !important;
}
