@use "./assets/layout/layout.scss";
@use "tailwindcss";

@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "almarai";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "epilogue";
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: "poppins", sans-serif;
}
.page-content {
  padding: 20px;
}
html,
body {
  background-color: var(--p-content-background) !important;
  color: var(--text-color) !important;
}

:root {
  --p-content-background: #ffffff;
  --p-toolbar-background: #ffffff;
  --secondary-color: #515b6f;
  --p-select-background: #fff;
  --p-inputtext-background: #fff;
  --filter-text: #25324b;
  --bg-transparent: transparent;
  --bg-grey: #f6f6f6;
  --bg-blue: #0a69bb;
  --bg-tab: #fff;
  --custom-grey-bold: #515b6f;
}

.dark-theme {
  --text-color: #fff;
  --p-content-background: #000;
  --p-toolbar-background: #000;
  --secondary-color: #fff;
  --p-select-background: #000;
  --p-inputtext-background: #000;
  --filter-text: #fff;
  --bg-transparent: transparent;
  --bg-grey: transparent;
  --bg-blue: transparent;
  --bg-tab: #000;
  --custom-grey-bold: #fff;
}
