@use "./assets/layout/layout.scss";
@use "tailwindcss";

@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "almarai";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "epilogue";
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: "poppins", sans-serif;
}
:host {
  .no-border {
    border: none;
    background-color: transparent;
  }
}

:host {
  --p-tabs-active-bar-background: #0a69bb;
  --p-chip-remove-icon-color: #0a69bb;
  --custom-color: #ffb836;
  --custom-grey: #7c8493;
  --custom-grey-bold: #515b6f;
  --custom-red: #fc1e1e;
  --custom-color-white: #f8f8fd;
  --custom-color-grey-light: #d6ddeb;
  --p-checkbox-checked-background: #0a69bb;
  --p-checkbox-checked-border-color: #0a69bb;
  --p-checkbox-checked-hover-border-color: #0a69bb;
  --p-checkbox-checked-focus-border-color: #0a69bb;
  --p-checkbox-checked-hover-background: #0a69bb;
  --custom-font-family: "poppins-bold";
  --custom-font-family-regular: "poppins";
  --custom-font-family-epilogue: "epilogue";
  --custom-border: none;
  --custom-background-transparent: transparent;
  --custom-flex-direction: row-reverse;
  --custom-font-weight: 700;
  --custom-font-weight-600: 600;
  --custom-font-weight-400: 400;
  --custom-font-size-24: 24px;
  --custom-font-size-14: 14px;
  --custom-font-size-13: 13px;
  --custom-font-size-18: 18px;
  --custom-line-height: 28.8px;
  --custom-size-4: 4px;
  --custom-size-8: 8px;
  --custom-size-12: 12px;
  --custom-size-16: 16px;
  --custom-width: 30%;
  --custom-font-size-27: 27px;
  --custom-margin-bottom-5: 5px;
  --custom-line-height-25: 25.6px;
  --custom-border-width: 1px;
  --custom-padding-top: 6px;
  --custom-padding-right-10: 10px;
  --custom-border-radius-80: 80px;
  --custom-margin-left-20: 20px;
  --custom-margin-0: 0px;
  --custom-position-center: center;
  --custom-display: flex;
  --custom-size-100: 100%;
  --custom-position-right: right;
  --custom-flex-direction: column;
  --custom-justify-content-between: space-between;
  --custom-flex-direction-row-reverse: row-reverse;
}
