@use "./assets/layout/layout.scss";
@use "tailwindcss";

@use "bootstrap/scss/bootstrap";

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "almarai";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "epilogue";
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter-regular.ttf);
}
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/audiowide/v20/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/audiowide/v20/l7gdbjpo0cum0ckerWCdlg_O.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html[dir="rtl"] {
  body {
    direction: rtl;
    text-align: right;
    font-family: "almarai", sans-serif;
  }
}
body {
  font-family: "poppins", sans-serif;
  height: 100vh;
}
.page-content {
  padding: 20px 20px;
}
html,
body {
  background-color: var(--p-content-background) !important;
  color: var(--text-color) !important;
}

:root {
  --p-content-background: #ffffff;
  --p-toolbar-background: #ffffff;
  --secondary-color: #515b6f;
  --p-select-background: #fff;
  --p-inputtext-background: #fff;
  --filter-text: #25324b;
  --bg-transparent: transparent;
  --bg-grey: #f6f6f6;
  --bg-light-grey: #f4f4f4;
  --bg-blue: #0a69bb;
  --bg-tab: #fff;
  --custom-grey-bold: #515b6f;
  --border-white: #fff;
  --p-toggleswitch-checked-border-color: #fff;
  --p-tabs-tablist-background: transparent;
  --text-color: #7c8493;
  --black-color: #1a1d1f;
  --side-background: #f0f0f2;
  --hover-side: #e9ebfd;
  --white-color: #7c8493;
  --white-color-add: #fff;
  --side-internal: #e9ebfd;
  --nav-background: #fff;
  --search-background: #e6e6e6;
  --search-text: #9a9fa5;
  --toggle-background: #f4f4f4;
  --export-text: #0a69bb;
  --btn-text: #25324b;
  --search-table: #fff;
  --search-border: hsl(220, 34%, 88%);
  --toggle-active: #fcfcfc;
  --toggle-active-bg: #fff;
  --toggle-active-text: #1a1d1f;
  --border-table: #d6ddeb;
  --bg-odd: #f8f8fd;
  --table-text: #25324b;
  --side-menu: #f8f8fd;
}

.dark-theme {
  --p-content-background: #000;
  --p-toolbar-background: #000;
  --secondary-color: #fff;
  --p-select-background: #000;
  --p-inputtext-background: #000;
  --filter-text: #fff;
  --bg-transparent: transparent;
  --bg-grey: #272b30;
  --bg-light-grey: transparent;
  --bg-blue: #0a69bb;
  --bg-tab: #000;
  --custom-grey-bold: #fff;
  --border-white: #fff;
  --p-toggleswitch-checked-border-color: #fff;
  --p-tabs-tablist-background: transparent;
  --text-color: #7c8493;
  --black-color: #1a1d1f;
  --side-background: #1a1d1f;
  --hover-side: #272b30;
  --white-color: #fff;
  --white-color-add: #fff;
  --side-internal: #272b30;
  --nav-background: #1a1d1f;
  --search-background: #272b30;
  --search-text: #9a9fa5;
  --toggle-background: #111315;
  --export-text: #6f767e;
  --btn-text: #6f767e;
  --search-table: #272b30;
  --search-border: #272b30;
  --toggle-active: #272b30;
  --toggle-active-bg: #272b30;
  --toggle-active-text: #fcfcfc;
  --border-table: transparent;
  --bg-odd: #272b30;
  --table-text: #fff;
  --side-menu: #272b30;
}
@media (prefers-color-scheme: dark) {
  :root {
    --p-content-background: #ffffff;
    --p-toolbar-background: #ffffff;
    --secondary-color: #515b6f;
    --p-select-background: #fff;
    --p-inputtext-background: #fff;
    --filter-text: #25324b;
    --bg-transparent: transparent;
    --bg-grey: #f6f6f6;
    --bg-light-grey: #f4f4f4;
    --bg-blue: #0a69bb;
    --bg-tab: #fff;
    --custom-grey-bold: #515b6f;
    --border-white: #fff;
    --p-toggleswitch-checked-border-color: #fff;
    --p-tabs-tablist-background: transparent;
    --text-color: #7c8493;
    --black-color: #1a1d1f;
    --side-background: #f0f0f2;
    --hover-side: #e9ebfd;
    --white-color: #7c8493;
    --white-color-add: #fff;
    --side-internal: #e9ebfd;
    --nav-background: #fff;
    --search-background: #e6e6e6;
    --search-text: #9a9fa5;
    --toggle-background: #f4f4f4;
    --export-text: #0a69bb;
    --btn-text: #25324b;
    --search-table: #fff;
    --search-border: hsl(220, 34%, 88%);
    --toggle-active: #fcfcfc;
    --toggle-active-text: #1a1d1f;
    --border-table: #d6ddeb;
    --bg-odd: #f8f8fd;
    --table-text: #25324b;
    --side-menu: #f8f8fd;
  }
}
:host {
  &::ng-deep {
    .p-tab {
      font-weight: 500 !important;
    }
    .p-dialog-content {
      flex-direction: column;
    }
    .p-inputnumber {
      width: 100%;
    }
    .p-select-option,
    .p-multiselect-option {
      color: var(--black-color) !important;
    }
    .p-checkbox-checked:not(.p-disabled) .p-checkbox-box {
      background: #059669 !important;
    }
    .p-checkbox:not(.p-disabled) .p-checkbox-box {
      background: #fff !important;
    }
    .p-multiselect-overlay {
      background: #fff !important;
      .p-multiselect-header {
        background: #fff !important;
      }
    }
  }
}
/* global styles.scss */

.btn-yes {
  background-color: #28a745 !important; /* bootstrap-green */
  border-color: #28a745 !important;
  color: #fff !important;
  float: left;
}
.value-true {
  color: #28a745 !important;
  text-transform: uppercase;
  span {
    border: 1px solid #28a745 !important;
    border-radius: 20px;
    padding: 4px 10px;
  }
}
.value-false {
  color: #dc3545 !important;
  text-transform: uppercase;
  span {
    border: 1px solid #dc3545 !important;
    border-radius: 20px;
    padding: 4px 10px;
  }
}
.btn-no {
  background-color: #dc3545 !important; /* bootstrap-red */
  border-color: #dc3545 !important;
  color: #fff !important;
}
.p-dialog {
  background: var(--border-white) !important;
  color: #000 !important;
}
.p-dialog-footer {
  justify-content: space-between !important;
  flex-direction: row-reverse;
}
.p-multiselect-list-container,
.p-multiselect-option-selected {
  background: var(--border-white) !important;
}
.p-dialog .p-dialog-close-button {
  float: right;
}
.p-dialog .p-confirmdialog-accept-button:not(:disabled):hover,
.p-dialog .p-confirmdialog-reject-button:not(:disabled):hover {
  background: var(--p-button-primary-background) !important;
}
.p-dialog .p-dialog-content {
  flex-direction: column;
}
.p-datatable-filter-overlay-popover,
.p-select:not(.p-disabled),
.p-datatable-filter-overlay-popover,
.p-select:not(.p-disabled):hover,
.p-paginator .p-select {
  background: var(--white-color-add) !important;
  color: var(--black-color) !important;
}
.p-tieredmenu-root-list,
.p-tieredmenu-submenu {
  font-size: 13px !important;
}
.p-inputtext,
.p-select-list,
.p-select:not(.p-disabled),
.p-paginator .p-select-label,
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus,
.p-tab:not(.p-tab-active):not(.p-disabled):hover {
  background: var(--white-color-add) !important;
  color: var(--black-color) !important;
}
.p-paginator-rpp-dropdown {
  background: #fff !important;
}
.p-select-label {
  background: transparent !important;
}
.p-multiselect-option:not(.p-multiselect-option-selected):not(
    .p-disabled
  ).p-focus {
  background-color: var(--white-color-add) !important;
}
.p-tieredmenu {
  min-width: auto !important;
  top: 106.725px !important;
}
.unsaved-changes-dialog {
  .p-dialog-header {
    text-align: center;
  }

  .p-dialog-footer .p-confirmdialog-accept-button,
  .p-dialog-footer .p-confirmdialog-accept-button:hover {
    background-color: green !important;
    border: none !important;
    width: 130px !important;
  }
  .p-dialog-footer .p-confirmdialog-reject-button,
  .p-dialog-footer .p-confirmdialog-reject-button:hover {
    background-color: #dc2626 !important;
    border: none !important;
    width: 130px !important;
  }
}
