<div class="page-content">
  <app-toolbar-table
    [addPermission]="'/Meetings/Post'"
    [title]="'License Information'"
    [labelBtn]="'Add License Information'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddLicenseInformation()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>

  <ng-container *ngIf="licenseInformation$ | async as licenseInformation">
    <app-table
      [viewPermission]="[
        '/LegalFormLaws/Get',
        '/LegalFormLaws/GetAll',
        '/LegalFormLaws/GetAllHistory'
      ]"
      [editPermission]="'/LegalFormLaws/Put'"
      [deletePermission]="'/LegalFormLaws/Delete'"
      #tableRef
      (onBulkDelete)="onBulkDelete($event)"
      [cols]="colsInside"
      [tableData]="filteredLicenseInformation"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewLicenseInformationTable]="true"
      (onDelete)="onDeleteLicenseInformation($event)"
      (onEdit)="onEditLicenseInformation($event)"
      (viewForm)="onViewLicenseInformation($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
