<!--toolbar-->

<p-toolbar styleClass="mb-6  p-3">
  <ng-template #start>
    <p class="client">
      <span class="pi pi-angle-left" *ngIf="backExists"></span>{{ header }}
      <span class="badge badge-warning">Pending</span>
    </p>
  </ng-template>

  <ng-template #end>
    <p-splitButton
      label="Workflow Actions"
      [model]="items"
      class="work-actions"
    />
  </ng-template>
</p-toolbar>
<!--tabs and forms-->
<p-tabs value="0" styleClass="p-3">
  <p-tablist *ngIf="addClient">
    <p-tab value="0">Company</p-tab>
    <p-tab value="1">Individual</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="row justify-content-between">
        <div class="col-sm-3 p-0">
          <h2 class="m-0">{{ title }}</h2>
          <p class="tab-panel-paragraph">
            {{ description }}
          </p>
        </div>
        <div class="col-sm-8">
          <div class="flex flex-col md:flex-row gap-8">
            <div class="md:w-2/2">
              <div class="flex flex-col gap-2">
                <form action="" *ngIf="showMain">
                  <label for="nameEnglish"
                    >Name in English<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="nameEnglish"
                    aria-describedby="nameEnglish-help"
                    [(ngModel)]="value"
                    name="nameEnglish"
                    placeholder="Google"
                  />
                  <label for="nameArabic"
                    >Name in Arabic<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="nameArabic"
                    aria-describedby="nameArabic-help"
                    [(ngModel)]="value1"
                    placeholder="Google"
                    name="nameArabic"
                  />
                  <label for="sectors"
                    >Select Sector<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="sectors"
                    [(ngModel)]="selectedSectors"
                    placeholder="Select Sectors"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="sectors"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="subSectors"
                    >Select Sub Sector<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="subSectors"
                    [(ngModel)]="selectedSubSectors"
                    placeholder="Select Sub Sectors"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="subSectors"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="businessActivity"
                    >Business Activity<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="businessActivity"
                    aria-describedby="businessActivity-help"
                    [(ngModel)]="value2"
                    name="businessActivity"
                    placeholder="Technology Business"
                  />
                  <label for="taxId">Tax ID<sup class="danger">*</sup></label>

                  <input
                    pInputText
                    id="taxId"
                    aria-describedby="taxId-help"
                    [(ngModel)]="value3"
                    name="taxId"
                    placeholder="#101020203030"
                  />
                  <label for="shortName">Short Name</label>
                  <input
                    pInputText
                    id="shortName"
                    aria-describedby="shortName-help"
                    [(ngModel)]="value4"
                    placeholder="GO"
                    name="shortName"
                  />
                </form>
                <form action="" *ngIf="showLegal">
                  <label for="legalFormLaw">Legal Form Law</label>
                  <p-multiselect
                    [options]="legalFormLaw"
                    [(ngModel)]="selectedLegalFormLaw"
                    placeholder="Select Legal Form Law"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="legalFormLaw"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="legalForm">Select Legal Form</label>
                  <p-multiselect
                    [options]="legalForm"
                    [(ngModel)]="selectedLegalForm"
                    placeholder="Select Legal Forms"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="legalForm"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="stampDuty">Is Stamp Duty?</label>
                  <p-select
                    [options]="stamps"
                    optionLabel="name"
                    placeholder="Select Stamp Duty"
                    class="w-full md:w-56"
                  />
                </form>
                <form action="" *ngIf="showBusiness">
                  <label for="mainShare">Main Share</label>
                  <input
                    pInputText
                    id="mainShare"
                    aria-describedby="mainShare-help"
                    [(ngModel)]="value"
                    name="mainShare"
                    placeholder="Main Share"
                  />
                  <label for="marketShare">Market Share</label>
                  <input
                    pInputText
                    id="marketShare"
                    aria-describedby="marketShare-help"
                    [(ngModel)]="value1"
                    placeholder="58%"
                    name="marketShare"
                  />

                  <label for="establishedYear">Established Year</label>
                  <input
                    pInputText
                    id="establishedYear"
                    aria-describedby="establishedYear-help"
                    [(ngModel)]="value2"
                    name="establishedYear"
                    placeholder="2014"
                  />
                  <label for="website">Website</label>

                  <input
                    pInputText
                    id="website"
                    aria-describedby="website-help"
                    [(ngModel)]="value3"
                    name="website"
                    placeholder="https://www.google.com"
                  />
                  <label for="marketSize">Market Size</label>
                  <input
                    pInputText
                    id="marketSize"
                    aria-describedby="marketSize-help"
                    [(ngModel)]="value4"
                    placeholder="50M"
                    name="marketSize"
                  />
                  <label for="noOfEmployees">Number of Employees</label>
                  <input
                    pInputText
                    id="noOfEmployees"
                    aria-describedby="noOfEmployees-help"
                    [(ngModel)]="value4"
                    placeholder="50,000"
                    name="noOfEmployees"
                  />
                </form>
                <form action="" *ngIf="showUpload">
                  <label for="documentTypes"
                    >Document Type<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="documentTypes"
                    [(ngModel)]="selectedDocumentTypes"
                    placeholder="Select Document Type"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="documentTypes"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="calendar"
                    >Expiry Date<sup class="danger">*</sup></label
                  >
                  <p-calendar
                    [(ngModel)]="date2"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    placeholder="Expiry Date"
                    inputId="icondisplay"
                    name="calendar"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1" *ngIf="addClient">
      <div class="row justify-content-between">
        <div class="col-sm-3 p-0">
          <h2 class="m-0">{{ titleIndividual }}</h2>
          <p class="tab-panel-paragraph">
            {{ descriptionIndividual }}
          </p>
        </div>
        <div class="col-sm-8">
          <div class="flex flex-col md:flex-row gap-8">
            <div class="md:w-2/2">
              <div class="flex flex-col gap-2">
                <form action="" *ngIf="showMain">
                  <label for="nameEnglish"
                    >Name in English<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="nameEnglish"
                    aria-describedby="nameEnglish-help"
                    [(ngModel)]="value"
                    name="nameEnglish"
                    placeholder="Google"
                  />
                  <label for="nameArabic"
                    >Name in Arabic<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="nameArabic"
                    aria-describedby="nameArabic-help"
                    [(ngModel)]="value1"
                    placeholder="Google"
                    name="nameArabic"
                  />
                  <label for="sectors"
                    >Select Sector<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="sectors"
                    [(ngModel)]="selectedSectors"
                    placeholder="Select Sectors"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="sectors"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="subSectors"
                    >Select Sub Sector<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="subSectors"
                    [(ngModel)]="selectedSubSectors"
                    placeholder="Select Sub Sectors"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="subSectors"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="businessActivity"
                    >Business Activity<sup class="danger">*</sup></label
                  >
                  <input
                    pInputText
                    id="businessActivity"
                    aria-describedby="businessActivity-help"
                    [(ngModel)]="value2"
                    name="businessActivity"
                    placeholder="Technology Business"
                  />
                  <label for="taxId">Tax ID<sup class="danger">*</sup></label>

                  <input
                    pInputText
                    id="taxId"
                    aria-describedby="taxId-help"
                    [(ngModel)]="value3"
                    name="taxId"
                    placeholder="#101020203030"
                  />
                  <label for="shortName">Short Name</label>
                  <input
                    pInputText
                    id="shortName"
                    aria-describedby="shortName-help"
                    [(ngModel)]="value4"
                    placeholder="GO"
                    name="shortName"
                  />
                </form>
                <form action="" *ngIf="showLegal">
                  <label for="legalFormLaw">Legal Form Law</label>
                  <p-multiselect
                    [options]="legalFormLaw"
                    [(ngModel)]="selectedLegalFormLaw"
                    placeholder="Select Legal Form Law"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="legalFormLaw"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="legalForm">Select Legal Form</label>
                  <p-multiselect
                    [options]="legalForm"
                    [(ngModel)]="selectedLegalForm"
                    placeholder="Select Legal Forms"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="legalForm"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="stampDuty">Is Stamp Duty?</label>
                  <p-select
                    [options]="stamps"
                    optionLabel="name"
                    placeholder="Select Stamp Duty"
                    class="w-full md:w-56"
                  />
                </form>
                <form action="" *ngIf="showBusiness">
                  <label for="mainShare">Main Share</label>
                  <input
                    pInputText
                    id="mainShare"
                    aria-describedby="mainShare-help"
                    [(ngModel)]="value"
                    name="mainShare"
                    placeholder="Main Share"
                  />
                  <label for="marketShare">Market Share</label>
                  <input
                    pInputText
                    id="marketShare"
                    aria-describedby="marketShare-help"
                    [(ngModel)]="value1"
                    placeholder="58%"
                    name="marketShare"
                  />

                  <label for="establishedYear">Established Year</label>
                  <input
                    pInputText
                    id="establishedYear"
                    aria-describedby="establishedYear-help"
                    [(ngModel)]="value2"
                    name="establishedYear"
                    placeholder="2014"
                  />
                  <label for="website">Website</label>

                  <input
                    pInputText
                    id="website"
                    aria-describedby="website-help"
                    [(ngModel)]="value3"
                    name="website"
                    placeholder="https://www.google.com"
                  />
                  <label for="marketSize">Market Size</label>
                  <input
                    pInputText
                    id="marketSize"
                    aria-describedby="marketSize-help"
                    [(ngModel)]="value4"
                    placeholder="50M"
                    name="marketSize"
                  />
                  <label for="noOfEmployees">Number of Employees</label>
                  <input
                    pInputText
                    id="noOfEmployees"
                    aria-describedby="noOfEmployees-help"
                    [(ngModel)]="value4"
                    placeholder="50,000"
                    name="noOfEmployees"
                  />
                </form>
                <form action="" *ngIf="showUpload">
                  <label for="documentTypes"
                    >Document Type<sup class="danger">*</sup></label
                  >
                  <p-multiselect
                    [options]="documentTypes"
                    [(ngModel)]="selectedDocumentTypes"
                    placeholder="Select Document Type"
                    optionLabel="name"
                    display="chip"
                    icon="pi pi-times"
                    name="documentTypes"
                    styleClass="w-full md:w-80"
                    [maxSelectedLabels]="999"
                    chipIcon="pi pi-times"
                  />
                  <label for="calendar"
                    >Expiry Date<sup class="danger">*</sup></label
                  >
                  <p-calendar
                    [(ngModel)]="date2"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    placeholder="Expiry Date"
                    inputId="icondisplay"
                    name="calendar"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
