<div class="row justify-content-between">
  <div class="col-sm-3 p-0 d-flex justify-start flex-column">
    <h2 class="m-0">{{ title }}</h2>
    <p class="tab-panel-paragraph">
      {{ description }}
    </p>
    <p-button
      *ngIf="uploadDocumentsShowMain"
      icon="pi pi-cog"
      iconPos="left"
      label="View Document Details"
      class="custom-view m-0 float-right"
    />
    <p-button
      *ngIf="addAddressShowMain"
      icon="pi pi-cog"
      iconPos="left"
      label="View Address Details"
      class="custom-view m-0 float-right"
    />
    <p-button
      *ngIf="addSalesShowMain"
      icon="pi pi-cog"
      iconPos="left"
      label="View Sales Turnover"
      class="custom-view m-0 float-right"
    />
  </div>
  <div class="col-sm-8">
    <div class="flex flex-col md:flex-row gap-8">
      <div class="md:w-2/2">
        <div class="flex flex-col gap-2">
          <form action="" *ngIf="addClientShowMain">
            <label for="nameEnglish"
              >Name in English<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="nameEnglish"
              aria-describedby="nameEnglish-help"
              [(ngModel)]="value"
              name="nameEnglish"
              placeholder="Google"
            />
            <label for="nameArabic"
              >Name in Arabic<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="nameArabic"
              aria-describedby="nameArabic-help"
              [(ngModel)]="value1"
              placeholder="Google"
              name="nameArabic"
            />
            <label for="sectors"
              >Select Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="sectors"
              [(ngModel)]="selectedSectors"
              placeholder="Select Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="sectors"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="subSectors"
              >Select Sub Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="subSectors"
              [(ngModel)]="selectedSubSectors"
              placeholder="Select Sub Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="subSectors"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="businessActivity"
              >Business Activity<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="businessActivity"
              aria-describedby="businessActivity-help"
              [(ngModel)]="value2"
              name="businessActivity"
              placeholder="Technology Business"
            />
            <label for="taxId">Tax ID<sup class="danger">*</sup></label>

            <input
              pInputText
              id="taxId"
              aria-describedby="taxId-help"
              [(ngModel)]="value3"
              name="taxId"
              placeholder="#101020203030"
            />
            <label for="shortName">Short Name</label>
            <input
              pInputText
              id="shortName"
              aria-describedby="shortName-help"
              [(ngModel)]="value4"
              placeholder="GO"
              name="shortName"
            />
          </form>
          <form action="" *ngIf="addClientShowLegal">
            <label for="legalFormLaw">Legal Form Law</label>
            <p-multiselect
              [options]="legalFormLaw"
              [(ngModel)]="selectedLegalFormLaw"
              placeholder="Select Legal Form Law"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="legalFormLaw"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="legalForm">Select Legal Form</label>
            <p-multiselect
              [options]="legalForm"
              [(ngModel)]="selectedLegalForm"
              placeholder="Select Legal Forms"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="legalForm"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="stampDuty">Is Stamp Duty?</label>
            <p-select
              [options]="stamps"
              optionLabel="name"
              placeholder="Select Stamp Duty"
              class="w-full md:w-56"
            />
          </form>
          <form action="" *ngIf="addClientShowBusiness">
            <label for="mainShare">Main Share</label>
            <input
              pInputText
              id="mainShare"
              aria-describedby="mainShare-help"
              [(ngModel)]="value5"
              name="mainShare"
              placeholder="Main Share"
            />
            <label for="marketShare">Market Share</label>
            <input
              pInputText
              id="marketShare"
              aria-describedby="marketShare-help"
              [(ngModel)]="value6"
              placeholder="58%"
              name="marketShare"
            />

            <label for="establishedYear">Established Year</label>
            <input
              pInputText
              id="establishedYear"
              aria-describedby="establishedYear-help"
              [(ngModel)]="value7"
              name="establishedYear"
              placeholder="2014"
            />
            <label for="website">Website</label>

            <input
              pInputText
              id="website"
              aria-describedby="website-help"
              [(ngModel)]="value8"
              name="website"
              placeholder="https://www.google.com"
            />
            <label for="marketSize">Market Size</label>
            <input
              pInputText
              id="marketSize"
              aria-describedby="marketSize-help"
              [(ngModel)]="value9"
              placeholder="50M"
              name="marketSize"
            />
            <label for="noOfEmployees">Number of Employees</label>
            <input
              pInputText
              id="noOfEmployees"
              aria-describedby="noOfEmployees-help"
              [(ngModel)]="value10"
              placeholder="50,000"
              name="noOfEmployees"
            />
          </form>

          <form action="" *ngIf="addClientShowIndividual">
            <label for="nameEnglishIndividual"
              >Name in English<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="nameEnglishIndividual"
              aria-describedby="nameEnglishIndividual-help"
              [(ngModel)]="value11"
              name="nameEnglishIndividual"
              placeholder="Google"
            />
            <label for="nameArabicIndividual"
              >Name in Arabic<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="nameArabicIndividual"
              aria-describedby="nameArabicIndividual-help"
              [(ngModel)]="value12"
              placeholder="Google"
              name="nameArabicIndividual"
            />
            <label for="businessActivityIndividual"
              >Business Activity<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="businessActivityIndividual"
              aria-describedby="businessActivityIndividual-help"
              [(ngModel)]="value13"
              placeholder="Technology Business"
              name="businessActivityIndividual"
            />
            <label for="selectSectorIndividual"
              >Select Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="sectorsIndividual"
              [(ngModel)]="selectedSectorsIndividual"
              placeholder="Select Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="sectorsIndividual"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="selectSubSectorIndividual"
              >Select Sub Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="subSectorsIndividual"
              [(ngModel)]="selectedSubSectorsIndividual"
              placeholder="Select Sub Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="subSectorsIndividual"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="shortNameIndividual">Short Name</label>
            <input
              pInputText
              id="shortNameIndividual"
              aria-describedby="shortNameIndividual-help"
              [(ngModel)]="value16"
              placeholder="GO"
              name="shortNameIndividual"
            />
            <label for="jobTitleIndividual">Job Title</label>
            <input
              pInputText
              id="jobTitleIndividual"
              aria-describedby="jobTitleIndividual-help"
              [(ngModel)]="value17"
              placeholder="Senior UI/UX Designer"
              name="jobTitleIndividual"
            />
            <label for="taxIdIndividual"
              >Tax ID<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="taxIdIndividual"
              aria-describedby="taxIdIndividual-help"
              [(ngModel)]="value18"
              placeholder="#101020203030"
              name="taxIdIndividual"
            />
            <div class="row">
              <div class="col-sm">
                <label for="dateOfBirthIndividual"
                  >Date of Birth<sup class="danger">*</sup></label
                >
                <p-calendar
                  [(ngModel)]="date1"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Date Of Birth"
                  inputId="icondisplay"
                  name="dateOfBirthIndividual"
                />
              </div>
              <div class="col-sm">
                <label for="genderIndividual"
                  >Gender<sup class="danger">*</sup></label
                >
                <p-select
                  [options]="genders"
                  [(ngModel)]="selectedGenders"
                  optionLabel="name"
                  placeholder="Select a Gender"
                  class="w-full md:w-56"
                  name="gender"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="identificationNumberIndividual"
                  >Identification Number<sup class="danger">*</sup></label
                >
                <input
                  pInputText
                  id="identificationNumberIndividual"
                  aria-describedby="identificationNumberIndividual-help"
                  [(ngModel)]="value21"
                  placeholder="#42352353"
                  name="identificationNumberIndividual"
                />
              </div>
              <div class="col-sm">
                <div class="row align-items-center">
                  <div class="col-sm-10">
                    <label for="selectIdentityIndividual"
                      >Select Identity<sup class="danger">*</sup></label
                    >
                    <p-multiselect
                      [options]="identityIndividual"
                      [(ngModel)]="selectedIdentityIndividual"
                      placeholder="Select Identity"
                      optionLabel="name"
                      display="chip"
                      icon="pi pi-times"
                      name="identityIndividual"
                      styleClass="w-full md:w-80"
                      [maxSelectedLabels]="999"
                      chipIcon="pi pi-times"
                    />
                  </div>
                  <div class="col-sm-2 d-flex justify-end">
                    <p-button
                      icon="pi pi-plus"
                      severity="danger"
                      class="add-btn"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form action="" *ngIf="clientOnboardingCompanyShowMain">
            <label for="clientOnboardingCompanyNameEnglish"
              >Name in English<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingNameEnglish"
              aria-describedby="clientOnboardingNameEnglish-help"
              [(ngModel)]="value22"
              name="clientOnboardingNameEnglish"
              placeholder="Google"
            />
            <label for="clientOnboardingCompanyNameArabic"
              >Name in Arabic<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingNameArabic"
              aria-describedby="clientOnboardingNameArabic-help"
              [(ngModel)]="value23"
              placeholder="Google"
              name="clientOnboardingNameArabic"
            />
            <label for="clientOnboardingCompanySectors"
              >Select Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="sectors"
              [(ngModel)]="selectedSectors"
              placeholder="Select Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="clientOnboardingSectors"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="clientOnboardingCompanySubSectors"
              >Select Sub Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="subSectors"
              [(ngModel)]="selectedSubSectors"
              placeholder="Select Sub Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="clientOnboardingCompanySubSectors"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="clientOnboardingCompanyBusinessActivity"
              >Business Activity<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingCompanyBusinessActivity"
              aria-describedby="clientOnboardingCompanyBusinessActivity-help"
              [(ngModel)]="value24"
              name="clientOnboardingCompanyBusinessActivity"
              placeholder="Technology Business"
            />
            <label for="clientOnbardingCompanyTaxId"
              >Tax ID<sup class="danger">*</sup></label
            >

            <input
              pInputText
              id="clientOnbardingCompanyTaxId"
              aria-describedby="clientOnbardingCompanyTaxId-help"
              [(ngModel)]="value25"
              name="clientOnbardingCompanyTaxId"
              placeholder="#101020203030"
            />
            <label for="clientOnboardingCompanyshortName">Short Name</label>
            <input
              pInputText
              id="clientOnboardingCompanyshortName"
              aria-describedby="clientOnboardingCompanyshortName-help"
              [(ngModel)]="value26"
              placeholder="GO"
              name="clientOnboardingCompanyshortName"
            />
          </form>
          <form action="" *ngIf="clientOnboardingIndividualShowMain">
            <label for="clientOnboardingNameEnglishIndividual"
              >Name in English<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingNameEnglishIndividual"
              aria-describedby="clientOnboardingNameEnglishIndividual-help"
              [(ngModel)]="value27"
              name="clientOnboardingNameEnglishIndividual"
              placeholder="Google"
            />
            <label for="clientOnboardingNameArabicIndividual"
              >Name in Arabic<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingNameArabicIndividual"
              aria-describedby="clientOnboardingNameArabicIndividual-help"
              [(ngModel)]="value28"
              placeholder="Google"
              name="clientOnboardingNameArabicIndividual"
            />
            <label for="clientOnboardingBusinessActivityIndividual"
              >Business Activity<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingBusinessActivityIndividual"
              aria-describedby="clientOnboardingBusinessActivityIndividual-help"
              [(ngModel)]="value29"
              placeholder="Technology Business"
              name="clientOnboardingBusinessActivityIndividual"
            />
            <label for="clientOnboardingSelectSectorIndividual"
              >Select Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="sectorsIndividual"
              [(ngModel)]="selectedSectorsIndividual"
              placeholder="Select Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="clientOnboardingSelectSectorIndividual"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="clientOnboardingSelectSubSectorIndividual"
              >Select Sub Sector<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="subSectorsIndividual"
              [(ngModel)]="selectedSubSectorsIndividual"
              placeholder="Select Sub Sectors"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="clientOnboardingSelectSubSectorIndividual"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="clientOnboardingShortNameIndividual">Short Name</label>
            <input
              pInputText
              id="clientOnboardingShortNameIndividual"
              aria-describedby="clientOnboardingShortNameIndividual-help"
              [(ngModel)]="value30"
              placeholder="GO"
              name="clientOnboardingShortNameIndividual"
            />
            <label for="clientOnboardingJobTitleIndividual">Job Title</label>
            <input
              pInputText
              id="clientOnboardingJobTitleIndividual"
              aria-describedby="clientOnboardingJobTitleIndividual-help"
              [(ngModel)]="value24"
              placeholder="Senior UI/UX Designer"
              name="clientOnboardingJobTitleIndividual"
            />
            <label for="clientOnboardingTaxIdIndividual"
              >Tax ID<sup class="danger">*</sup></label
            >
            <input
              pInputText
              id="clientOnboardingTaxIdIndividual"
              aria-describedby="clientOnboardingTaxIdIndividual-help"
              [(ngModel)]="value25"
              placeholder="#101020203030"
              name="clientOnboardingTaxIdIndividual"
            />
            <div class="row">
              <div class="col-sm">
                <label for="clientOnboardingDateOfBirthIndividual"
                  >Date of Birth<sup class="danger">*</sup></label
                >
                <p-calendar
                  [(ngModel)]="date2"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Date Of Birth"
                  inputId="icondisplay"
                  name="clientOnboardingDateOfBirthIndividual"
                />
              </div>
              <div class="col-sm">
                <label for="clientOnboardingGenderIndividual"
                  >Gender<sup class="danger">*</sup></label
                >
                <p-select
                  [options]="genders"
                  [(ngModel)]="selectedGenders"
                  optionLabel="name"
                  placeholder="Select a Gender"
                  class="w-full md:w-56"
                  name="clientOnboardingGenderIndividual"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="identificationNumberIndividual"
                  >Identification Number<sup class="danger">*</sup></label
                >
                <input
                  pInputText
                  id="identificationNumberIndividual"
                  aria-describedby="identificationNumberIndividual-help"
                  [(ngModel)]="value31"
                  placeholder="#42352353"
                  name="identificationNumberIndividual"
                />
              </div>
              <div class="col-sm">
                <div class="row align-items-center">
                  <div class="col-sm-10">
                    <label for="selectIdentityIndividual"
                      >Select Identity<sup class="danger">*</sup></label
                    >
                    <p-multiselect
                      [options]="identityIndividual"
                      [(ngModel)]="selectedIdentityIndividual"
                      placeholder="Select Identity"
                      optionLabel="name"
                      display="chip"
                      icon="pi pi-times"
                      name="identityIndividual"
                      styleClass="w-full md:w-80"
                      [maxSelectedLabels]="999"
                      chipIcon="pi pi-times"
                    />
                  </div>
                  <div class="col-sm-2 d-flex justify-end">
                    <p-button
                      icon="pi pi-plus"
                      severity="danger"
                      class="add-btn"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form action="" *ngIf="uploadDocumentsShowMain">
            <label for="documents"
              >Document Type<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="documents"
              [(ngModel)]="selectedDocuments"
              placeholder="Select Document Type"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="documents"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="calendar">Expiry Date<sup class="danger">*</sup></label>
            <p-calendar
              [(ngModel)]="date3"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="Expiry Date"
              inputId="icondisplay"
              name="calendar"
            />
          </form>
          <form action="" *ngIf="addAddressShowMain">
            <label for="addresses"
              >Address Type<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="addresses"
              [(ngModel)]="selectedAddresses"
              placeholder="Select Address Type"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="addresses"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="countries">Country<sup class="danger">*</sup></label>
            <p-multiselect
              [options]="countries"
              [(ngModel)]="selectedCountries"
              placeholder="Select Country"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="countries"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="governments"
              >Government<sup class="danger">*</sup></label
            >
            <p-multiselect
              [options]="governments"
              [(ngModel)]="selectedGovernments"
              placeholder="Select Government"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="governments"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="areas">Area<sup class="danger">*</sup></label>
            <p-multiselect
              [options]="areas"
              [(ngModel)]="selectedAreas"
              placeholder="Select Area"
              optionLabel="name"
              display="chip"
              icon="pi pi-times"
              name="areas"
              styleClass="w-full md:w-80"
              [maxSelectedLabels]="999"
              chipIcon="pi pi-times"
            />
            <label for="detailsEnglish">Details English</label>
            <input
              pInputText
              id="detailsEnglish"
              aria-describedby="detailsEnglish-help"
              [(ngModel)]="value32"
              name="detailsEnglish"
              placeholder="Address Details"
            />
            <label for="detailsEnglish">Details Arabic</label>
            <input
              pInputText
              id="detailsArabic"
              aria-describedby="detailsArabic-help"
              [(ngModel)]="value33"
              name="detailsArabic"
              placeholder="Address Details"
            />
            <div class="row">
              <div class="col-sm">
                <label for="isMain">isMain<sup class="danger">*</sup></label>
                <p-select
                  [options]="isMain"
                  [(ngModel)]="selectedIsMain"
                  optionLabel="name"
                  placeholder="Is main?"
                  class="w-full md:w-56"
                  name="isMain"
                />
              </div>
              <div class="col-sm">
                <label for="isActive"
                  >isActive<sup class="danger">*</sup></label
                >
                <p-select
                  [options]="isActive"
                  [(ngModel)]="selectedIsActive"
                  optionLabel="name"
                  placeholder="is Active?"
                  class="w-full md:w-56"
                  name="isActive"
                />
              </div>
            </div>
          </form>
          <form action="" *ngIf="addSalesShowMain">
            <label for="amount">Amount <sup class="danger">*</sup></label>
            <input
              pInputText
              id="amount"
              aria-describedby="amount-help"
              [(ngModel)]="value34"
              name="amount"
              placeholder="Add Amount"
            />
            <label for="dateSalesTurnover"
              >Date<sup class="danger">*</sup></label
            >
            <p-calendar
              [(ngModel)]="date4"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="Date"
              inputId="icondisplay"
              name="dateSalesTurnover"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
