<app-toolbar-form
  [header]="'Add a Mandate'"
  [backExists]="false"
  [viewOnly]="false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-forms
        [title]="'Basic Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addMandateShowBasicForm]="true"
      ></app-forms>
      <hr />
      <app-forms
        [title]="'Officers'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowOfficersForm]="true"
      ></app-forms>
      <hr />
      <app-forms
        [title]="'Contact Persons'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowContactPersonsForm]="true"
      ></app-forms>
      <hr />
      <app-forms
        [title]="'Assest Type'"
        [description]="'This information will be displayed publicly'"
        [addMandateShowAssetTypeForm]="true"
      ></app-forms>
      <hr />
      <app-forms
        [title]="'More Information'"
        [description]="
          'Introduce your company core info quickly to users by fill up company details'
        "
        [addMandateShowMoreInformationForm]="true"
      ></app-forms>
      <div class="row justify-end">
        <div
          class="col-sm-12 mt-4 col-md-6 d-flex justify-end m-0 padding-right"
          (click)="saveInfo()"
        >
          <p-button
            label="Save Information"
            class="custom-save m-0 float-right"
          />
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
