<app-toolbar-form
  [header]="
    viewOnly
      ? 'View Payment Period'
      : editMode
      ? 'Edit Payment Period'
      : 'Add Payment Period'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addPaymentPeriodsLookupsForm"
        [title]="''"
        [description]="
          'Introduce your payment Period core info quickly to users by fill up payment Period details'
        "
        [formGroup]="addPaymentPeriodsLookupsForm"
        [addPaymentPeriodsLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditPaymentPeriods()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
