<div class="container-fluid my-4">
  <app-toolbar-card
    [title]="'Teams Activity'"
    [backExists]="true"
    [backIcon]="'back-icon'"
    [btnExists]="false"
  ></app-toolbar-card>
  <div
    class="row w-100 gap-5 mx-auto"
    [ngClass]="{
            'gap-4': row.length === 1||row.length === 2,
          }"
    *ngFor="let row of cards"
  >
    <div
      class="col-sm p-0 width-auto"
      *ngFor="let card of row"
      [ngClass]="{
                'col-sm-4': row.length === 1||row.length === 2,
              }"
    >
      <app-card
        [imgUrl]="card.imgUrl"
        [imgAlt]="card.imgAlt"
        [title]="card.title"
        [content]="card.content"
      ></app-card>
    </div>
  </div>
</div>
