<app-toolbar-form
  [header]="editMode ? 'Edit Country' : 'Add Country'"
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="addCountriesLookupsForm"
        [title]="'Main Information'"
        [description]="
          'Introduce your country core info quickly to users'
        "
        [formGroup]="addCountriesLookupsForm"
        [addCountriesLookupsForm]="true"
        [editMode]="editMode"
        (submitForm)="addOrEditCountries()"
        [viewOnly]="viewOnly"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
