<div class="page-content">
  <app-toolbar-table
    [title]="'Client  Legals'"
    [labelBtn]="'Add Client  Legal'"
    [iconBtn]="'plus-icon'"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [customSpacing]="'custom-spacing'"
    [exports]="true"
    (addBtn)="onAddLegal()"
    (searchChange)="onSearch($event)"
    (toggleFiltersEvent)="onToggleFilters($event)"
    (exportExcel)="tableRef.exportToExcel()"
    (exportPDF)="tableRef.generatePdf()"
  ></app-toolbar-table>
  <ng-container *ngIf="clientLegals$ | async as clientLegals">
    <app-table
      #tableRef
      [cols]="colsInside"
      [tableData]="filteredLegals"
      [edit]="true"
      [delete]="true"
      [side]="false"
      [first]="first2"
      [checkBox]="true"
      [view]="true"
      [filters]="showFilters"
      [uppercase]="'uppercase'"
      [viewClientLegalTable]="true"
      (onDelete)="onDeleteLegal($event)"
      (onEdit)="onEditLegal($event)"
      (viewForm)="onViewLegal($event)"
    ></app-table>
    <app-delete-module
      [visible]="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="cancelDelete()"
    ></app-delete-module>
  </ng-container>
</div>
