<app-toolbar-form
  [header]="viewOnly ? 'View Client' : editMode ? 'Edit Client' : 'Add Client'"
  [backExists]="false"
  [closeExists]="true"
  [closeIcon]="'close-icon'"
  [viewOnly]="false"
  [selectedAction]="selectedAction"
  [workFlowItems]="workFlowActionList"
  (saveAction)="handleWorkflowAction($event)"
></app-toolbar-form>

<p-tabs [value]="tabValue" styleClass="p-3">
  <p-tablist>
    <p-tab [value]="0" [disabled]="disableCompanyTab">Company</p-tab>
    <p-tab [value]="1" [disabled]="disableIndividualTab">Individual</p-tab>
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel [value]="0">
      <p-stepper [value]="1" class="basis-[50rem] mb-2">
        <p-step-panels>
          <!-- Step 1: Main Info -->
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col">
                <app-form
                  [formGroup]="addClientForm"
                  [title]="'Main Information'"
                  [description]="
                    'Introduce your company core info quickly to users by fill up company details'
                  "
                  [addClientShowMain]="true"
                  [addClient]="true"
                  [sectorsList]="sectorsList"
                  [subSectorsList]="subSectorsList"
                  [selectedSectorId]="selectedSectorId"
                  [selectedSubSectorId]="selectedSubSectorId"
                  (sectorChanged)="onSectorChanged($event)"
                  [viewOnly]="viewOnly && tabValue === 0"
                ></app-form>
                <div
                  class="col-sm-6 d-flex justify-end float-right margin-top p-0 w-100"
                >
                  <p-button
                    class="custom-save m-0"
                    label="Next"
                    (click)="activateCallback(2)"
                  ></p-button>
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <!-- Step 2: Legal Info -->
          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col">
                <app-form
                  [formGroup]="addClientForm"
                  [title]="'Legal Information'"
                  [description]="'This information will be displayed publicly'"
                  [addClientShowLegal]="true"
                  [addClient]="true"
                  [viewOnly]="viewOnly && tabValue === 0"
                ></app-form>

                <div class="row two-buttons margin-top">
                  <div class="col-sm-6">
                    <p-button
                      label="Previous"
                      class="custom-back"
                      (click)="activateCallback(1)"
                    ></p-button>
                  </div>
                  <div class="col-sm-6 m-0">
                    <p-button
                      label="Next"
                      (click)="activateCallback(3)"
                      class="custom-save m-0 float-right"
                    ></p-button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <!-- Step 3: Business Info -->
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col">
                <app-form
                  [formGroup]="addClientForm"
                  [title]="'Business Information'"
                  [description]="'This information will be displayed publicly'"
                  [addClientShowBusiness]="true"
                  [addClient]="true"
                  [viewOnly]="viewOnly && tabValue === 0"
                ></app-form>

                <div class="row two-buttons margin-top">
                  <div class="col-sm-6">
                    <p-button
                      label="Previous"
                      (click)="activateCallback(2)"
                      class="custom-back d-flex justify-start"
                    ></p-button>
                  </div>
                  <div class="col-sm-6 m-0">
                    <p-button
                      *ngIf="!viewOnly"
                      label="Save Information"
                      (click)="saveInfo()"
                      class="custom-save2 m-0 float-right"
                    ></p-button>
                    <p-button
                      *ngIf="viewOnly"
                      (click)="close()"
                      label="Close"
                      class="custom-save m-0 float-right"
                    ></p-button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </p-tabpanel>

    <!-- Individual Tab -->
    <p-tabpanel [value]="1">
      <app-form
        [formGroup]="addClientFormIndividual"
        [title]="'Main Information'"
        [description]="
          'Introduce your individual core info quickly to users by fill up individual details'
        "
        [addClientShowIndividual]="true"
        [addClient]="true"
        [sectorsList]="sectorsList"
        [subSectorsList]="subSectorsList"
        [selectedSectorId]="selectedSectorId"
        (sectorChanged)="onSectorChanged($event)"
        (removeIdentity)="removeIdentity($event)"
        (addIdentity)="addIdentity()"
        [identityIndividual]="identityOptions"
        [viewOnly]="viewOnly && tabValue === 1"
        [editMode]="editMode"
      ></app-form>

      <div class="row justify-end">
        <div class="col-sm-12 col-md-6 d-flex justify-end margin-top">
          <p-button
            *ngIf="!viewOnly"
            (click)="saveInfoIndividual()"
            label="Save Information"
            class="custom-save m-0 float-right"
          ></p-button>
          <p-button
            *ngIf="viewOnly"
            (click)="close()"
            label="Close"
            class="custom-save m-0 float-right"
          ></p-button>
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
