<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title | translate }}</h2>
    <p class="tab-panel-paragraph">
      {{ description | translate }}
    </p>
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      class="div2"
      [ngClass]="{ span: applyReusable }"
      [formGroup]="formGroup"
    >
      <ng-container *ngIf="addAssetShowInfo">
        <label for="vehiclesManufactureId"
          >Vehicle Manufacturer<sup class="danger">*</sup></label
        >
        <p-select
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          id="vehiclesManufactureId"
          [options]="vehicleManufacturers"
          optionLabel="name"
          placeholder="Select Vehicle Manufacturer"
          formControlName="vehiclesManufactureId"
          optionValue="id"
          [ngClass]="{
            'ng-invalid':
              formGroup.get('vehiclesManufactureId')?.invalid &&
              (formGroup.get('vehiclesManufactureId')?.dirty ||
                formGroup.get('vehiclesManufactureId')?.touched)
          }"
        ></p-select>

        <small
          class="p-error"
          *ngIf="
            formGroup.get('vehiclesManufactureId')?.hasError('required') &&
            formGroup.get('vehiclesManufactureId')?.touched
          "
        >
          Vehicle Manufacturer is required.
        </small>
        <br />
        <label for="vehiclesModelId"
          >Vehicle Model<sup class="danger">*</sup></label
        >
        <p-select
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          id="vehiclesModelId"
          [options]="vehicleModels"
          optionLabel="name"
          placeholder="Select Vehicle Model"
          formControlName="vehiclesModelId"
          optionValue="id"
          [ngClass]="{
            'ng-invalid':
              formGroup.get('vehiclesModelId')?.invalid &&
              (formGroup.get('vehiclesModelId')?.dirty ||
                formGroup.get('vehiclesModelId')?.touched)
          }"
        ></p-select>

        <small
          class="p-error"
          *ngIf="
            formGroup.get('vehiclesModelId')?.hasError('required') &&
            formGroup.get('vehiclesModelId')?.touched
          "
        >
          Vehicle Model is required.
        </small>
        <br />
        <label for="modelCategory"
          >Model Category <sup class="danger">*</sup></label
        >
        <input
          pInputText
          name="modelCategory"
          formControlName="modelCategory"
          placeholder="Model Category"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('modelCategory')?.invalid &&
              formGroup.get('modelCategory')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('modelCategory')?.hasError('required') &&
            formGroup.get('modelCategory')?.touched
          "
        >
          Model Category is required.
        </small>
        <br />
        <label for="capacity">Capacity <sup class="danger">*</sup></label>
        <input
          pInputText
          name="capacity"
          formControlName="capacity"
          placeholder="Capacity"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('capacity')?.invalid &&
              formGroup.get('capacity')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('capacity')?.hasError('required') &&
            formGroup.get('capacity')?.touched
          "
        >
          Capacity is required.
        </small>
        <br />
        <label for="horsepower">Horse power <sup class="danger">*</sup></label>
        <input
          pInputText
          name="horsepower"
          formControlName="horsepower"
          placeholder="Horse power"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('horsepower')?.invalid &&
              formGroup.get('horsepower')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('horsepower')?.hasError('required') &&
            formGroup.get('horsepower')?.touched
          "
        >
          Horse power is required.
        </small>
        <br />
        <label for="color">Color <sup class="danger">*</sup></label>
        <input
          pInputText
          name="color"
          formControlName="color"
          placeholder="Color"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('color')?.invalid && formGroup.get('color')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('color')?.hasError('required') &&
            formGroup.get('color')?.touched
          "
        >
          Color is required.
        </small>
        <br />
        <label for="chasisNumber"
          >Chasis Number <sup class="danger">*</sup></label
        >
        <input
          pInputText
          name="chasisNumber"
          formControlName="chasisNumber"
          placeholder="Chasis Number"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('chasisNumber')?.invalid &&
              formGroup.get('chasisNumber')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('chasisNumber')?.hasError('required') &&
            formGroup.get('chasisNumber')?.touched
          "
        >
          Chasis Number is required.
        </small>
        <br />
        <label for="motorNumber"
          >Motor Number <sup class="danger">*</sup></label
        >
        <input
          pInputText
          name="motorNumber"
          formControlName="motorNumber"
          placeholder="Motor Number"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('motorNumber')?.invalid &&
              formGroup.get('motorNumber')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('motorNumber')?.hasError('required') &&
            formGroup.get('motorNumber')?.touched
          "
        >
          Motor Number is required.
        </small>
        <br />
        <label for="keyId">Key Id <sup class="danger">*</sup></label>
        <input
          pInputText
          name="keyId"
          formControlName="keyId"
          placeholder="Key Id"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('keyId')?.invalid && formGroup.get('keyId')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('keyId')?.hasError('required') &&
            formGroup.get('keyId')?.touched
          "
        >
          Key Id is required.
        </small>
        <br />
        <label for="geerChoice">Geer Choice <sup class="danger">*</sup></label>
        <input
          pInputText
          name="geerChoice"
          formControlName="geerChoice"
          placeholder="Geer Choice"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('geerChoice')?.invalid &&
              formGroup.get('geerChoice')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('geerChoice')?.hasError('required') &&
            formGroup.get('geerChoice')?.touched
          "
        >
          Geer Choice is required.
        </small>
        <br />
        <label for="manufactureYear"
          >Manufacture Year <sup class="danger">*</sup></label
        >
        <input
          pInputText
          name="manufactureYear"
          formControlName="manufactureYear"
          placeholder="Manufacture Year"
          type="number"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('manufactureYear')?.invalid &&
              formGroup.get('manufactureYear')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('manufactureYear')?.hasError('required') &&
            formGroup.get('manufactureYear')?.touched
          "
        >
          Manufacture Year is required.
        </small>
        <br />
        <label for="currentValue"
          >Current Value <sup class="danger">*</sup></label
        >
        <input
          pInputText
          name="currentValue"
          formControlName="currentValue"
          placeholder="Current Value"
          type="number"
          [ngClass]="{
            'ng-invalid ng-dirty':
              formGroup.get('currentValue')?.invalid &&
              formGroup.get('currentValue')?.touched
          }"
        />

        <small
          class="p-error"
          *ngIf="
            formGroup.get('currentValue')?.hasError('required') &&
            formGroup.get('currentValue')?.touched
          "
        >
          Current Value is required.
        </small>
        <br />
        <p-toggleSwitch
          id="isRequiredMaintenance"
          formControlName="isRequiredMaintenance"
        ></p-toggleSwitch>
        &nbsp;<label for="isRequiredMaintenance">
          Is Required Maintenance<sup>*</sup></label
        >
        <br />
        <small
          class="p-error"
          *ngIf="
            formGroup.get('isRequiredMaintenance')?.hasError('required') &&
            formGroup.get('isRequiredMaintenance')?.touched
          "
        >
          Is Required Maintenance is required.
        </small>
        <br />
        <p-toggleSwitch
          id="isRequiredKMReading"
          formControlName="isRequiredKMReading"
        ></p-toggleSwitch>
        &nbsp;<label for="isRequiredKMReading">
          Is Required KM Reading<sup>*</sup></label
        >
        <br />
        <small
          class="p-error"
          *ngIf="
            formGroup.get('isRequiredKMReading')?.hasError('required') &&
            formGroup.get('isRequiredKMReading')?.touched
          "
        >
          Is Required KM Reading is required.
        </small>
      </ng-container>
    </form>
  </div>
</div>
