<div class="parent">
  <div *ngIf="!contactPersonDetailsView" class="div1">
    <h2 class="m-0 title">{{ title | translate }}</h2>
    <p class="tab-panel-paragraph">
      {{ description | translate }}
    </p>
  </div>
  <div class="div2" [ngClass]="{ span: applyReusable }">
    <form
      class="div2"
      [ngClass]="{ span: applyReusable }"
      [formGroup]="formGroup"
    >
      <ng-container *ngIf="addAssetShowInfo">
        <label for="vehiclesManufactureId"
          >Vehicle Manufacturer<sup class="danger">*</sup></label
        >
        <p-select
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          id="vehiclesManufactureId"
          [options]="vehicleManufacturers"
          optionLabel="name"
          placeholder="Select Vehicle Manufacturer"
          formControlName="vehiclesManufactureId"
          optionValue="id"
          [ngClass]="{
            'ng-invalid':
              formGroup.get('vehiclesManufactureId')?.invalid &&
              (formGroup.get('vehiclesManufactureId')?.dirty ||
                formGroup.get('vehiclesManufactureId')?.touched)
          }"
        ></p-select>

        <small
          class="p-error"
          *ngIf="
            formGroup.get('vehiclesManufactureId')?.hasError('required') &&
            formGroup.get('vehiclesManufactureId')?.touched
          "
        >
          Vehicle Manufacturer is required.
        </small>
        <br />
        <label for="vehiclesModelId"
          >Vehicle Model<sup class="danger">*</sup></label
        >
        <p-select
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          id="vehiclesModelId"
          [options]="vehicleModels"
          optionLabel="name"
          placeholder="Select Vehicle Model"
          formControlName="vehiclesModelId"
          optionValue="id"
          [ngClass]="{
            'ng-invalid':
              formGroup.get('vehiclesModelId')?.invalid &&
              (formGroup.get('vehiclesModelId')?.dirty ||
                formGroup.get('vehiclesModelId')?.touched)
          }"
        ></p-select>

        <small
          class="p-error"
          *ngIf="
            formGroup.get('vehiclesModelId')?.hasError('required') &&
            formGroup.get('vehiclesModelId')?.touched
          "
        >
          Vehicle Model is required.
        </small>
        <br />
      </ng-container>
    </form>
  </div>
</div>
