<div class="page-content">
  <app-toolbar-table
    [title]="'Share Holder'"
    [labelBtn]="'Add Share Holder'"
    [iconBtn]="''"
    [backIcon]="'back-icon'"
    [backExists]="true"
    [exports]="true"
    (addBtn)="addShareHolder()"
  ></app-toolbar-table>
  <app-table
    [cols]="colsInside"
    [tableData]="tableDataInside"
    [col1Name]="'Share Holder Name'"
    [col2Name]="'Percentage'"
    [col3Name]="'Is Active'"
    [col4Name]="'Name EN'"
    [col5Name]="'Name AR'"
    [edit]="true"
    [delete]="true"
    [side]="false"
    [checkBox]="true"
    [uppercase]="'uppercase'"
    [viewShareHolderTable]="true"
  ></app-table>
</div>
