<app-toolbar-form
  [header]="
    viewMode ? 'View Document' : editMode ? 'Edit Document' : 'Add Document'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="uploadForm"
        [title]="''"
        [selectedFile]="selectedFile"
        [formGroup]="uploadForm"
        [documents]="documentTypes"
        [editMode]="editMode"
        [viewOnly]="viewMode"
        [description]="'Fill in document details'"
        [uploadDocumentsShowMain]="true"
        (submitForm)="addDocument()"
        (onFileSelect)="onFileSelected($event)"
        (downloadFile)="downloadFile()"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
