<app-toolbar-form
  [header]="
    viewMode ? 'View Document' : editMode ? 'Edit Document' : 'Add Document'
  "
  [backExists]="true"
  [backIcon]="'back-icon'"
  [viewOnly]="editMode ? true : false"
></app-toolbar-form>
<p-tabs value="0" styleClass="p-3">
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-form
        *ngIf="uploadForm"
        [title]="'FORM.UPLOAD_DOCUMENTS.TITLE'"
        [description]="'FORM.UPLOAD_DOCUMENTS.DESCRIPTION'"
        [uploadDocumentsShowMain]="true"
        [selectedFile]="selectedFile"
        [formGroup]="uploadForm"
        [existingFileName]="(record$ | async)?.fileName"
        [existingFileId]="(record$ | async)?.fileId"
        [existingFileUrl]="(record$ | async)?.filePath"
        (submitForm)="addDocument()"
        [documents]="documentTypes"
        [editMode]="editMode"
        [viewOnly]="viewMode"
      ></app-form>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
