:host {
  &::ng-deep {
    .p-toolbar {
      border: 0;
      padding: 0;
      margin-bottom: 0;
      justify-content: space-between;
      align-items: start;
      .title {
        color: var(--filter-text);
        font-family: "poppins-bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        margin-bottom: 0;
      }

      .p-inputtext::placeholder,
      .p-inputtext {
        border-radius: 0px;
        color: #a8adb7;
        font-family: "poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .p-inputtext {
        padding: 12px 51px;
      }
      .excel-icon {
        content: url("/assets/images/shared/table/excel.svg");
      }
      .pdf-icon {
        content: url("/assets/images/shared/table/pdf.svg");
      }
      .back-icon {
        content: url("/assets/images/shared/table/back.svg");
      }
      .backIcon {
        border-radius: 0 !important;
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
        margin-bottom: 18px;
      }
      .plus-icon {
        content: url("/assets/images/shared/table/plus.svg");
      }
      .add {
        color: #fff !important;
        padding: 12px 24px;
        border: none;
        background-color: var(--bg-blue) !important;
      }
      .p-button-label {
        font-weight: 700;
      }
      .custom-icon {
        content: url("/assets/images/shared/table/filter.svg");
      }
      .p-button {
        padding: 12px 16px;
        border-radius: 0;
        border: none;
        background-color: var(--bg-transparent);
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        border: 1px solid #d6ddeb !important;
      }
      .backIcon {
        border: none !important;
      }

      .filter .p-button:not(:disabled) {
        color: #25324b;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        background-color: transparent;
        border-radius: 0px;
        padding: 12px 16px;

        border: 1px solid #d6ddeb !important;
      }
      .filter,
      .p-button:not(:disabled):hover {
        color: var(--btn-text);
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        background-color: var(--bg-transparent) !important;
        border-radius: 0px;
        padding: 12px 16px;

        border: 1px solid #d6ddeb;
      }

      .add:not(:disabled),
      .add:not(:disabled):hover {
        padding: 12px 16px;
        border-radius: 0;
        border: none !important;
        background-color: var(--bg-blue) !important;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
      .excel-icon-btn:not(:disabled),
      .pdf-icon-btn:not(:disabled) {
        border-radius: 0;
        border: none !important;
        background-color: var(--bg-grey) !important;
        color: var(--export-text);
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
      .excel-icon-btn:not(:disabled):hover,
      .pdf-icon-btn:not(:disabled):hover {
        border-radius: 0;
        border: none !important;
        background-color: var(--bg-grey) !important;
        color: var(--export-text);
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
    }
    .search-bar {
      background-color: var(--search-table);
      border: 1px solid var(--search-border);
    }
    @media screen and (max-width: 600px) {
      .p-toolbar {
        justify-content: center;
      }
      .p-toolbar .p-inputtext {
        padding: 12px 28px;
      }
    }
    @media screen and (max-width: 900px) {
      .gap-2 {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
