:host {
  &::ng-deep {
    .p-toolbar {
      border: 0;
      padding: 0;
      margin-bottom: 24px;
      .title {
        color: #25324b;
        font-family: "poppins-bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        margin-right: 390px;
      }
      .p-inputtext::placeholder,
      .p-inputtext {
        border-radius: 0px;
        color: #a8adb7;
        font-family: "poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .p-inputtext {
        padding: 12px 16px;
      }
      .excel-icon {
        content: url("/assets/images/shared/table/excel.svg");
      }
      .pdf-icon {
        content: url("/assets/images/shared/table/pdf.svg");
      }
      .back-icon {
        content: url("/assets/images/shared/table/back.svg");
      }
      .backIcon {
        border-radius: 0 !important;
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
        margin-bottom: 18px;
      }
      .plus-icon {
        content: url("/assets/images/shared/table/plus.svg");
      }
      .add-client {
        color: #fff !important;
        padding: 12px 24px;
        background-color: #0a69bb !important;
      }
      .p-button-label {
        font-weight: 700;
      }
      .custom-icon {
        content: url("/assets/images/shared/table/filter.svg");
      }
      .p-button {
        padding: 12px 16px;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
      }
      .filter,
      .p-button:not(:disabled):hover {
        color: #25324b;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        background-color: transparent;
        border-radius: 0px;
        border: 1px solid #d6ddeb;
        padding: 12px 16px;
      }
      .add-client:not(:disabled):hover {
        padding: 12px 16px;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
      .excel-icon-btn:not(:disabled):hover,
      .pdf-icon-btn:not(:disabled):hover {
        padding: 12px 16px;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: #0a69bb;
        font-family: "poppins-bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
      }
    }
  }
}
