<p-toolbar>
  <p class="title">
    <p-button
      icon="{{ backIcon }}"
      styleClass="backIcon"
      *ngIf="backExists"
      (click)="goBack()"
    ></p-button
    >{{ title }}
  </p>
  <div class="d-flex gap-2">
    <p-iconfield iconPosition="left" *ngIf="exports">
      <p-inputicon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        placeholder="Search Keyword"
        class="search-bar"
      />
    </p-iconfield>
    <p-button
      icon="custom-icon"
      label="Filter By"
      styleClass="filter"
      *ngIf="exports"
    />
    <img
      src="/assets/images/shared/table/divider.svg"
      alt="divider"
      *ngIf="exports"
    />
    <p-button
      *ngIf="exports"
      label="Export as"
      icon="excel-icon"
      iconPos="right"
      styleClass="excel-icon-btn"
    />
    <p-button
      *ngIf="exports"
      label="Export as"
      icon="pdf-icon"
      iconPos="right"
      styleClass="pdf-icon-btn"
    />

    <p-button
      label="{{ labelBtn }}"
      icon="{{ iconBtn }}"
      iconPos="left"
      *ngIf="btnAdd"
      styleClass="add"
      (click)="addBtn.emit()"
    />
  </div>
</p-toolbar>
